[2018-05-15 16:38] JWWeatherman opened #1 "Need a dashboard that shows user count and active user data"
This will allow us to track our progress on marketing and also help us figure out what marketing efforts are working best.

[2018-05-15 16:40] JWWeatherman opened #2 "We need a better level completion screen"
The screen should probably include some animation, a short story and stay on screen to give the player the option to move on to the next level or stop playing on a high note

[2018-05-15 16:41] JWWeatherman opened #3 "Need some ux testing to see if players can find the navigation button"
My instinct is that the UFO in the upper left hand corner is too subtle, but we need to put this in the hands of a few new people and see if it is really a problem

[2018-05-15 16:41] JWWeatherman opened #4 "Improve Splash Screen"
- Located in ui/src/components/Splash_screen.vue
- Would like to animate the space ship in ui/src/assets/assets.js to go the opposite direction around the portal.

[2018-05-15 16:42] JWWeatherman opened #5 "Cross browser optimization"
- Optimization is complete for all phone sizes (may need some touch up)
- Need to optimize for tablet sized devices

[2018-05-15 16:43] JWWeatherman opened #6 "Implement Interactive Tutorial"
- User should not need to be able to read in order to understand tutorial
- Should use a hand similar to LightBot (http://lightbot.com/)
- Tutorial should have no effect on the actual state (should make ghost copies of dom elements, not using the Vue model).
- Tutorial config should be added to the level config in conf/assets, if Scala help is needed let us know.

[2018-05-15 16:43] JWWeatherman opened #7 "Need some ux testing to see if players can find the navigation button"
My instinct is that the UFO in the upper left hand corner is too subtle, but we need to put this in the hands of a few new people and see if it is really a problem

[2018-05-15 16:44] #7 closed

[2018-05-16 17:45] JWWeatherman opened #9 "Wait when the robot is placing a required number of blocks"
Levels that require the placement of 5 blocks can be passed if the robot is in the process of placing 7 blocks because as soon as 5 is reached the requirement is met.

Instead either the code that is checking the amount of blocks placed needs to be delayed to allow the robot time to place more blocks making the amount placed incorrect OR

The code that is checking the amount placed also needs to v

[2018-05-16 17:50] JWWeatherman opened #10 "Need to be able to limit the number of commands placed in a function"
Under basic programming we have levels where we assume students will create a left turn function because they can only use two commands and one is the "rocket." But in testing some kids immediately realize they can meet any limitation requirements by rewriting rocket to do everything.

So we should also limit the number of commands that can be placed inside rocket so that they will be forced to cr

[2018-05-18 13:56] giftedprimate commented on #9
This is not the case. The level cannot be passed unless the robot is carrying nothing.

[2018-05-18 14:05] giftedprimate commented on #10
This shouldn't be to difficult to implement. I can include this with the next release.

[2018-05-20 15:58] JWWeatherman commented on #9
Cool.

[2018-05-20 15:58] #9 closed

[2018-05-20 15:59] JWWeatherman commented on #3
We decided to make this blue so that it pops out more.

[2018-05-20 16:05] JWWeatherman opened #16 "We need a deployment plan / strategy"
...that doesn't take us offline for 20 mins when we push a release to production.

[2018-05-20 18:39] JWWeatherman opened #18 "JW work to date on Mathbot"
I've funded mathbot development in excess of 200k between working on it full time and compensating developers including Richard and designers for working on the project (Richard full time for about a year and a half) and Console part time. Evidence of the work is found in the working code.

I'm requesting 180,000 mathbot tokens.

[2018-05-20 18:43] JWWeatherman opened #19 "Richard work to date on mathbot"
Richard has worked on mathbot at a deeply discounted rate for over 1 year as the only full time developer.

He is requesting 40,000 mathbot tokens.

[2018-05-20 18:45] JWWeatherman opened #20 "Console work to date"
Console has worked on mathbot at a deeply discounted rate for over 1 year as a part time developer.

He is requesting 10,000 mathbot tokens.

[2018-05-20 19:23] JWWeatherman opened #21 "Sam Axe work to date"
Sam Axe has been working as a designer for several months at a discounted rate.

Sam is requesting 1,000 Mathbot tokens.

[2018-05-20 23:38] JWWeatherman opened #24 "Record an intro for JWs show"

[2018-05-20 23:38] JWWeatherman opened #25 "Commercial for mathbot.com"
Record a mathbot.com commercial for JWs show. On youtube it should show someone playing mathbot.

[2018-05-20 23:39] JWWeatherman opened #26 "Mathbot image for JW"
When JW talks on youtube we should have an image that is maybe mathbot related, but certainly shows a lower third that includes mathbot.com.

[2018-05-20 23:42] JWWeatherman opened #27 "Contact Ron Paul"
Contact Ron Paul homeschool. Offer them 70% of the revenue, or to just include the free version, or whatever in order to get into his curriculum.

[2018-05-21 04:11] JWWeatherman opened #28 "Clean up JWs YouTube Channel"
Need to
1. get images from the block digest videos as thumbnails
2. make sure to have a sponsored by mathbot ad in the descriptions
3. eventually insert the mathbot commercial in the front and end of both videos.
4. Should record a show intro as well that asks people to subscibe, like, etc and provides twitter and youtube page.

[2018-05-21 04:13] JWWeatherman opened #29 "Get JWs channel on other mediums"
iTunes and Stitcher podcasts, Twitch, etc.

[2018-05-28 22:59] JWWeatherman opened #40 "Need to integrate email service (like mail chimp)"
Customers that sign up for mathbot should be notified when we release new levels or when we have other content they would appreciate. We need someone to integrate a service with the user account database (preferably without needing access to actual email accounts in production for testing).

[2018-05-29 10:37] codeShark149 opened #41 "Adding operation names in "panel" (Green Line)"
1.	Including the name of the operation below each one of them in the control panel (Where kids will create the sequence) will increase the visibility of the sequence created. This will make it easier to go through the steps and cross check if they have entered what they have actually thought.
![issue 1](https://user-images.githubusercontent.com/36541669/40653927-516006f0-635a-11e8-930a-defd5f78f15

[2018-05-29 10:39] codeShark149 opened #42 "Fixing the justification of code sequence in the "panel""
2.	While adding operations into the panel, the present behavior is the left most and right most elements move in order to keep the whole sequence justified in the panel. This creates a difficult situation when the sequence becomes larger than the length of the panel, where after putting the last operation it doesn’t become immediately clear where is the operation placed as the list again tries to

[2018-05-29 10:42] codeShark149 opened #43 "Adding Double Click option along with Drag/Drop"
3.	As in the case for large sequence of Opps, along with Drag-Drop operation, using double click to add/remove Opps into the panel can make the experience cleaner. Having Drag/Drop can be fun for the kids at the start, but letter the site should reveal that they can do it too with Double Click, this will make the addition and removal of operation crisper. ****

[2018-05-29 10:48] codeShark149 opened #44 "Removing Functions from preliminary levels"
1.	In stage Walk 4, along with previous stages, I think removing the functions (Rocket, Uturn & Left turn) can be helpful. Keeping only the required operations can create the understanding of operations better. Then later, along each advanced stages, introducing the functional operations. This will make it more clear how functions are created using elementary operations.
![issue3](https://user-ima

[2018-05-29 10:48] codeShark149 opened #45 "Introducing all the basic elementary operations at preliminary level."
2.	Walking for 4 stages seemed a little bit boring. Instead introduce all the basic elementary operations in first 3/4 stages (Walk and Turn Right). And then start making functions with these elements. Thus a clear distinction between elementary operations and functions will be created through the process in their mind.

[2018-05-29 10:50] codeShark149 opened #46 "Maintaining function heirarchy"
While creating the first function, I feel it would be better to represent the function hierarchy. Instead of showing the functions at the same level with the elementary operations, separated by a vertical green line, it would be better to show the function on top of the elementary operations. This representation will make it clear that the “Functions” are basically higher order abstraction of “Ele

[2018-05-29 10:51] codeShark149 opened #47 "Keeping wrong codes in panel after failed run."
The most major issue I have observed is, after the run of a sequence the panel list is getting cleared. This can be a bummer for longer sequences. As for every unsuccessful run, kids have to enter the entire sequence over again. My suggestion is don’t let the panel clear out after unsuccessful run.

[2018-05-29 14:22] giftedprimate commented on #47
This is actually intentional in basic programming since the point is that we want the user to use each command deliberately in order for them to understand the concepts. In the following levels this will not be the case.

[2018-05-29 14:32] giftedprimate commented on #46
We build the rocket function for the student in order to demonstrate what a function is. The 'U Turn' and 'Turn Left' functions are in fact built by the student as is, the only thing we do for the student is name them. Any future functions a user creates will be built in the same manner.

As for hierarchy, in functional languages everything is a function, therefore there is no true hierarchy. That

[2018-05-29 14:51] giftedprimate commented on #47
I think it is important for the small children to not have an extra step (throw away what's in main) so that we can focus on teaching them how to commands work.

[2018-05-29 20:40] JWWeatherman commented on #47
Sorry, didin't mean to close this. Too much multi-tasking today. This needs a little more user testing I think. We need to balance between frustrating the students with busy work and making sure they learn how to control the robot. Maybe we are already at that balance point, but let's leave this open until we take another look.

[2018-05-30 23:15] 007Amy opened #54 "Add a screen to tell you that you’ve won and more levels will come soon"
More clarity of where you are up to what's completed and what's to come.

[2018-05-30 23:25] 007Amy opened #55 "Add a screen to tell you that you’ve won and more levels will come soon"
More clarity of where you are up to and what's completed.

[2018-05-31 00:08] 007Amy opened #56 "Login Page"
Suggestion - When you login ask what country you are from to gauge where your users resided this could also help with marketing later on.

[2018-05-31 14:17] codeShark149 commented on #47
Yes, that makes sense.. May be we can think of killing it when code sequence exceeds some threshold.. more feedback will help..  well i don't know, how the feedback have came so far?? how many people tried the page??

[2018-06-03 23:00] sleepdoctors opened #57 "Getting stuck on Create New Function level"
In the "create new function" level between move right level and move left level, I am having the same difficulty on both 1366x768 and 1920x1080 resolutions.  The first part says click + and drag u-turn next to person.  The u turn icon is in the black box and you can't drag it out of the box down into the tray next to the person, it only drags out of the box down into the tray next to the rocket.

[2018-06-03 23:03] JWWeatherman commented on #56
This is a good idea, but i think we can get this info based on IP address and we have to be brutally selective about asking the user to do anything. So ill clise for now, but if we cant get tge data another wat we can reopen it.

[2018-06-03 23:03] #56 closed

[2018-06-03 23:05] JWWeatherman commented on #45
We actually srarted with that, but since we are targeting kids as young as 5 we found that a slower build works better fot them. And we hope its fast enough for more capable students to get through wuick.

We could introduce different experiences for different personas, but we hope we can avoid that.

[2018-06-03 23:05] #45 closed

[2018-06-03 23:07] JWWeatherman commented on #43
Double click doesnt exist on mobile and we are trying to maintain a unified experience. Good idea though - we actually tried this a while back.

[2018-06-03 23:07] #43 closed

[2018-06-03 23:08] JWWeatherman commented on #41
This is a tough one. Going to leave open, but the UX designer was trying to find a good balance between usable and pretty.

[2018-06-03 23:11] JWWeatherman commented on #44
Closing for now. We want to get the user comfortable with the entire UI as soon as possible without causing confusion.

[2018-06-03 23:11] #44 closed

[2018-06-03 23:12] JWWeatherman commented on #42
This is a great idea. Might be a little tricky, but Richard has some ideas of how we can make this better.

[2018-06-03 23:15] JWWeatherman commented on #47
Feedback is always hard to get, but the next big change is to add video tutorials. I think we will get people to progress further and provide more feedback with those.

[2018-06-03 23:18] JWWeatherman commented on #57
I think this is a combination of bugs. The first is that the UI is messed up based on the screenshot.

The second is that I think the instructions are unclear. I’ll try to get some video tutorials figured out ASAP.

[2018-06-03 23:21] JWWeatherman opened #58 "Video hints in exchange for stars"
This is a new feature. Gamers should be able to click a help icon to get video hints that are progressively more revealing with the third hint being a complete walkthrough of the level.

After 1hr students should be able to return to the level and complete it with the hints and stars reset.

[2018-06-03 23:21] JWWeatherman commented on #58
Next step is for me to create some video hints.

[2018-06-04 22:59] JWWeatherman opened #59 "Update utility token best practices doc"
This doc explains how to fund a project with tokens and it is how we do it with mathbot.

It needs to be updated. No use of the term "equity" emphasize no ICO.

[2018-06-04 23:18] JWWeatherman commented on #27
Anders will assign this to himself once he creates a github account.

[2018-06-06 18:08] #6 closed

[2018-06-06 18:08] giftedprimate commented on #6
Close because this will be handled by the videos.

[2018-06-07 21:15] JWWeatherman opened #66 "Expand the marketing page"
Would be great if it was easier for @NateAgapi to write copy on the marketing page. One thought is to start fresh with a CMS, but last time we tried that we had issues with slow loading times and bad ux on mobile.

Another thought is to just add a tab to a forum and other places where Nate can provide copy that will he hard coded.

We need someone that has some experience or can investigate the op

[2018-06-07 21:22] JWWeatherman opened #67 "It isn't intuitive to navigate between planets"
![math_bot](https://user-images.githubusercontent.com/32912678/41126792-b7b63956-6a76-11e8-85b3-0de4185c221f.jpg)

Right now when a new planet is available to play it goes from very dark grey to black. As you can see in the attached image it is not obvious that the top planet is clickable.

Here are a couple ideas:

1. At the end of the previous planet, where we select levels, the final level shou

[2018-06-08 12:37] giftedprimate commented on #67
I'll build something today and get it pushed to the pre-prod site for your inspection. This can probably be released tomorrow.

(I added an `URGENT` label for this kind of issue)

[2018-06-09 14:51] giftedprimate opened #73 "Move authentication in house."

[2018-06-10 01:03] giftedprimate commented on #67
Master branch includes these changes. I also fixed some server bugs while I was at it.

[2018-06-10 16:37] eth-is-a-security opened #80 "play button disapears"
bug: when you hit stop program while the robot is picking up or putting down the play button disappears and does not reappear.

[2018-06-10 16:39] eth-is-a-security commented on #80
if you hit stop program while the robot is running into a wall the play button disappears and does not reappear.

[2018-06-10 16:50] eth-is-a-security opened #81 "Math_bot used in Chicago public schools."
I may be able to have math_bot be used in some Chicago Public Schools, I know some CS teachers there who could include it in there curriculum but I am not sure how or if there would be payment.

[2018-06-13 00:24] giftedprimate opened #95 "Empty functions places in main sent to server never respond."
Similar to compiling a function that only calls itself.

[2018-06-13 00:28] giftedprimate opened #96 "Compiler needs to be able to handle an empty recursive function."
We have a temporary fix for this in place but will need to revisit in the future.

[2018-06-15 13:41] JWWeatherman opened #97 "Play button missing after clicking 5 times"
I clicked the play button 5 times and it's gone. I've done this 3 more times to make sure it repeats.
![screenshot_6_15_18__9_37_am](https://user-images.githubusercontent.com/32912678/41470956-34b3e890-7080-11e8-919f-b0b685be6a61.jpg)

[2018-06-15 14:01] JWWeatherman commented on #97
This was an issue I opened to use as an example of how to file a github issue. It is not a real problem. Closing.

[2018-06-15 14:01] #97 closed

[2018-06-15 17:08] JWWeatherman opened #98 "Robot fails when run at 3x speed"
On planet 2 level 2 the robot doesn't complete running if he is at 3x speed.

Here is a video replay:
https://drive.google.com/file/d/1iqBCli9UocgUZgm9gLRM4caXksfCWCM1/view?usp=sharing

[2018-06-15 17:16] JWWeatherman opened #99 "Add video hints"
Display the number of stars with a question mark inside each in the robot dialog box (we should also drop this it 3 max) and allow the gamer to click on the stars to watch a hint video.

Hint videos should be cumulative so that every hint in the first video is also duplicated in the second and both the first and second video hints are duplicated in the third video.

When the gamer clicks on the st

[2018-06-15 17:31] #67 closed

[2018-06-15 22:40] JWWeatherman commented on #81
There would be no need for a payment (and actually no one that could accept payment). All levels can be played for free and we do have at least one other school experimenting with using the software.

[2018-06-15 22:41] #81 closed

[2018-06-15 22:44] JWWeatherman commented on #57
Hey @sleepdoctors can you take a look at the help video and let me know if it makes it more clear:

https://twitter.com/MathBot_dotcom/status/1007696248529477633

These will be inside the app on each level soon, but for now they are numbered. I think you are on Planet 1, Level 4 or 5.

[2018-06-15 22:47] JWWeatherman opened #100 "Function names are cut off after the first line"
On a mac using Chrome I created a function named "Dance Around" but as you can see in the image only the first word is visible.

![cursor_and_math_bot](https://user-images.githubusercontent.com/32912678/41492325-76f735ee-70cc-11e8-901b-d97804a740bf.jpg)

[2018-06-16 21:36] chewmagroo opened #101 "'Navigate' level instructions change 'kitties' to 'portal'"
<img width="1283" alt="math_bot_01" src="https://user-images.githubusercontent.com/28259233/41502591-7f19025e-71b5-11e8-9f20-82bd86a2d62d.png">

[2018-06-17 12:37] chewmagroo opened #102 "Possible bug on 'Clean Up More' level"
Had this issue (see video zip file). Refreshing the page fixed it.
[Bug_01.zip](https://github.com/JWWeatherman/math_bot/files/2108937/Bug_01.zip)

[2018-06-17 21:45] dy24703 opened #103 "Ability to Empty Out a Function with a Single Click"
I was thinking that a useful enhancement for the game would be to add a "clear" button to the functions. I have found the lack of this to be kind of annoying when I need to empty a function of commands by dragging them out.

![image](https://user-images.githubusercontent.com/40341596/41512435-2bb6d3ce-7256-11e8-8065-51ce207621c7.png)

[2018-06-17 21:58] dy24703 commented on #103
Obviously I am not implying that removing two commands as pictured is very difficult, but sometimes you end up with quite a few commands inside of a function and need to clear it out. This would be helpful if a kid makes a mistake somewhere in assembling a function and just wants to start over.

[2018-06-18 15:52] chewmagroo commented on #103
I was going to suggest the exact same thing. Another imrpovement in this situation would be instead of having to drag commands out of the function window you could simply click on them.

[2018-06-18 16:05] chewmagroo opened #104 "Ability to re-arrange and remove functions"
I think the ability to re-arrange functions (possibly commands too) and remove/delete them would improve gameplay. It can become a bit confusing when there are a build up of unwanted functions.
<img width="1268" alt="math_bot_06" src="https://user-images.githubusercontent.com/28259233/41548031-b08f9cac-7319-11e8-8e13-90f5887f755a.png">

[2018-06-18 16:14] JWWeatherman opened #105 "Planet 2 "Pickup 2" should be deleted."
It is redundant and slightly out of place since it seems to be a level where you would not use the navigate function (otherwise it is the same as "pickup 2 with function"), but the gamer has just created the navigate function so it is weird they wouldn't use it.

![cursor_and_math_bot_and_slack_-_mathbot](https://user-images.githubusercontent.com/32912678/41548450-10dd4998-72f1-11e8-8263-338b76446

[2018-06-18 16:19] giftedprimate commented on #105
I'll remove it as part of the video release.

[2018-06-18 16:30] chewmagroo opened #106 "'Create a turn left function' bug."
See attached screen recording.

[Bug_02.zip](https://github.com/JWWeatherman/math_bot/files/2112127/Bug_02.zip)

[2018-06-18 22:55] dy24703 opened #107 "Home screen is missing numerous buttons"
I am currently unable to change to a different planet. I also am now missing my user name, sign out button and I think there used to be an options button on my home screen. All I am currently able to do when I sign into the game is to do the levels in planet 4. Also, when I go through the 15 levels on "planet 4: recursion" the last level just gets repeated over and over again. I do not know if tha

[2018-06-18 23:00] dy24703 commented on #104
I agree with this. There were many times I wanted to re-arrange or remove functions. It doesn't necessarily interfere with the games functionality but maybe something to think about when you start to fine tune everything.

[2018-06-19 12:42] #105 closed

[2018-06-19 15:28] giftedprimate opened #108 "Walk four with function level not loading Rocket function properly."
The first time a player gets this level the rocket function is not added to main.

[2018-06-19 23:21] dy24703 commented on #108
I had this issue as well. I have recently started a new account because my old one was having issues and as I was working through the levels I noticed this. I don't remember this bug the first time I went through the game a few weeks ago.

[2018-06-19 23:41] dy24703 commented on #98
I am randomly experiencing this issue in a few different variations on different levels. Here are the issues I have spotted:
Sometimes the robot will disappear for a second and then come back and then continue on his path at the chosen speed.
Sometimes it will stop in its tracks at a random point in it's path.
Sometimes after it disappears and comes back, it then reverts back to 1x speed and then

[2018-06-19 23:53] #108 closed

[2018-06-21 14:32] clarkmoody opened #109 "Ad blocker hiding all images"
Maybe my ad blocker is too strict, but all image assets coming from `res.cloudinary.com` are blocked.

![screen shot 2018-06-19 at 4 40 07 pm](https://user-images.githubusercontent.com/1562417/41725584-c725761c-7535-11e8-8089-3b2d62bc5596.png)

[2018-06-23 17:04] jwain opened #110 "function builder bar won't allow necessary addition"
I can't proceed past the "Edit First Function" level

- Presumably the way to succeed on this level is by adding 1 rocket + 1 walk
- The green bar will only hold one or the other. It won't accept both

![image](https://user-images.githubusercontent.com/24353731/41811870-c7d0faf8-76e5-11e8-932e-2c0c87d9bd6a.png)

[2018-06-23 17:07] jwain commented on #110
i am dumb

![image](https://user-images.githubusercontent.com/24353731/41811917-61384bce-76e6-11e8-8db0-4f4bba9aae16.png)

[2018-06-23 17:07] #110 closed

[2018-06-24 01:38] jordanBTCplz opened #111 "Bug on level "Pick up 3""
I am running into this issue where the robot can not put down the kitties after picking them up. I went through this level and experienced this issue roughly five times. After capturing the video that is attached and trying this level again, but using a function in a different way, it worked. After that I attempted to complete the level exactly the way I did in the video. I am now able to complete

[2018-06-24 01:56] dy24703 opened #112 "Where are the Kitties?"
On the level "Navigate," the instructions say to "get to the kitties" and there are no kitties to navigate to.

![where are the kitties](https://user-images.githubusercontent.com/40341596/41815152-ea101a3c-772f-11e8-9241-0b7b30993ba7.png)

[2018-06-24 05:29] jaimefm commented on #4
I'd like to help with this issue. i think i got what you want. see images.. how far from the portal do you want the spaceship.

![circle2](https://user-images.githubusercontent.com/40052732/41816205-cf9a6bae-7733-11e8-8f63-7548f15e9529.PNG)

![circle](https://user-images.githubusercontent.com/40052732/41816082-88aea2bc-7730-11e8-9381-1b59060f232a.PNG)

[2018-06-24 09:38] chewmagroo commented on #112
I think I already posted this issue - #101
I'm pretty sure it should say 'Create a function to get to the portal'

[2018-06-24 15:09] dy24703 commented on #112
You are correct. Thanks for pointing that out.

[2018-06-24 15:09] #112 closed

[2018-06-25 01:18] giftedprimate commented on #104
I have implemented the ability to sort the functions.

As for the remove feature I'll try to get to it before the next release and I do agree that this should be done.

[2018-06-25 01:28] giftedprimate commented on #106
Can you create this video in google drive please?

[2018-06-25 01:28] giftedprimate commented on #111
I believe this is do to a bug that I fixed today. The issue is that occasionally when editing a function the db was not getting updated with the change. Please look forward to a fix on the next release.

[2018-06-25 01:29] giftedprimate commented on #111
Also can you create this video in google drive by chance?

[2018-06-25 01:30] giftedprimate commented on #102
Can you create this video in google drive please?

[2018-06-25 01:38] #58 closed

[2018-06-25 01:43] #47 closed

[2018-06-25 02:03] dy24703 commented on #111
Ya I will work on that. Is that how you guys would prefer all videos be done on here?

[2018-06-25 12:52] giftedprimate commented on #111
Yes either drive or YouTube would be great. Thanks for the feed back, it is very helpful.

[2018-06-25 19:45] chewmagroo opened #113 "Differentiate commands and functions with colour."
Something like this might help avoid confusion by visually differentiating between commands and functions.
![math_bot_04](https://user-images.githubusercontent.com/28259233/41871998-84392b56-78b8-11e8-8335-ddf12df360c7.jpg)

[2018-06-25 20:53] giftedprimate opened #114 "Limit built function qty"
Need the ability to limit how many functions can be added to built functions.

[2018-06-28 13:01] smh69 commented on #100
tl;dr: not fun to change css AND html, but at first glance, it seems necessary.

I think it's just wrapping down below, but the overflow is hidden, notice the whitespace for your Dance and Go to appear to extend lower than others, without their rounded corners on the bottoms?  This seems like a great place for a css tooltip, where you hover and can see the full name of the function.  Other places

[2018-06-30 17:15] babakar7 opened #118 "Scroll up button not working inside custom function"
When creating a new function and trying to reference simpler actions that require scrolling up to access them, it doesn't work.
<img width="1273" alt="capture d ecran 2018-06-30 a 17 14 58" src="https://user-images.githubusercontent.com/40721549/42127488-2c5f6de4-7c89-11e8-8dda-1a294aa03da2.png">

[2018-06-30 18:21] giftedprimate commented on #118
This should work fine. Can you tell me what device you are using?

[2018-06-30 18:29] babakar7 commented on #118
I'm using chrome on a macbook pro. I tested this with Safari and it works fine though

[2018-06-30 19:25] babakar7 opened #120 "Stuck in middle of function"
My bot is stuck in the middle of a function. It still has many instructions to follow, but just freezes here.
<img width="1275" alt="capture d ecran 2018-06-30 a 19 22 23" src="https://user-images.githubusercontent.com/40721549/42128433-1ee0ddee-7c9b-11e8-8bf6-252019b6efcd.png">

2nd image is the function in question. It is stuck at the sun icon. (which is just 6 steps forward that it hasn't compl

[2018-06-30 20:45] giftedprimate commented on #118
It should work fine on chrome also (that is what I am using). Are you using a 13inch macbook?

[2018-06-30 20:49] babakar7 commented on #118
Yes I am

[2018-06-30 20:49] giftedprimate commented on #106
Sure, when you click the share button there will be an option 'share with anyone who has the link', just select that option then send the link.

Thanks!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On June 30, 2018 4:23 PM, David <notifications@github.com> wrote:

[2018-06-30 20:52] giftedprimate commented on #118
Ok, cool.

I'll pull it up on my MacBook to make the appropriate adjustments for the next release. I'm pretty sure this is related to styling.

Thanks!

[2018-06-30 20:56] babakar7 commented on #118
Great

[2018-06-30 20:59] babakar7 opened #123 "UX - Speed"
Nothing critical but it would be better if the speed didn’t reset every time a level is passed.

[2018-07-01 12:02] chewmagroo commented on #106
Here's the link to this file plus the other one you requested.
https://drive.google.com/file/d/1u9-J3zgiUsEyShTrUMjR9NuE5wwrd2SR/view?usp=sharing
https://drive.google.com/file/d/1GKCeHYzsPTMdbMNKIGET6LViRsFeHmTy/view?usp=sharing

[2018-07-02 00:29] dy24703 commented on #111
Hey what's the name or email you want me to share these videos to when I put them into google drive? Sorry it took me a little while to get back.

[2018-07-02 00:33] giftedprimate commented on #111
Just click the `share with anyone who has the link` radio button then past the link here.

Thanks!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On July 1, 2018 8:29 PM, dy24703 <notifications@github.com> wrote:

[2018-07-02 00:53] dy24703 commented on #111
https://drive.google.com/open?id=14niu5pWWF0xdGQu0VvTJIAZF-NzWuMPI

That's a cool feature. Thanks for your patience.

[2018-07-02 01:10] dy24703 commented on #80
I just ran into this issue as well. 7/1/18

https://drive.google.com/open?id=1F5u3J2NnsTDZ08bfHbkBmbgsX4WYFO8P

Testing on Windows10-Firefox Browser (v. 61.0)

[2018-07-04 12:53] smh69 commented on #103
as of at least 20180704, can confirm this works in production.

[2018-07-04 12:55] smh69 commented on #100
as of 20180704 can confirm that hovering over function contents (where each operation/func is represented with an icon but no label underneath) shows a hint of what function it is -- in production. very helpful.

[2018-07-04 13:21] smh69 opened #133 "recursive func within a func doesn't halt, even on finalAnswer"
Can reproduce in level=Recursion, steps=[Cleanup, CleanUpMore]

maybe this is an error, or maybe Im just lost;  In my lostness, I believe the following are logically the same.

below assumes that walk(), pickUp(), and putDown() are NOT user-defined

Does not work:
def walkPickUp: walk(); pickUp()
def r_putDown: putDown(); r_putDown()
def myMain: walkPickUp() ... 9 times; r_putDown()
def main: myMa

[2018-07-04 14:22] smh69 commented on #133
update: an admission: Im noob to scala and this codebase, stuck trying to figure out the app/compiler/Compiler.scala sections of processBoard(GridMap) and processBoard(JsArray) where convertedToElements is being set, but quite far from understanding ie: clueless.  Don't hold out, for me, if you know what the issue is, or know that its not an issue at all.  I'll appreciate info shared/learned and y

[2018-07-04 19:10] smh69 commented on #133
update: now looking into app/processor/Processor.scala in recursive private execute() but I dont see any difference of processing between the main program and a user func (except when the func only has a single function op inside... which is not my case).  Wondering if source code that Im looking at is what is really running in production (in which case Im spinning my wheels), but suspecting I jus

[2018-07-07 12:50] smh69 commented on #41
can confirm, that similar to when editing function contents, that in production, hovering over something in main shows a tooltip; very useful.

[2018-07-07 13:01] smh69 commented on #99
nicely done! can confirm is useful in production.

[2018-07-07 13:57] giftedprimate commented on #103
This feature is complete.

[2018-07-07 13:57] #103 closed

[2018-07-07 13:59] giftedprimate commented on #80
This bug should be solved in the next release.

[2018-07-07 14:03] giftedprimate commented on #104
Sort feature is released, I will create a new issue for delete function function.

[2018-07-07 14:03] #104 closed

[2018-07-07 14:04] giftedprimate opened #134 "Should be able to delete user built functions"
Function needs to be reset to default state and added back to `staged functions`

[2018-07-07 14:22] giftedprimate commented on #133
Console-rastling is constantly working on the compiler therefore it is probably not a good idea to work on it to much. I pretty much only work on it if I need to inject some logic related to a different actor. When we meet this Tuesday I will show him this issue so that he can respond (for fear that I may put my foot in my mouth ;) )

I do know he is using streams for the frames, and streams can b

[2018-07-07 14:42] giftedprimate opened #135 "SVG guru needed!"
We need a graphic designer who can create animated images in svg format.

Some items we need currently...

- Rebuild our splash screen (portal) to be the portal spinning with a flying saucer flying around it (or whatever your artistic imagination can think of). Basically the portal is just an animated div therefore it is not smooth.

- A full body version of the robot at the top of the grid with e

[2018-07-07 14:58] giftedprimate commented on #133
Oh and the current master is what is in production currently. Also we are keeping each release in a branch, this release is 0.02-alpha.

And to answer the question of main running the same as user built functions. This is true, if you look at `app/model/defaultFunctions.scala` you will notice that main is the same data type as the functions and commands.

When we store functions inside other funct

[2018-07-09 13:45] giftedprimate opened #139 "Kitties not rendering properly"
Kitties that have in fact been picked up still show. This is most likely because compiler is not sending back correct changes to the grid. The amount picked up is correct though, therefore the user is able to beat the level (as indicated in the robot carrying section below the grid).

I will investigate this issue this week.

[2018-07-09 14:23] giftedprimate commented on #139
Turns out this is a ui problem, the compiler is responding correctly. I should have a fix for it today!

[2018-07-09 23:36] giftedprimate commented on #139
Turns out this was a problem where the compiler was dropping a frame.

Console crushed this bug!

[2018-07-10 00:10] #99 closed

[2018-07-10 00:12] giftedprimate commented on #101
Fixed

[2018-07-10 00:12] #101 closed

[2018-07-10 00:15] #16 closed

[2018-07-10 00:16] #10 closed

[2018-07-10 18:04] chewmagroo commented on #113
Sounds like I'll need to see those next levels to get an idea of what you mean. If this is the way you will colour conditionals would it not make sense to colour commands and functions the same way? Just use different colours.

[2018-07-10 18:08] chewmagroo commented on #102
https://drive.google.com/file/d/1GKCeHYzsPTMdbMNKIGET6LViRsFeHmTy/view?usp=sharing

[2018-07-10 23:06] console-rastling commented on #133
Thanks smh69.  The code that evaluates the program to see if it the solution featured recursion couldn't detect a recursive function more than one layer deep.  We replaced the detector with a recursive function.  You can see it in the [diff](https://github.com/JWWeatherman/math_bot/commit/beea00e70863c15640eea47e3f2fccd16c97c7e2).

GP will mark this issue closed when the fix gets deployed.

Feel f

[2018-07-10 23:13] console-rastling commented on #120
Is it possible one of the function in the middle of all kitties is recursively calling itself?  That would cause the function to only run up to that function, then it would loop until we ran 10k steps.

We are still thinking about adding a pre-check for things like this.  Its not incorrect really, its just confusing and so users like you might want a warning.  Let us know.

[2018-07-11 00:32] JWWeatherman opened #145 "Setup XeroForo"
Need to get this forum setup and configured for invite only for students of the JW Weatherman course on cryptocurrency trading and investing and also another copy for mathbot.com.

https://xenforo.com/purchase/

[2018-07-11 00:33] JWWeatherman commented on #145
JW will reimburse any costs.

[2018-07-11 00:34] JWWeatherman opened #146 "Translate bitcoin threat model to portugese"

[2018-07-11 00:36] JWWeatherman commented on #146
need to assign to damujen once he accepts the collaborator invite.

[2018-07-12 15:37] jaimefm commented on #4
@giftedprimate. This was not an svg animation. Didn't realize that's what was desired. I just added css code to perform the animation of the existing image.

The blackhole animation was just 0% -> rotate(0) to 100% -> rotate(360), and the spaceship I added  something like 0% -> rotate(0) translate(150) rotate(60) to 100% -> rotate(360) translate(150) rotate(60)

I will figure out how to create an

[2018-07-12 23:12] dy24703 opened #147 "3D Chewbacca avatar"
Need someone knowledgeable to create a new avatar for JW to use in his videos and wherever applicable.

[2018-07-14 00:15] dy24703 opened #148 "Get mathbot.com in a magazine"
Jordan and Nate are working on getting mathbot.com shared on multiple media outlets through the Texas Homeschool Coalition.

[2018-07-15 05:57] jaimefm commented on #4
@giftedprimate. see attached svg file. let me know if the relative size between the spaceship and portal is ok.

i am running windows 8.1 and the animation worked with firefox and chrome, but did not work with IE11. i ran a search and looks like IE does not support animations in the SVG file. they recommend animating the svg with css.

[Ship_Portal.zip](https://github.com/JWWeatherman/math_bot/fil

[2018-07-15 16:09] jaimefm commented on #4
are you suggesting inserting the svg code directly into css and animating the elements, or taking the individual portal and ship images and animating them independently. is there any difference? if its the latter i have code for it already.

[2018-07-15 16:15] giftedprimate commented on #4
@jaimefm Yep, insert the SVG directly into the template, then insert your CSS into the style section.

I can insert vue directives into svg code is the reason why I like the svg code in the components.

Thanks!

[2018-07-15 18:48] dy24703 opened #149 "Bug on Planet 4 Level 10"
I was experiencing a bug with two variations in how it presented itself. I caught both in one screen capture.

https://drive.google.com/open?id=19lTTBzxTCcbb-lRiCTwxqtjxR6d0AG6s

[2018-07-15 20:13] giftedprimate commented on #149
Is this referring to the kitties re-rendering after picking up and nested recursive function not working? (I can't get the video to play in drive for some reason)

If this is the case they have been solved in issues #139 and #133 and will be part of the next release.

[2018-07-15 20:34] dy24703 commented on #149
That's weird. I double checked the link and it is working on my end. I don't think so, but honestly I don't know what you are saying. It's not you, I'm just not code literate. Basically sometimes when you push play, the robot will just skip to the portal, put down the kitties, and then fail. Then sometimes the robot will go through the level just as commanded and then fail the level anyways.

[2018-07-15 20:49] giftedprimate commented on #149
Drive is very unpredictable to say the least, I keep getting a cross site scripting error, even though it is impossible to even upload anything to drive if this is the case.

About the jumping around bit,  #139 should fix that one. The cause is usually from trying to run an empty function, or a function that only calls one other function.

Are you sure you are using recursion (a function that call

[2018-07-15 21:02] dy24703 commented on #149
I went ahead and ran it the same way as JW did and I am still failing the level. I will wait and see if your next release solves the issue.

[2018-07-15 21:42] giftedprimate commented on #149
I just checked out his solution and it is in fact not going to work :(  because of the current bug. I am working hard to get this next release out some time this week.

[2018-07-15 21:56] giftedprimate commented on #149
I'm going to throw in a patch that should solve this problem for you.

[2018-07-15 22:17] giftedprimate commented on #149
@dy24703 Ok, I just threw in some code and redeployed so that a user can pass this level with JW's solution.

[2018-07-15 22:17] giftedprimate commented on #133
Just re deployed with the fix for this level, closing issue.

[2018-07-15 22:17] #133 closed

[2018-07-15 23:11] dy24703 commented on #149
Thanks for doing that! I will check it out in a little bit and let you know how it goes.

[2018-07-16 15:32] smh69 commented on #133
nicely done!

[2018-07-16 19:05] eth-is-a-security opened #151 "after winning level 4 you cannot play level 5"
On level 4, after completing the level so that it shows stars on the level select screen for level 4, level 5 is not unlocked. On top of that when I tried to complete level 4 again I received try again despite using the correct code to solve the level.

code: various functions which total to 9 walk blocks, Turn right, function with 4 walk blocks, turn right, various functions which total to 9 walk

[2018-07-16 20:01] giftedprimate commented on #151
You must use recursion to pass these levels now. Be sure you are using a function that calls itself.

[2018-07-19 19:21] #151 closed

[2018-07-21 13:46] giftedprimate opened #152 "Cannot sign in due to Auth0 disabling one of our dependencies."
I am working on this from now til it is solved (hopefully in the next few hours)

[2018-07-22 04:58] jaimefm commented on #4
@giftedprimate. i finally had some time to complete this task this weekend. and 1 more issue came up, and not sure if there is anything you want to do about it.

Recall i had discovered that that IE does not support animations inside the SVG container, which necessitated using CSS to animate the svg. It turns out however that ONLY the EDGE version of IE, the window 10 version of IE i believe, supp

[2018-07-22 13:21] #152 closed

[2018-07-22 13:37] giftedprimate commented on #4
@jaimefm Let's go ahead and proceed with what you have. As long as the user can see the space ship and portal my guess is that will be sufficient for the time being.

As for the css, feel free to remove the keyframe def from App.vue so long as everything works as expected. It was placed there before I had made the splash screen component.

Also as an fyi, I updated our AuthService yesterday and me

[2018-07-22 14:16] giftedprimate opened #158 "A video before levels that introduce new concepts"
- When the user selects the level a video automatically appears discussing the new concept.
- The video should appear automatically if the user has never played the level
- The video should be available all the time without the student losing stars
- The video should not help the user pass any of the levels

[2018-07-22 18:38] giftedprimate commented on #4
@jaimefm If you pulled down the master since my last merge it is probably because you will need to update your `keys.js` file with what is found in `example-keys.js`. Also be sure to change the `audience` property in the WebAuth config in `services/AuthService.js` (line 22) to match your tenant. I have already added this to the keys.js file locally so that it will be included in my next merge.

If

[2018-07-24 13:44] giftedprimate commented on #4
@jaimefm Looks great! You were able to get the scale just right. It is much smoother now as well!

Thanks for doing the research about browser support as well, that was tremendously helpful and informative.

If your up for it we could sure use a full size robot with blinking eyes. Basically I'd like to replace the robot at the top of the grid with a full sized one where his body is behind the grid

[2018-07-25 20:59] jaimefm commented on #4
@giftedprimate. I'm up for helping out. Do you need the bottom part of the robot drawn? I can't say that I have any artistic ability but with feedback I can probably come up with something.

Can you send me all the different robot icons you have right now to have a starting point?

[2018-07-27 13:30] giftedprimate commented on #4
@jaimefm awesome!

If you go into `ui/src/assets/assets.js` there's a property called `robotImages` where you can find the links to the robot in the grid, this should give you a good reference for the robot body. The robot logo is the property called `instructionsRobot`.

Thanks for the help on this!

[2018-07-30 05:56] jaimefm commented on #4
@giftedprimate. attached is the complete robot in svg. no animations yet. but i wanted to make sure the robot was correct before going any further. fortunately most of the robot was actually already drawn, not just the head.. it was just hidden by the svg. i only had to create the legs and the door knob.
is the gap between the body and legs too much? any thing else?

[instructionsRobot_Rev1.zip](h

[2018-07-30 14:36] giftedprimate commented on #4
@jaimefm The robot looks perfect!

The legs look proportionate to the robot in the grid, so I think they look great. After we implement the new component in the app it should be pretty easy to fine tune it then.

I'd like for just the eyes to move around and blink without the visor. Basically I'd like to make the robot look alive, a mascot of sorts.

Thanks!

[2018-08-04 15:55] jaimefm commented on #4
@giftedprimate. attached is a couple of animation samples. blinking one eye, moving eyes, and cycling through the lines on the top of the head.. its an html file, it seems to be working fine with the latest firefox. but i have not put in any compatibility code yet. I'm sending it now so you can see what things look like and you can play with the parameters. other animations like blinking both eyes

[2018-08-05 06:43] jaimefm commented on #4
@giftedprimate.  here are a couple more ideas implemented.

[robot_animation2.zip](https://github.com/JWWeatherman/math_bot/files/2260082/robot_animation2.zip)

[2018-08-05 14:09] giftedprimate commented on #4
@jaimefm Looks like you are moving in the right direction, he is already looking more personable!

As for the random animation, you are correct, that will require a little Javascript to make happen. We are using Jquery (it is imported globally) on this project so feel free to use there stuff if you'd like, but if you prefer a different animation library or just vanilla Js that is fine with me.

I

[2018-08-06 13:10] giftedprimate commented on #46
@codeShark149 Just letting you know that we have differentiated between primitives and the created functions. You can expect to see this change in the next release.

[2018-08-06 13:14] giftedprimate commented on #113
@chewmagroo Just an FYI that we have differentiated the primitive functions and user built functions. You can expect to see this change in the next release.

[2018-08-06 19:13] giftedprimate commented on #42
@codeShark149 I was able to implement this. Now if  the quantity of functions exceeds 50% of the drop zone the dropped function will center itself.

[2018-08-06 23:56] eth-is-a-security opened #163 "I got a message "not found : 'get /robot' ""
![capture](https://user-images.githubusercontent.com/40124613/43746507-4fab4992-99aa-11e8-8068-e1a43efc4773.PNG)

The recursive program I was running was going into a wall and I tried using the reset button to restart the level and got this.

[2018-08-06 23:57] eth-is-a-security commented on #163
This was the URL https://mathbot.com/robot

[2018-08-07 00:05] giftedprimate commented on #163
@eth-is-a-security I confirm that this is a bug in the currently deployed version. The bug is not present in the pre-production site therefore it has been fixed with the new spa controller (not merged yet). It will be fixed with the next release.

The stop button appears to be working fine, so just use that in the mean time. Otherwise you can return to the site without /robot and you will be fine.

[2018-08-11 11:52] virindiparadox opened #165 "Nevermind"
nevermind i'm dumb ;)

[2018-08-11 12:23] virindiparadox opened #166 "Need a quick way to add functions instead of dragging them"
It will save time and reduce annoyance/boredom if there was a way to add functions to the main play bar (or to a newly created function) instead of having to manually drag each command.

Some way of being able to add them faster, such as by "Shift / Control / Alt / Middle or Double Clicking" would be a huge improvement.

[2018-08-11 12:35] virindiparadox opened #167 "Dragging a function from the 2nd function bar scrolls up the function window to the 1st bar"
Dragging a function to the main play bar from the 2nd function bar makes the function window scroll up depending on how fast you drag it (you have to be really quick to make it not scroll). Usually it will scroll up by half and cut off all of the named text, and then if you drag it again it will start showing the first bar. This means you then have to scroll down in order to drag the next function

[2018-08-11 13:37] #165 closed

[2018-08-11 13:49] giftedprimate commented on #166
@virindiparadox  The designers decided to keep the options for adding functions very minimal to avoid confusion for young children (in tests we ran children would accidentally add functions with the double click). In future releases we will be adding a Lisp (like) interface for the more advanced students to be able to use an actual programming language to program the robot.

That said I will leave

[2018-08-11 13:50] giftedprimate commented on #167
@virindiparadox this is fixed and will be part of the next release. We have made major improvements to the UI overall.

[2018-08-12 04:06] virindiparadox commented on #167
Great!

[2018-08-12 04:10] virindiparadox commented on #166
That makes sense. For advanced users it would be nice to have this type of option.

[2018-08-13 18:00] JWWeatherman opened #168 "Don't show related videos after the help videos"
Looks like youtube is currently displaying additional youtube videos after our help video.

And that we can tell youtube not to do this based on the embed like we use:

https://www.illuminea.com/remove-related-videos-end-embedded-youtube-video-update/

[2018-08-15 00:04] JWWeatherman opened #170 "Need to enable javascript and cookies"
Nick Szabo just mentioned that he doesn't have javascript or cookies enabled in his browser and is having trouble getting mathbot to work.

So first of all how awesome is it that Nick is interested in our project at all!

And secondly, if we need one or both of those, can we detect they are disabled and display a warning banner?

[2018-08-15 05:48] jaimefm commented on #4
@giftedprimate. its been a while, i got a bit busy, but take a look at the animation in the attached file. i realized that CSS has a rotate3d function, so the eye movement could happen around a sphere as you suggested. we could tweak the parameters i used if needed. let me know what you think.

i still need to look at the javascript stuff.. but, is the idea you'd like to implement, to randomly  cy

[2018-08-15 15:27] JWWeatherman opened #171 "Making the help videos more obvious - ideas"
Make this entire area clickable to see a help videos.

Remove stars from right to left.

Make missing stars look more obvious. maybe like a sunk in area like a star should be placed inside that area, but is missing.

Make the stars pulsate after clicking them for a second before opening the help video.

Periodically make the stars pulsate and encourage them to click them. And actually keep them pu

[2018-08-15 15:58] JWWeatherman commented on #171
We should also end every sentence of the robot with something like this.

Pickup all kitties and place them on the portal. **Need help?**

Its a hack because we want to get "words" agnostic, but it is probably a good idea until we find a better way.

[2018-08-15 22:10] JWWeatherman opened #172 "www.mathbot.com does not redirect to mathbot.com site"
We should make any host names names such as ww. or www. redirect to mathbot.com.

This maybe a DNS setting or it might be a problem with the application.

[2018-08-15 22:12] JWWeatherman opened #173 "Recursion level 14 needs to allow one more function"
I can't beat the level as it requires at least 1 more function.

[2018-08-15 22:26] s3rvant commented on #170
HTML has a <noscript> tag option so you can display stuff only if JavaScript is absent.

Also, since mathbot is loading JS from multiple locations it would be a good idea for JS located on the mathbot server to run a check of which files have been loaded in cases of browser extensions that block cross-domain files or extensions like No Script where the user can selectively allow specific files to

[2018-08-15 22:30] s3rvant commented on #166
Perhaps a gear or hamburger icon which reveals menu to allow user to select options such as double-click, hotkey-click and/or lisp interface. Can still default to drag-drop only.

[2018-08-15 23:27] JWWeatherman opened #174 "Conditional 15 says 60 (should say 80)"
![math_bot](https://user-images.githubusercontent.com/32912678/44178629-3dc12300-a0c1-11e8-9b61-99eead4a2810.gif)

[2018-08-16 00:50] JWWeatherman commented on #173
Scratch that. We need to move the portal one square to the left maybe too. Let's wait until we have more time to polish this one. It's not urgent as it works good enough and isnt an obvious fix.

[2018-08-16 16:38] JWWeatherman opened #178 "Clicking on a function inside main should also open the edit box"
I think there might be a good reason we didn't do this, but it would be less confusing if we could click on a function to edit it, even if it has already been added to main.

This issue is mainly to keep track of why this can't or shouldn't be done.

[2018-08-16 16:57] JWWeatherman opened #180 "If I have an oddly sized window mathbot displays poorly"
Not sure this is critical, but if we fix this it might help with other screen size bugs.
![math_bot](https://user-images.githubusercontent.com/32912678/44222868-f172f300-a153-11e8-9fc8-1012c3526ef0.gif)

[2018-08-16 17:04] JWWeatherman opened #181 "After clicking stop the robot doesn't return home and the play button is still gone"
This was on level 9 in Recursion.

![math_bot](https://user-images.githubusercontent.com/32912678/44223175-d359c280-a154-11e8-8e6b-c595d52c4e76.gif)

[2018-08-16 17:11] JWWeatherman opened #182 "Stars should pulsate or look like they are trying to fill back up as the counter counts down"
This is an idea to make it more obvious that the counter is to reset the stars.

[2018-08-16 17:13] JWWeatherman opened #183 "On some screen-sizes the location of things on the screen change when playing a hint"
This is a little disorienting and might be a hint for some of the other ui bugs at various screen sizes.

[2018-08-16 17:22] JWWeatherman opened #184 "Conditionals are available on the recursion planet"
They should be hidden until the conditional planet. If they are used accidentally it causes weird jumping to upper left hand corner - compiler error.
![math_bot](https://user-images.githubusercontent.com/32912678/44223968-292f6a00-a157-11e8-89a0-90e50fb29973.gif)

[2018-08-16 17:31] JWWeatherman opened #185 "Robot doesn't respond on recursion level 12"
I can't complete the level using "clean comb" function. After populating it and hitting play the robot doesn't respond. If I clear it out and start with just a few commands it works, but after adding most of the commands I need to pass the level the robot returns to freezing when I hit play.

[2018-08-16 17:41] JWWeatherman opened #186 "In a 1200 x 900 window the saucer / profile link is not clickable"
Using Chrome on a mac.

The Saturn is clickable, but it doesn't look like it should be.
![math_bot](https://user-images.githubusercontent.com/32912678/44224939-0ce0fc80-a15a-11e8-83ab-05876b62fe30.gif)

[2018-08-16 17:59] giftedprimate commented on #186
That entire image is clickable. I will make a media query for macbooks to solve this problem.

[2018-08-16 18:14] giftedprimate commented on #185
I cannot recreate this bug. When I tested this in prod it worked fine.

[2018-08-16 19:23] JWWeatherman opened #190 "No hints available error shown no conditionals level 3 and 4"
All 3 stars are visible, but when I click on the hints I get this error:

![math_bot_and_inbox_ _jack_sophtron_com_and_untitled_document_-_google_docs](https://user-images.githubusercontent.com/32912678/44230133-47ea2c80-a168-11e8-8ee3-0e9f0886cdbb.gif)

[2018-08-16 19:34] giftedprimate commented on #190
There are not videos on that level, but the user still has 3 stars.

[2018-08-16 19:36] giftedprimate commented on #185
Bug was fixed by rebuilding u turn function, unknown reasons. Will need to keep an eye out for this.

[2018-08-16 19:39] giftedprimate commented on #172
Complete.

[2018-08-16 20:07] JWWeatherman opened #192 "Intro overview video to play on level 1"
Need to record the video and then we can figure out how to kick it off in the app.

[2018-08-17 14:27] JWWeatherman opened #193 "Need to decide where and how to play the overview help video"
This is the video that can be used to help new gamers see how to navigate and use mathbot.

We need this because many people don't understand where to click to get help and where to click to get back to the profile - at least in the current UX design.

https://youtu.be/Jo0UNlSniak

[2018-08-18 05:01] coldix opened #194 "Planet 5 #12 missing pickup and put down everything"
and no + to add them.
![planet 5 level 12](https://user-images.githubusercontent.com/38780650/44295989-da183f00-a2e6-11e8-9460-70cb2de20b98.JPG)

[2018-08-18 12:49] giftedprimate commented on #180
This is all part of the mobile optimization issue and is a work in progress.

[2018-08-18 12:53] giftedprimate commented on #181
Related to issue #80

[2018-08-18 12:54] giftedprimate commented on #80
Removing labels since there is still a case this can happen as notices in issue #181

[2018-08-18 13:01] giftedprimate commented on #194
@coldix Hello, just to verify, have you played Recursion/level 9 and used the provided pickupN and putdownN functions?

If not then please go back to that level and move them into your active functions area then return to this level. I will be releasing a fix for this behavior early next week that will ensure the user has the needed functions even if they have did not use it in the level where it

[2018-08-18 13:04] giftedprimate commented on #184
That weird jumping is related to not being able have a function with multiple colors. We will need to address this before moving on to arithmetic. It also may be advisable to add one more level of recursion with base cases. Currently both recursion and conditionals require us to check each step since the recursion has no base case.

In the mean time

[2018-08-18 13:04] #184 closed

[2018-08-18 13:10] giftedprimate commented on #192
I think we should also have a video whenever a new concept is presented explaining the concept. The video could be played when they click the first level of a planet if they have never beat that level.

[2018-08-18 13:59] giftedprimate commented on #4
@jaimefm Looks really good!

How difficult would it be to have him look up and down as well? I think that would be the final touch for this animation.

As for the JavaScript, I'd like to randomly cycle through the animations and at random intervals. The goal to make him look very natural.

Looking good! And no worries about the delay.

Thanks.

[2018-08-18 15:30] coldix commented on #194
Ok I get that but the web site play button is not working for me now ?

On Sat, Aug 18, 2018 at 9:01 PM, Richard Porter <notifications@github.com>
wrote:

--
Kind Regards

*Colin Dixon BSc DipEd*  Mobile 0419 415000

[2018-08-18 15:39] giftedprimate commented on #194
@coldix When you press the button does the pause button appear?

[2018-08-19 18:03] JWWeatherman commented on #166
I'm closing this for now I think it's best addressed by the lisp feature. After we have that "expert mode" we can consider adding an "intermediate mode" that adds hot keys or a double click when not on tablets, but my guess is that we won't really want it anymore.

[2018-08-19 18:03] #166 closed

[2018-08-19 18:07] JWWeatherman opened #196 "Remove items from mainr by dragging up or down"
Right now if you want to remove a function or command from "main" you need to drag it up. It would be better if you could drag it down too.

[2018-08-19 18:37] giftedprimate commented on #190
This will be fixed once all the videos are uploaded.

[2018-08-19 18:40] #172 closed

[2018-08-19 18:40] giftedprimate commented on #174
Fixed

[2018-08-19 18:40] #174 closed

[2018-08-19 18:40] #167 closed

[2018-08-19 18:40] #163 closed

[2018-08-19 18:41] #118 closed

[2018-08-19 18:41] #113 closed

[2018-08-19 18:41] #100 closed

[2018-08-19 18:42] #96 closed

[2018-08-19 18:42] #95 closed

[2018-08-19 18:42] #46 closed

[2018-08-19 18:42] #42 closed

[2018-08-19 19:57] giftedprimate commented on #168
Done.

[2018-08-19 19:57] #168 closed

[2018-08-19 20:54] giftedprimate commented on #181
Console and I will need to look at this together. The compiler is not responding to halt requests with non recursive functions.

[2018-08-19 21:49] giftedprimate commented on #196
Deployed.

[2018-08-19 21:49] #196 closed

[2018-08-19 21:52] giftedprimate commented on #193
I would suggest to have it play as soon as they authenticate if they have never seen the video before. If they have seen it I would make a way to access the video from both the profile page and the game.

[2018-08-19 22:00] giftedprimate commented on #183
This is because we only have media queries set up through iPad pro size. I have not done any querying for random browser window sizes.

[2018-08-19 22:02] giftedprimate commented on #183
This is ongoing and is part of #5

[2018-08-19 22:05] JWWeatherman opened #203 "Redesign "try again" user experience."
This is a feature request for a UX designer to come up with a solution.

When a gamer runs code that fails the robot runs until the code is complete and remains on the screen.

Eventually it would be great if the gamer could rewind and fastforward the code, in he same way that you can drag through a youtube video forwards and backwards, but for now just ending on the final position and remaining t

[2018-08-19 22:57] JWWeatherman opened #204 "Recursion Level 14 map is slightly wrong"
The map doesn't provide a recurring pattern that can be solved neatly. By moving the second hook to the right one box it will.

![math_bot](https://user-images.githubusercontent.com/32912678/44314041-a9690000-a3e1-11e8-99c5-c00f7ab194ef.gif)

[2018-08-19 23:05] JWWeatherman opened #205 "Add hint video to Conditonal Levels"
Level 3 hint:
https://youtu.be/7MyeHJBZvF4

Level 4 hint:
https://youtu.be/9Qnm16ny8dU

Level 7 hint:
https://youtu.be/ho-zM7OQ8bA

Level 9 hint:
https://youtu.be/FqSjGHTxuBQ

Level 14 hint:
https://youtu.be/6Pa379ZbSHo

Level 16 hint:
https://youtu.be/CAE9eMId6j4

[2018-08-20 13:28] giftedprimate commented on #204
@JWWeatherman
This is the requested grid, however I beleive it will make both the bottom legs different therefor it may not have the desired effect...
![screenshot from 2018-08-20 09-19-50](https://user-images.githubusercontent.com/33336425/44342900-5aab7c80-a45a-11e8-8101-0f4f85cedb54.png)
This is the layout based on issue #173 which I think may be more suitable.
![screenshot from 2018-08-20 09-2

[2018-08-20 13:48] s3rvant commented on #204
The original layout at top of thread has neater solution as it allows 2 cycles of function which also contains maximum rocket usage:

[code]

[2018-08-20 14:05] JWWeatherman commented on #204
Let me know when this preprod. I’d like to play around with it a bit in this new layout as I think I can solve it cleanly now.

[2018-08-20 14:06] giftedprimate commented on #204
With your layout from this thread or from #173

[2018-08-20 14:08] JWWeatherman commented on #204
With the new layout.

[2018-08-20 14:08] giftedprimate commented on #204
Ok

[2018-08-20 14:27] giftedprimate commented on #205
@JWWeatherman I will wait on this till we get issue #204 complete since it will need a new video as well.

[2018-08-20 14:28] giftedprimate commented on #173
Closing because we are dealing with this in issue #204

[2018-08-20 14:28] #173 closed

[2018-08-20 20:03] giftedprimate opened #207 "Plus button for staged functions disappears"
On levels where staged functions should be available, the plus button will disappear if closed by opening up another function. The plus button will reappear after a refresh.

I'm working on a solution now and this bug should be fixed shortly.

[2018-08-20 20:32] giftedprimate commented on #207
Deployed to prod

[2018-08-20 20:32] #207 closed

[2018-08-21 15:56] JWWeatherman opened #210 "Find open source music for mathbot levels"
We should find a dozen or more open source music files we can use for mathbot levels. Eventually we may have our own songs created, but having a variety of songs (maybe a unique song for each level) might prove to be more fun and this is free so let's start with this.

[2018-08-21 16:04] JWWeatherman commented on #192
I just recorded this and realized that it's pretty lame. Closing this and opening a new bug for a UX person to make the video not needed.

[2018-08-21 16:04] #192 closed

[2018-08-21 16:06] JWWeatherman commented on #193
Just recorded this video and it made it really clear that we need to fix this with a more intuitive design not a video.

[2018-08-21 16:06] #193 closed

[2018-08-21 16:09] JWWeatherman commented on #194
@coldix let me know if you are still seeing an issue and we can get on a call to try to track down the details of this bug.

[2018-08-21 16:10] JWWeatherman commented on #190
Closing as the other issue has links to the videos that need to be included.

[2018-08-21 16:10] #190 closed

[2018-08-21 16:11] JWWeatherman commented on #185
Closing this as I think it has been fixed.

[2018-08-21 16:12] JWWeatherman commented on #180
Closing as duplicate of #5

[2018-08-21 16:12] #180 closed

[2018-08-21 16:13] JWWeatherman commented on #147
Closing for now as we are going to try a physical mask.

[2018-08-21 16:13] #147 closed

[2018-08-21 16:14] JWWeatherman commented on #120
I'm going to close this for now. We will probably address it best by adding more "debug" features over time. More visibility into what code the robot is executing.

[2018-08-21 16:14] #120 closed

[2018-08-21 16:15] JWWeatherman commented on #146
@dy24703 can you link to the translation on this bug?

[2018-08-21 16:25] JWWeatherman commented on #106
I just verified this bug has been fixed. @chewmagroo please let me know if you can still reproduce it or if it's fixed for you too.

[2018-08-21 16:25] #106 closed

[2018-08-21 16:26] #59 closed

[2018-08-21 16:27] JWWeatherman commented on #57
I think this a duplicate of #5

[2018-08-21 16:27] #57 closed

[2018-08-21 19:57] giftedprimate commented on #181
Deployed,

[2018-08-21 19:57] #181 closed

[2018-08-21 20:49] dy24703 commented on #146
You want the link posted here?

[2018-08-21 21:03] JWWeatherman commented on #146
Yes, please.

[2018-08-21 21:16] dy24703 commented on #146
[Vision Statement for Mathbot pt-br.docx](https://github.com/JWWeatherman/math_bot/files/2308088/Vision.Statement.for.Mathbot.pt-br.docx)

[2018-08-21 21:17] dy24703 commented on #146
He posted it as a word document, so you will have to download that. I can maybe copy it to a google docs if that is preferable?

[2018-08-21 21:28] dy24703 commented on #146
Shit I just realized I posted the vision statement translation. I think he is still working on this one.

[2018-08-21 21:30] JWWeatherman commented on #146
No, that’s fine. Just upload it to google drive and share it as is.

[2018-08-21 23:43] JWWeatherman commented on #146
Cool.

[2018-08-22 00:45] giftedprimate commented on #80
Fix is deployed!

[2018-08-22 00:45] #80 closed

[2018-08-22 18:53] JWWeatherman opened #215 "Get JW on School Sucks Podcast"
Do the following:

- Send an intro email with reference to Tom Woods episode.
- Tweet at them - take advantage of Nate's twitter profile and maybe one other friendly fan.
- Ask another podcast that is related that we have a good relationship with to send an email intro.

[2018-08-22 18:55] JWWeatherman opened #216 "Send out powerups"
This task is to create the powerups tokens using counterparty, clean up the past accounting to get owed balances, and send the tokens.

[2018-08-22 19:18] JWWeatherman opened #217 "Richard Porter 8/15"
This ticket is a reward request for Richard. He has been working full time on mathbot since January of 2017 (about 84 weeks).

See closed issues assigned to Richard for details.

Richard has about 2 years of experience as a web developer and is using $60 per hour as a basis for requests.

The total requested is 202,629 (84.4 weeks * 40 * 60).

[2018-08-22 19:21] JWWeatherman opened #218 "Console 8/15"
This ticket is a reward request for Console. He has been working 8 hours per week on mathbot since January of 2017 (about 84 weeks).

See closed issues assigned to Console for details.

Console has about 30 years of experience as a software architect and is using $150 per hour as a basis for requests.

The total requested is 67,657 (84.4 weeks * 10 * 150).

[2018-08-22 19:29] JWWeatherman opened #219 "JW 8/15"
This ticket is a reward request for JW. He has been working part to full time on mathbot since he conceived the original idea in Aug of 2015.

The user experience has been designed through several iterations by JW starting with a course and physical objects (dice, custom plastic chips, custom poker chips, counting kitties, and finally mathbot).

JW is an experienced software startup founder and is

[2018-08-22 19:30] #20 closed

[2018-08-22 19:30] #19 closed

[2018-08-22 19:30] #18 closed

[2018-08-22 19:30] #21 closed

[2018-08-22 19:33] JWWeatherman opened #220 "Sam Axe 8/15"
This ticket is a reward request for Sam. He has provided occasional UX design help for the past few months.

Sam has about 15 years of experience as a product manager and product designer and is using $150 per hour as his

The total requested is 2,100 (14 * 150).

[2018-08-22 19:46] JWWeatherman opened #221 "Nate Agapi 8/15"
This ticket is a reward request for Nate. He has been working part time on mathbot since April of 2018 (about 23 weeks).

Nate has written all of the copy for mathbot.com including, but not limited to: the vision statement, outlines for the interviews JW does, and the cypherpunk manifesto. Nate paid for the "simple writing system" that he used in writing many of his pieces. The "simple writing sys

[2018-08-22 19:57] JWWeatherman opened #222 "Create forum for use for mathbot and crypto course"
This forum will be used for 3 purposes

- Private forum for alumni of crypto course.
- Private forum for mathbot contributors.
- Public forum for mathbot gamers.

[2018-08-22 19:59] JWWeatherman opened #223 "Write Email Campaign Copy"
We will be using sendgrid to send email to new gamers. This task is to create that campaign and copy.

[2018-08-22 20:00] JWWeatherman opened #224 "Configure DNS for sendgrid"
Sendgrid emails are currently going into spam (spoofing alerts). This is probably related to a missing DNS setting. Research and fix.

[2018-08-22 20:02] JWWeatherman opened #225 "Send grid config"
Need to configure sendgrid to send emails on schedule. Will use exported email for the first batch and then ask developers to do a real integration for new signups.

[2018-08-22 20:07] NateAgapi opened #226 "Course Sales Letter."
Write sales copy for JW's course.

[2018-08-22 23:34] JWWeatherman opened #227 "Anders Kargaard"
This ticket is a reward request for Anders. He has been working part time on mathbot since May of 2018 (about 13 weeks).

Promoting on youtube, twitter, local LA meetup, networked JW onto Adam Meister to promote and Tom Woods. Produced content and had Vortex promote mathbot on Anders channel. Wrote a popular medium article about mathbot being a positive use case for mathbot (over 100 claps).

Ande

[2018-08-22 23:40] JWWeatherman opened #228 "Get JW on Jeffery Tucker Podcast"
Do the following:

- Send an intro email with reference to Tom Woods episode.
- Tweet at them - take advantage of Nate's twitter profile and maybe one other friendly fan.
- Ask another podcast that is related that we have a good relationship with to send an email intro.

[2018-08-22 23:42] Anderskargaard opened #229 "Blunt force truth chuck Woollery"
Contact them to get JW on their show.

[2018-08-22 23:44] JWWeatherman opened #230 "Create commercial to play on Tom Woods"
After our appearance on Tom Woods we decided to sponsor two episodes for 1k. I think there is a 15 second spot and a 60 second spot in each episode. @NateAgapi needs to write the copy and then Tom has agreed to review it since he is excellent at selling to his audience.

[2018-08-22 23:45] JWWeatherman commented on #230
We should wait to actually run for a couple weeks to get the code back under control after the last bump.

[2018-08-23 00:03] JWWeatherman commented on #227
Please add your public address for payment and assign back to me. If something goes wrong you tokens are lost forever so I will send a test amount first. Be sure your seed words are backed up.

[2018-08-23 00:04] JWWeatherman commented on #221
Please add your public address for payment and assign back to me. If something goes wrong you tokens are lost forever so I will send a test amount first. Be sure your seed words are backed up.

[2018-08-23 00:06] JWWeatherman opened #231 "Get powerups listed on bisq"
So we can get the tokens in a place where they can be purchased from contributors by the software and destroyed.

[2018-08-23 00:32] JWWeatherman opened #232 "Ask Giacomo about Counterparty downsides for our case"

[2018-08-23 00:35] JWWeatherman opened #233 "Jordan 8/15"
This ticket is a reward request for Jordan. He has been working part time on mathbot since July of 2018 (about 7 weeks).

Jordan has so far completed an edit of the "POW hardfork" paper that JW wrote, reached out to two potential interview candidates for mathbot exposure, worked out the details to get mathbot featured in Texas Homeschool Coalition's blog, is handling the token request spreadsheet,

[2018-08-23 00:37] JWWeatherman opened #234 "Daniel 8/15"
This ticket is a reward request for Daniel. He has been working part time on mathbot since July of 2018 (about 7 weeks).

Daniel has setup and managed JWs podcast.

Daniel is using $30 per hour for reward requests.

The total requested is 600 powerups. (30 * 20)

[2018-08-23 01:16] eth-is-a-security opened #235 "consider adding a more clear reset button"
Rather than showing the reset button after it is paused it might be more clear to just have another button on screen, maybe something similar to the reload page button on a browser.

[2018-08-23 01:18] eth-is-a-security commented on #235
This seems like it would also stop the glitch which sometimes happens where the pause and reset button disappear.

[2018-08-23 01:50] eth-is-a-security opened #236 "on Level 7:conditionals the left if function does not seem to identify Turquoise objects"

[2018-08-23 18:29] JWWeatherman commented on #233
Please add your address and reassign this to me.

[2018-08-23 18:48] damujen commented on #234
Daniel 1xDLJpU4nDeF2DuFM5gfLXrdCLJgmtLxV

[2018-08-23 19:10] JWWeatherman opened #237 "Mark all dev tasts with the development project"

[2018-08-23 20:39] giftedprimate commented on #235
The disappearing buttons bug was solved with issue #181.

As for the reset button, I will leave this issue open for discussion.

Thanks!

[2018-08-23 21:11] Anderskargaard commented on #232
forwarded Giacomo answer to JW e-mail

[2018-08-23 21:11] #232 closed

[2018-08-23 21:35] Anderskargaard commented on #215
Sent a message through website  twice August 1st and August 15th. I keep my separate (public for Mathbot) notes here (might start moving this to Github):
https://docs.google.com/document/d/1sSkcF_giNBczp4v10cHWzhDjUxy9N2DhbN9Fdyt5CKU/edit?usp=sharing

Will look for Brett Veinotte on Twitter. Found him. Tweeted at him: @SchoolSucksShow August 23rd with JW and Nate included.

[2018-08-23 21:57] Anderskargaard commented on #228
Jeffrey has an open message on Twitter but has not responded the two times I have written to him. Have today 23rd of August tried to message him including JW and Nate and mentioning Cody Wilson and Lyn Ulbricht.

[2018-08-23 22:31] Anderskargaard commented on #227
18ui8ogw5s6NQG2v2fpzV1cr5fCwUHDJMC

[2018-08-23 22:35] AndersBTC opened #238 "Lions Of Liberty - get JW on their show"
Approach from all angles and mention Tom Woods Performance with URL.

Purpose is to get JW on the Lions of Liberty Show.

I approached them twice 1st and 15th of August, but without any response what so ever. Actual text and previous notes before using Github in this public Google Doc:
https://docs.google.com/document/d/1sSkcF_giNBczp4v10cHWzhDjUxy9N2DhbN9Fdyt5CKU/edit?usp=sharing

Their website:

[2018-08-23 23:55] Anderskargaard opened #239 "Approach @LUAradio"
He is a very well connected podcaster in the liberty movement, knowing a lot of other podcasters.
1) Ask for list of other great liberty podcasts
2) Then one by one start being introduced them with his help

I first reached out 23rd of August 2018 in Twitter message.

[2018-08-24 00:30] JWWeatherman opened #240 "Get JW on American Conservative Podcast"
https://itunes.apple.com/us/podcast/american-conservative-university-podcast/id122415315?mt=2

[2018-08-24 00:31] JWWeatherman commented on #240
One way to go after new podcasts is to find all the podcasts that have had Dave Smith or Tom Woods as guests.

[2018-08-24 00:34] Anderskargaard commented on #240
How do I track that down? Sorry for asking if it is obvious ;)

On Thu, Aug 23, 2018 at 5:31 PM jwWeatherman.com <notifications@github.com>
wrote:

[2018-08-24 07:45] metamarcdw commented on #239
I have to take credit for connecting you guys with Shane. So happy it's working out. Our powers combined!

[2018-08-24 07:51] metamarcdw commented on #227
Needs moar segwit 😉

[2018-08-24 14:10] dy24703 commented on #233
1MZFDHvSPFfeTCnBVjiPFsgf4fQz2TEmjp

[2018-08-24 14:13] dy24703 commented on #148
Handing this off to Nate to get the article written and then I will get in contact with the right people to get it published.

[2018-08-24 14:15] dy24703 commented on #145
Domain is up and running. Nate found a web developer to get the forum set up to Nate's liking.

[2018-08-24 14:35] dy24703 commented on #220
Please post your Indie Square Wallet address when you can Sam.

[2018-08-24 14:38] dy24703 commented on #218
Please add your Indie Square wallet address when you can Console.

[2018-08-24 14:41] NateAgapi commented on #221
1ARKvywA1hwcLiBbKxg2Bybw8ypBKbczii

[2018-08-24 14:45] dy24703 opened #241 "Reach Out to Stefan Molyneux"
I am going to work on getting JW an interview with Stefan Molyneux. Sent first email on 8/15.

[2018-08-24 15:02] burtwalker opened #242 "Unexplained Looping"
My 13 year old grandson is doing some testing. He encountered this problem near the end of the Recursion planet. There appears to be an infinite loop without making a recursive call.  I logged into his account and discovered that he had accidentally removed the steps in the U-Turn function. After adding the proper steps back to the U-Turn function, it began to behave properly.

I was able to dupli

[2018-08-24 22:33] jordanBTCplz commented on #210
Here is the link to the song that we found for mathbot

https://drive.google.com/open?id=1lNuNRGa-dUKKeaf-koInMDp2BjQkkOu1

[2018-08-25 00:16] jordanBTCplz commented on #210
Here is the first song that we have agreed to use for mathbot.

License Number: 490998

https://drive.google.com/open?id=1lKdiS3NQGkYmMbRjTn39VajQcpaA8Ffb

[2018-08-25 13:39] giftedprimate commented on #217
I have receive the power ups, thanks!

[2018-08-25 19:06] console-rastling commented on #218
Thanks.  1Gk3Vew7HeGu16xYaLpE1Xpw4tZrvYf5YA.

[2018-08-26 20:54] JWWeatherman commented on #227
Counterparty doesn't support segwit. Need more RGB.

[2018-08-26 20:56] #217 closed

[2018-08-26 20:56] JWWeatherman commented on #234
Sent and confirmed on the blockchain :]

[2018-08-26 20:56] #234 closed

[2018-08-26 21:00] JWWeatherman commented on #218
Ok, please confirm that you wrote down your seed in a safe place and that you got the 5 powerups I just sent and I will send the remainder to the same address. Assign back to me when confirmed.

[2018-08-26 21:03] JWWeatherman commented on #219
sent.

[2018-08-26 21:05] JWWeatherman commented on #227
Anders, please confirm that you got the test 100 and that you have your seed securely written down and then assign this back to me so I can send you the remainder.

[2018-08-26 21:07] JWWeatherman commented on #216
Done. From now on we just need to keep current on reward requests.

[2018-08-26 21:07] #216 closed

[2018-08-26 21:09] JWWeatherman commented on #233
Jordan, please confirm you got the 5 test powerups and then assign this ticket back to me (also make sure you wrote down your seed words a in a couple places).

[2018-08-26 21:11] JWWeatherman commented on #221
Nate, please confirm you got the 5 test powerups and than you wrote down your seed words in a couple places and then assign back to me and I will send the remainder.

[2018-08-26 21:35] #219 closed

[2018-08-26 21:36] JWWeatherman commented on #220
Sam is at burning man with all the other UX guys in the US right now :]

[2018-08-26 21:52] JWWeatherman commented on #26
![mathbot com](https://user-images.githubusercontent.com/32912678/44633400-d759c180-a958-11e8-8652-f877c634b40f.png)

[2018-08-26 21:52] #26 closed

[2018-08-26 21:54] JWWeatherman commented on #194
Is this still an issue?

[2018-08-26 23:41] JWWeatherman commented on #221
Excellent. Just send you the remaining 51,895. Please close this ticket when you confirm receipt.

[2018-08-26 23:54] jordanBTCplz commented on #233
I got the tokens and have my seed written down!

[2018-08-27 00:02] NateAgapi commented on #221
We're good.

[2018-08-27 00:02] #221 closed

[2018-08-27 00:05] NateAgapi opened #243 "Write article for homeschooling mag."
Write article.

[2018-08-27 00:58] coldix commented on #194
Yes working for me now :)
![planet 5 level 12-3](https://user-images.githubusercontent.com/38780650/44635377-5db4e880-a9d7-11e8-96d0-e5eb93f0cef0.JPG)

[2018-08-27 01:28] coldix commented on #194
Done the lot now, what next ?
![p8230012-001](https://user-images.githubusercontent.com/38780650/44635955-80490080-a9db-11e8-8e20-15b685bb4cb6.JPG)

[2018-08-27 13:02] NateAgapi opened #248 "Get overview of Texas Homeschooling Coalition Advertising Policy"
Hey Jordan, can you talk to your contact at THSC and figure out what kind of advertising they accept both online and in print. If you could get stats on web traffic and how many physical magazines they ship every quarter, that would be very helpful. Also give me a run down on the various formats. And of course pricing. Then just put that summery into a google doc and link it here.

Thanks.

[2018-08-27 18:13] JWWeatherman commented on #210
@NateAgapi @jordanBTCplz here is a version that simply loops for 1 hour as is (no edit):
https://drive.google.com/open?id=1Yd3oiIe13IwOXK35_2pg2Ne8976SZ-_U

[2018-08-27 18:27] JWWeatherman commented on #233
Excellent. Just sent the other 525. Closing ticket!

[2018-08-27 18:27] #233 closed

[2018-08-27 18:31] JWWeatherman commented on #218
Console just confirmed via email so I've sent the remaining tokens. Done!

[2018-08-27 19:14] Anderskargaard commented on #227
JW, you are not going to believe this.... just like the original mathbot sent that you did, then this didn't arrive. I am going to attach screenshot, so you can see that the address I gave you is correct and then on the same screenshot you can see that there are no Powerups. What am I doing wrong here? (The 100 Mathbot are the ones from months ago that we have now abandoned)

![screenshot 2018-08-

[2018-08-27 19:33] jordanBTCplz commented on #210
They both have kind of an awkward transition, so I would just go with the full version.

[2018-08-27 20:20] NateAgapi commented on #248
Both online and in print.

[2018-08-27 21:35] Anderskargaard opened #251 "Get JW on Michael Malice podcast"

[2018-08-27 22:53] Anderskargaard opened #252 "Get JW on Dave Smith / Part of the Problem Show"

[2018-08-27 23:09] Anderskargaard commented on #239
Awesome Mark, we super appreciate connetcting us to Shane (LUA).

[2018-08-27 23:16] Anderskargaard commented on #239
8/27/2018
@LUAradio has replied and given me the following list to approach:

Peaceful Anarchism
Seeds of Liberty Podcast/Abolitionist Abstractions (Jeremy Henggeler)
Freeman Beyond The Wall (Mance Rayder)
Sherry Voluntary Podcast
Anarchast
Earnest Hancock
Rice Crypto Show
AnCap Barber Shop
The Lava Flow Podcast
Post-Politics
Moment of Rage (reach out to Jeremiah Harding)
Libertarians on Fire Podc

[2018-08-28 00:01] Anderskargaard opened #253 "Get JW on Max Keiser show"
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

08/27/2018: Tweeted https://twitter.com/Anderskargaard/status/1034228112135876608

[2018-08-28 01:03] Anderskargaard opened #254 "@LUAradio 9/15"
This is for @LUAradio's reward request for the period up to 9/15/2018.

He reaches out to liberty and anarchy podcasts with the purpose to get JW on as a guest.

[2018-08-28 15:07] JWWeatherman commented on #254
Can you edit the above with the amount he is asking per hour and the total number of tokens requested?

[2018-08-28 16:27] Anderskargaard commented on #254
He is only about to get started, so his first request will be mid September 2018. I have updated his request at $20.

[2018-08-28 16:29] Anderskargaard commented on #227
Hi JW, no it is the actual online Counterparty wallet. That should work fine shouldn't it?

[2018-08-28 18:52] Anderskargaard commented on #27
Hey Jordan, did you get hold of Ron Paul 22nd of August?

[2018-08-28 19:06] Anderskargaard commented on #27
Just tweeted an indirect request to get JW on his show.. started with a big and honest compliment:
https://twitter.com/Anderskargaard/status/1034514833922641920

[2018-08-28 20:27] AndersBTC opened #257 "Get JW on Breaking Math Podcast"
Seems they have 1600+ subscriber according to my podcast player.
http://breakingmathpodcast.com/

Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Link to JW YouTube channel: https://www.youtube.com/channel/UCkaB2u7zG4uSCL5Hws3X1jw

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

8/28/2018: E-mailed on breakingmathpodcast@gmail.c

[2018-08-28 22:11] Anderskargaard opened #258 "Get JW on Mr Barton Maths Podcast"
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

[2018-08-28 22:35] Anderskargaard opened #259 "Get JW on Math Mutation Podcast"
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

8/28/2018: E-mailed Erik on erik@mathmutation.com with JW cc:

[2018-08-28 23:37] Anderskargaard opened #260 "Get JW on The Guardian's Science Weekly"
This is a big podcast.

[2018-08-28 23:50] Anderskargaard opened #261 "Get JW on Math Ed Podcast"
www.mathedpodcast.com

Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Link to JW YouTube channel: https://www.youtube.com/channel/UCkaB2u7zG4uSCL5Hws3X1jw

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

[2018-08-29 04:31] Anderskargaard commented on #227
You meant Indie Square right?

[2018-08-29 06:43] ekulkisnek opened #262 "World 4 Level 10 does not run"
Problem occurs when putting PickupN function inside Cleanupmore. After hitting play nothing happens. Hitting stop button only makes the stop button disappear. Only way to fix is to refresh but does not always solve the problem and afterwards trying to run the same function does not work.
![image](https://user-images.githubusercontent.com/37669784/44770144-ab8f3500-ab2c-11e8-947f-e08199e2f5f9.png)

[2018-08-29 17:37] eth-is-a-security commented on #236
here are some images that might help.
![image](https://user-images.githubusercontent.com/40124613/44804838-305b6c80-ab88-11e8-859c-ae972a624d31.png)

![image](https://user-images.githubusercontent.com/40124613/44804870-42d5a600-ab88-11e8-9e8f-f0af0c97be73.png)

[2018-08-29 17:41] giftedprimate commented on #236
Just for verification, is your left turn built?

[2018-08-29 17:49] giftedprimate commented on #236
Actually, I just took a look at my implementation and noticed that you are missing something in your left if function.

[2018-08-29 19:30] Anderskargaard opened #263 "Get JW on Speaking of Math Podcast"
It's a minor podcast, but always worth getting the word out to a math Dr. and community in general. Her very first podcast was about issues with Common Core, so I think we have a fellow sympathizer for Euclid.

She's done 82 episodes.. so fairly solid.

Get JW on her show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

29/8/2019: Contacted through https://www.door2math.com/contact

[2018-08-29 19:47] Anderskargaard opened #264 "Get JW on The Math Dude Quick and Dirty Tips to Make podcast"
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

[2018-08-29 21:47] Anderskargaard commented on #227
Let's try this:
1MyFcmRMdGF91avEc199fDipYFim6nVf5i

[2018-08-29 22:42] Anderskargaard commented on #260
8/29/2018: As I was going through a list of math podcasts, I also came across the Twitter handle for Guardians' so tweeted at them:
https://twitter.com/Anderskargaard/status/1034933940279160832

[2018-08-29 22:53] Anderskargaard opened #265 "Get JW on "Relatively Prime: Stories from the Mathematical""
40 episodes

Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

8/29/2018: Tweeted directly at Samuel Hansen https://twitter.com/Anderskargaard/status/1034936466072166401

[2018-08-29 23:12] Anderskargaard opened #266 "Get JW on "The Math Factor" which airs on 91.3 FM and is a podcast"
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

[2018-08-30 00:08] Anderskargaard opened #267 "Get JW on "The Simply Charlotte Mason Homeschooling" podcast"
Not sure if this one is possible or if they are only plugging their own product. But worth a try as they have it seems a decent following and 140 episodes so far.

[2018-08-30 00:36] Anderskargaard opened #268 "Get JW on "Joyfully Homechooling""

[2018-08-30 22:12] AndersBTC opened #269 "Get JW on "Yakkin with Nick""
Get JW on Yakkin With Nick. It's a liberty podcast suggested by Shane from @LUAradio.

E-mailed Nick:

Hey Nick

This is Anders from https://mathbot.com. Shane has helped me point out great liberty podcasts to reach out to and he pointed to you as a top priority.

Our founder JW is an amazing speaker and a blast of a guest and is fresh of Tom Woods' podcast where he was absolutely flying: https://

[2018-08-30 22:40] Anderskargaard opened #270 "Get JW on ....."
Get JW on their show.

Use Tom Woods show as reference: https://youtu.be/-fpiCJCeE48

Use JW and Nate as well and potentially namedrop Cody Wilson and Lyn Ulbricht.

[2018-08-30 23:35] jordanBTCplz commented on #248
Hey I just updated the document with some new info. if you don't need any additional info; go ahead and close this issue.

[2018-08-31 19:48] JWWeatherman commented on #268
We are working on scheduling this. Please follow up in a week if I haven't made more progress with her.

[2018-08-31 21:42] Anderskargaard commented on #227
JW has now send the total amount.

[2018-08-31 21:42] #227 closed

[2018-08-31 22:37] NateAgapi commented on #248
Thanks Jordan.

[2018-08-31 22:37] #248 closed

[2018-09-01 18:33] NateAgapi commented on #222
Web dev flaked out on me. I'd rather Jordan handle this. We know he won't flake out.

[2018-09-01 19:35] JWWeatherman commented on #227
Done and confirmed.

[2018-09-03 14:29] #28 closed

[2018-09-03 14:30] JWWeatherman commented on #25
It’s better to do a different commercial each time so I’m closing this, but it is a good idea to play the game in the background.

[2018-09-03 14:30] #25 closed

[2018-09-03 14:31] JWWeatherman commented on #24
Daniel inserts background music on the podcast. It’s not worth the trouble of adding to YouTube.

[2018-09-03 14:31] #24 closed

[2018-09-03 14:32] JWWeatherman commented on #238
I’m scheduled to appear this Friday. 🍺

[2018-09-03 14:32] #238 closed

[2018-09-03 16:53] JWWeatherman opened #280 "Record new video for Recursion Level 14"
Level has been updated

[2018-09-03 16:54] JWWeatherman opened #281 "Record video to explain how to get help - click stars"

[2018-09-03 16:56] JWWeatherman commented on #281
This video should play automatically on the first and fourth levels.

First video will explain how it works.

Second video will explain that some levels can't be completed without using hints and that math and that you don't get extra credit in math and programming for making it hard on yourself. Work a problem until it stops being fun and then get a hint.

[2018-09-03 16:56] JWWeatherman commented on #281
Video 2 should show how to change levels by clicking on the profile and on planets.

[2018-09-03 16:59] JWWeatherman opened #282 "Jump on WCN today for 20 mins to plug mathbot"

[2018-09-03 17:00] JWWeatherman opened #283 "Record 10 more shows so we can switch to weekday releases"

[2018-09-03 18:38] JWWeatherman opened #284 "New function won't drop on chrome using a mac (premathbot)"
https://drive.google.com/file/d/1X_-Mjo15bHzNNPedcqZUQJ7HpRiG9DFL/view?usp=sharing

[2018-09-03 18:54] JWWeatherman opened #285 "Depending on how you enter the next planet button it might not be clickable"
The video is attached. When the cursor is not a hand the button is unclickable - I am clicking when it is still for a few seconds.

https://drive.google.com/file/d/1UDffm8oc3cnnlvBKA3XPlWpAPvjT6vU5/view?usp=sharing

[2018-09-03 18:59] JWWeatherman commented on #284
We should make it so that if the new function is dropped anywhere outside the black box it moves into the staged functions area.

[2018-09-03 19:04] JWWeatherman opened #286 "Stars are not resizing correctly"
On any level:

1. Make the window small and then very big. Notice that the stars get big and don't shrink back down.
2. Hit refresh and notice that the stars get resized correctly.

This has been repo'd on mac using Chrome.

[2018-09-03 19:05] JWWeatherman commented on #286
![math_bot](https://user-images.githubusercontent.com/32912678/44999376-c4637480-af8a-11e8-8eb8-35e6a105689b.gif)

[2018-09-03 19:29] giftedprimate commented on #286
This is a result of the firefox optimization and should be easy to fix.

[2018-09-03 19:31] giftedprimate commented on #285
I can't reproduce this bug.

[2018-09-03 19:32] JWWeatherman opened #287 "A minor UI bug when scrolling and selecting levels"
Problem is show in video. Mac using Chrome. If the level selection box is only partially visible it is not clickable and prevents scrolling when the mouse is over it.

https://drive.google.com/file/d/1SjIfxraJdECSumHPOi63d_ASqAKywazp/view?usp=sharing

[2018-09-03 19:45] giftedprimate commented on #286
Done

[2018-09-03 19:51] giftedprimate commented on #284
Done.

[2018-09-03 19:53] giftedprimate commented on #285
I tested this on mac and linux and am unable to recreate the bug.

[2018-09-03 20:01] JWWeatherman commented on #282
Done.

[2018-09-03 20:01] #282 closed

[2018-09-03 20:04] giftedprimate commented on #286
Deployed to pre-prod, I will let you close this issue after you confirm.

[2018-09-03 20:05] giftedprimate commented on #284
Deployed to pre-prod, I will let you close this issue after you confirm.

[2018-09-03 20:06] giftedprimate commented on #285
I just recreated it, this is easy to fix.

[2018-09-03 22:03] JWWeatherman commented on #280
Ready to deploy.

The first hint is:
https://youtu.be/Y8DCXlnBhRo

The last hint is:
https://youtu.be/CntzuVR13mM

[2018-09-03 22:29] JWWeatherman opened #290 "Free (and mandatory) Hints Feature"
To help people know how to navigate the site and use the hints feature I want to play these videos automatically at the start of each level.

If we can't find a "dev art" way to do this we can ask Sam for a design when he returns from Burning Man in a few days (so just assign it back to me).

Planet 1, Level 1
https://youtu.be/q9V-TnU-0Yw

Planet, Level 2
https://youtu.be/RUxCBeJx-Bg

Planet 1, Le

[2018-09-03 22:57] JWWeatherman opened #291 "Replace the countdown timer with an animated stripes progress bar"
Instead of a timer below the button let's add a progress bar on the button, under the stars.

I think this will be more intuative and look nicer. Some people though the countdown was telling them that they only had a certain amount of time to pass the level :>

I like the animated stripes one at the bottom of this, but you can use whatever of course.
https://getbootstrap.com/docs/4.1/components/pr

[2018-09-03 22:59] JWWeatherman opened #292 "Turn the background black when showing a video hint"
When the video hint is open it creates a confusing "app inside the app" look. Let's black out everything except the video and the close X.

[2018-09-03 23:12] giftedprimate commented on #291
Vue js has a really nice way of doing this.

[2018-09-03 23:16] giftedprimate commented on #290
Since we are going to make the background black for the other videos I will make this video play the same way.

[2018-09-04 13:05] giftedprimate commented on #183
Closing since this will be resolved by issue #292

[2018-09-04 13:05] #183 closed

[2018-09-04 14:42] giftedprimate commented on #205
Deployed to pre-prod, I will let you close this issue when you confirm.

[2018-09-04 14:43] giftedprimate commented on #280
Deployed to pre-prod, I will let you close this issue after you confirm.

[2018-09-04 14:51] giftedprimate commented on #73
Console is complete with the backend, I will be starting the front end later this week.

[2018-09-04 14:58] giftedprimate commented on #5
As of this date app is optimized for Chrome, Safari, Firefox, and iOS (all iOS browsers are the same under the hood). These changes are deployed to pre-prod and awaiting approval from JW.

Next up is IE which should be finished this week.

[2018-09-04 15:03] giftedprimate commented on #186
@JWWeatherman a fix for this is deployed to pre-prod. Please close this issue after you approve.

[2018-09-04 15:04] giftedprimate commented on #204
@JWWeatherman this is deployed to preprod, please close this issue after you approve.

[2018-09-04 15:06] giftedprimate commented on #194
@coldix we are working on browser compatibility currently, as soon as this is complete we will be moving onto new levels!

I am closing this issue as it appears to be resolved.

Thanks!

[2018-09-04 15:06] #194 closed

[2018-09-04 16:14] giftedprimate commented on #292
@JWWeatherman Deployed to pre prod, please close this issue once confirmed.

[2018-09-04 16:43] JWWeatherman commented on #285
Verified on preprod.

[2018-09-04 16:43] #285 closed

[2018-09-04 16:44] JWWeatherman commented on #286
Verified fixed on preprod.

[2018-09-04 16:44] #286 closed

[2018-09-04 16:45] JWWeatherman commented on #292
Verified deployed on preprod.

[2018-09-04 16:45] #292 closed

[2018-09-04 16:47] JWWeatherman commented on #287
Confirmed fixed in preprod.

[2018-09-04 16:47] #287 closed

[2018-09-04 16:51] JWWeatherman commented on #284
Right now you have to drag the new function down to roughly the right area. We should make it so that if you drag and drop anywhere outside this box it works - even if you drag it up. But this is more a feature request than a bug now.

[2018-09-04 21:10] JWWeatherman commented on #280
verified fixed preprod.

[2018-09-04 21:10] #280 closed

[2018-09-04 21:11] JWWeatherman commented on #236
Closing this. Please re-open after double-checking the video hint matches your solution.

[2018-09-04 21:11] #236 closed

[2018-09-04 21:13] JWWeatherman commented on #235
I'm going to close this. We really need to be forced into adding anything additional to the screen. Ultimately we would like to add a feature that allows you to scrub forwards and backwards and change your functions in real time. I think that will address this better.

[2018-09-04 21:13] #235 closed

[2018-09-04 21:15] JWWeatherman commented on #205
Verified fixed.

[2018-09-04 21:15] #205 closed

[2018-09-04 21:16] JWWeatherman commented on #204
Verified fixed.

[2018-09-04 21:16] #204 closed

[2018-09-04 21:16] JWWeatherman commented on #186
Verified fixed.

[2018-09-04 21:16] #186 closed

[2018-09-04 21:17] #185 closed

[2018-09-04 21:17] JWWeatherman commented on #182
New design calls for a progress bar that is animated. Closing this.

[2018-09-04 21:17] #182 closed

[2018-09-04 21:26] JWWeatherman commented on #111
Verified fixed on chrome on mac. @jordanBTCplz Can you verify on your windows box?

[2018-09-04 21:28] JWWeatherman commented on #5
Verified on chrome and mac. Green light to deploy even though I will keep this open until we have done more testing on Safari, Firefox, IOS and IE.

[2018-09-04 21:29] JWWeatherman commented on #3
Still need a better design. Sam put down the bong! :]

[2018-09-04 21:43] JWWeatherman commented on #262
Can you verify this is still an issue tomorrow? I think our next deployment will have it fixed. If it is not fixed can you please empty each function and re-create it. It might be something that has been previously fixed but is lingering in your account.

[2018-09-04 21:45] JWWeatherman commented on #242
Hey Burt, is this still happening? I can't get it to repeat. Also, it looks like your u-turn function is empty. It should have two right turns inside it.

[2018-09-05 17:17] giftedprimate commented on #290
@JWWeatherman  Implementation deployed to pre prod, ready for inspection.

[2018-09-05 18:06] JWWeatherman opened #299 "Profile picture like everyone else"
Let's replace the profile navigation icons with a round picture of the gamer just like many sites do now. Reinventing the wheel on this looked lovely on paper, but in the real world it is a support ticket factory.

[2018-09-05 18:26] JWWeatherman opened #300 "Add a question mark icon to the action bar for help"
In this diagram there is a really ugly question mark, but we should do one that matches the trash can icon. We should also swap the positions so that the question mark is on the far left and the trashcan icon is further to the right.

Whenever anyone clicks on the ? icon we should play these 3 videos back to back:

Planet 1, Level 1
https://youtu.be/q9V-TnU-0Yw

Planet, Level 2
https://youtu.be/RU

[2018-09-05 18:47] JWWeatherman opened #301 "Level navigation is broken on firefox"
Using firefox on a mac I can't select level 1 and when I scroll to the bottom the planet overlaps the area it's displayed within.

<img width="1220" alt="te" src="https://user-images.githubusercontent.com/32912678/45114277-914feb00-b11a-11e8-930a-4e39ccc4e4dd.png">
<img width="629" alt="math_bot 2" src="https://user-images.githubusercontent.com/32912678/45114279-914feb00-b11a-11e8-9b2c-f0a78057bd7

[2018-09-05 19:01] JWWeatherman opened #302 "Blocked out squares image does not resize with the screen"
On chrome on a mac and also on firefox on a mac.

You can see in this image that only two lines are visible on each square, but if you make it larger you will see more lines. I think this is because the background image is not resizing correctly with the rest of the screen.

<img width="634" alt="tmp" src="https://user-images.githubusercontent.com/32912678/45114952-66669680-b11c-11e8-8721-21192441

[2018-09-05 23:34] JWWeatherman commented on #290
This is amazingly cool. That's going to help a lot with gamer training.

[2018-09-05 23:34] #290 closed

[2018-09-05 23:54] AndersBTC opened #303 "Bring Eric July on JW's YouTube show"
Use Tom Woods' show as reference: https://youtu.be/-fpiCJCeE48

Namedrop Cody Wilson and Lyn Ulbricht.

Mention JW as fast rising Bitcoin Influenser and Ancap.

Mention who we are:
https://twitter.com/Anders_
https://twitter.com/JWWeatherman_

[2018-09-06 07:29] jaimefm commented on #4
@giftedprimate. i have been struggling a bit with trying to animate the svg elements at a random interval. I'm not sure if the solution i found is optimal, but its really the only thing that i found that worked for me. This CSS/Javascript thing is new to me so there may be better solutions. My concern with the solution i have that it may waste too much memory and without knowing how the browser ha

[2018-09-06 17:50] JWWeatherman opened #304 "Remove the speech buble"
I think we might not need it now that we have automatic hint videos. And we should test this by pulling it and seeing how it works.

[2018-09-06 17:52] JWWeatherman opened #305 "Add a mention to the first video about the robot going to the portal and picking things up"
Just a quick mention in the first video.

[2018-09-06 21:49] AndersBTC opened #306 "Get JW on "Earnest Hancock" podcast"

[2018-09-07 21:18] AndersBTC opened #308 "Get JW on Peaceful Anarchism"
Use Tom Woods' show as reference: https://youtu.be/-fpiCJCeE48

Namedrop Cody Wilson and Lyn Ulbricht.

Mention JW as fast rising Bitcoin Influenser and Ancap.

Mention who we are:
https://twitter.com/JWWeatherman_
https://twitter.com/Anders_
https://twitter.com/NateAgapi

9/7/2018: So their contact form did not work on the website so asked Shane from @LUAradio for intro or contact info and he sai

[2018-09-07 22:30] LUA2018 opened #309 "Create MathBot Facebook Page"
Create MathBot Facebook page.

9/4/2018: MathBot Facebook page created.

[2018-09-07 22:59] LUA2018 commented on #308
9/7/2018: Reached out to Danilo via a FB message.
--------------------------
Hey Danilo!
I hope all is well, man.

I wanted to recommend someone who I think would be a terrific guest for your podcast. His name is JW Weatherman. He's a software security expert, Bitcoin maximalist, ex-college professor, an-cap, and the founder of MathBot.com, a game that teaches kids math by programming a robot.

Th

[2018-09-07 23:28] AndersBTC opened #311 "Recursion Level 6, only "left" function available"
Only the function for making a left turn is available. I got through with a work around by using the left turn as the function itself that I needed (stair), but it seems intuitively wrong that it is not an "open" programmable function available instead of the left turn function with the left arrow on it.

OK, it seems that the stair function might have been there first, but that it dissapeards, if

[2018-09-07 23:37] AndersBTC commented on #311
OK, it seems that the stair function might have been there first, but that it dissapeards, if I leave the level and come back, as this happened to me at the next level.

[2018-09-08 14:11] giftedprimate commented on #301
@JWWeatherman Fix merged to master (#313) and deployed to pre prod, ready for inspection.

[2018-09-08 16:15] LUA2018 opened #314 "Create podcast/radio advertisement for Mathbot."
It would be a good idea to create a 30/60 second podcast/radio advertisement for MathBot. I know quite a few folks who would run it for free.

I can take care of this sometime in the near future, unless someone else beats me to the punch.

Script:
TBD

[2018-09-08 17:26] giftedprimate commented on #304
@JWWeatherman Deployed to preprod, ready for inspection.

[2018-09-08 17:28] giftedprimate commented on #299
@JWWeatherman Deployed to preprod, ready for inspection! #315

[2018-09-08 17:29] giftedprimate commented on #290
Deployed to prod.

[2018-09-08 18:54] giftedprimate commented on #291
@JWWeatherman merged to master (#318) and deployed to pre-prod, ready for inspection.

[2018-09-08 20:03] JWWeatherman commented on #304
It looks a little empty now. Let's:

1. bring back the robot (no speech bubble).
2. shrink the profile image (awesome that it grabs it from google if its available) and move it out to the right corner (have the right side of the circle right align with the play button.
3. Put the stars on the right side.

<img width="1159" alt="tmp" src="https://user-images.githubusercontent.com/32912678/45258140-

[2018-09-08 20:05] JWWeatherman commented on #299
Done!

[2018-09-08 20:05] #299 closed

[2018-09-08 20:06] JWWeatherman commented on #291
Verified fixed.

[2018-09-08 20:11] JWWeatherman commented on #304
Let's also make the progress bar and the stars direction align.

1. Progress bar grows from the left to the right.
2. Stars are removed from the right to the left.

Ideally we would combine the two so that the stars look like they are being refilled from left to right and after the progress bar fills a star it turns yellow again and the next star begins to be refilled, but I think the above will m

[2018-09-09 00:11] giftedprimate commented on #304
@JWWeatherman These changes are deployed to preprod and are ready for inspection.

[2018-09-09 00:12] giftedprimate commented on #291
Closing because tweaks to this issue are being address in #304

[2018-09-09 00:12] #291 closed

[2018-09-09 00:56] giftedprimate commented on #4
@jaimefm I would just stick with CSS for the animations and just use jquery's .addClass and .removeClass selectors to remove/apply the animation. Just using pure CSS for adding and removing animations has proven to be more efficient for me and a little easier for other devs to reason about. Below is how I'd approach the problem.

1 - Create a CSS selector for each of the animations
2 - Create a fu

[2018-09-09 00:59] giftedprimate commented on #284
@JWWeatherman This is a pretty complicated task (is definitely doable) so I would like to tackle it after authentication is complete.

[2018-09-09 01:00] giftedprimate commented on #73
Working on the front end now.

[2018-09-09 01:03] giftedprimate commented on #210
I can use HTML5 to the music. Thought this might help the exploration.

[2018-09-09 05:26] LUA2018 opened #321 "Reach out to Kal Molinet and get MathBot in the "hands" of homeschoolers in Virginia"
Kal Molinet founded an organization called Liberate RVA that has an unofficial membership of 100 or so an-caps. He also has a wide network.

I'm going to reach out to him and see if he'll have JW on his show, in addition to him introducing their decently-sized unschooling community to Mathbot.

[2018-09-09 15:44] NateAgapi opened #322 "Nate Agapi reward request 10 powerups."
Requesting 10 powerups for reimbursement for audio software purchased for JW's YouTube efforts.

[2018-09-09 15:50] NateAgapi commented on #314
We already have an issue for this that I'm working on. I'm working on one for the Tom Woods show.

[2018-09-09 15:50] #314 closed

[2018-09-09 15:57] JWWeatherman commented on #322
Update this on the 15th of the month with your total reward request for the month and then send back to me.

[2018-09-09 17:18] LUA2018 commented on #314
Understood, thanks Nate. Must have missed that. My apologies!

[2018-09-09 17:42] JWWeatherman opened #323 "Highlight current level on profile page"
Let's add a feature to highlight your current planet and level when you click on the profile page. Currently the only way to figure it out is to click back and forth a few times guessing (assuming you have past a few levels ahead).

[2018-09-09 23:32] JWWeatherman commented on #301
Still seeing the problem with the bottom tile if it is slightly hidden. Lose the ability to click and scroll.

https://drive.google.com/file/d/1F1zELAbLJUltwdmHvRSrNtEVp7IY_jCb/view?usp=sharing

[2018-09-09 23:33] JWWeatherman commented on #304
Looks awesome. Verified on preproduction.

[2018-09-09 23:33] #304 closed

[2018-09-10 05:42] jaimefm commented on #4
@giftedprimate. thank you for the detailed response. i actually did try the addClass and removeClass but was unsuccessful at restarting the animation. I will try that option again as i might have been doing something wrong.

About the powerups. thank you for making me aware of them. At some point if i continue to do more work on mathbot i may apply for it. but for now, a lot of the time i've put i

[2018-09-10 21:03] AndersBTC commented on #311
Yes at level 5 the + button to add new functions is there, but it is missing on level 6. Thanks.

[2018-09-11 00:53] AndersBTC opened #324 "Make it easy to share Mathbot.com through Facebook, Twitter, e-mail etc."
I am happy with the organic growth we have, but think we can do much better.

I realized that we miss one important function to "get the snowball rolling down the mountain", which is my go-to term for "word of mouth". Anytime you have a good enough product, then success often is a matter of momentum itself, provided quality execution is in place. Once the snowball has momentum, nothing can stop it

[2018-09-11 00:55] giftedprimate commented on #311
@AndersBTC Ok cool, there's a function in level five called stairs you need to add in order to beat this level.

I am going to write some code sooner or later to deal with this issue.

Thanks!

[2018-09-11 01:07] AndersBTC commented on #311
Thanks! Yeah I guess I must have messed up somehow, by not adding but just using another function, which then left me missing the stairs on level 6.

I guess it should not be possible to make the mistake that I did.. ;-)

[2018-09-11 05:40] jaimefm commented on #4
@giftedprimate. looks like the issue i was having with the addClass/removeClass functions was that i was unable to restart (or remove then add) the SAME animation. however if remove a class then add a different one, i could get the code to restart the animations indefinitely. so i added code to prevent the same animation from running 2 times in a row. take a look at the attached code and let me kn

[2018-09-11 19:47] giftedprimate commented on #4
@jaimefm You nailed it!

Now if you can make a Vue component with the code in the `ui/src/components`. A good way to work on components like this without having the entire application to deal with is to setup a separate 'sandbox' to work in. Here's a tutorial that will show you how to build a vue app with vue-cli, https://flaviocopes.com/vue-cli/, its really easy.

About the Powerups, you are cert

[2018-09-11 19:55] AndersBTC opened #327 "3 stars go to full by default after 1 hour, even without succeeding without"
I have completed some levels after watching the help videos, so the level appears without three full stars, which is great and like they are meant to. However, after that one hour then they automatically go to three full stars, even though I DIDN'T go back and complete the level without a help video.

![screenshot 2018-09-10 18 27 25](https://user-images.githubusercontent.com/39171116/45384096-e29

[2018-09-11 20:17] AndersBTC opened #328 "3 full stars seems intuitively wrong when level not completed (so before even attempted)"
In this case then even though I have not attempted level 2 yet on Conditionals, then it shows three full stars. As we know it is always the case that three full stars are shown, even when the level is not attempted, but I think it is intuitively wrong. When I see that I feel I have completed it, which is not the case. So I am suggesting a third option apart from the stars and the lock. It could be

[2018-09-11 20:35] AndersBTC opened #329 "Conditionals Level 6, I Pass Even Though I Incorrectly Carry 3 Kittens"
I am not 100% sure that this is an error, but it seems that it is, since the portal is not "asking" for 3 kittens. At the same time because of my "Walk Turn" function I actually do pick up the three kittens as you can see on the screenshot.

I passed the level despite bringing these three kittens to the portal that probably shouldn't be there.

![screenshot 2018-09-11 12 45 10](https://user-images

[2018-09-11 21:01] giftedprimate commented on #329
@AndersBTC The goal of this level is just to get to the portal.

Good job!

[2018-09-11 22:45] AndersBTC commented on #329
Yeah I figured afterwards that it was "okay" to carry three kittens unnecessarily to the portal, but it just felt wrong and like I was cheating the game. But I will leave it here. You can close the issue if you want ;-)

[2018-09-11 22:46] giftedprimate commented on #329
@AndersBTC Cool, I'll leave it open in case @JWWeatherman wants to chime in. He's the level designer.

[2018-09-12 00:26] AndersBTC commented on #269
After LUAs FB to Nick, he answered the follow 9/9/2018:

Hey folks,

I'm not doing much podcasting these days, and I'm wanting to move in a less political direction with my media. I'm sure you'd be a great guest, but I don't like doing Skype interviews anymore, especially if I don't have a rapport with whoever I'm talking to. I do make special exceptions, but I don't know JW enough.
I love alterna

[2018-09-12 00:34] AndersBTC commented on #269
Based on the above I will let it be up to JW to potentially respond to that e-mail in case he wants to have Nick on his YouTube channel. It is not the same as being on another channel and being exposed to a new audience, so I will close down this issue now, as there is nothing further here to chase. It will be in the hands of JW whether he wants to chase that show on his own channel.

[2018-09-12 00:34] #269 closed

[2018-09-12 00:56] AndersBTC commented on #215
9/11/2018
Have made an e-mail ready to be sent but depends on whether JW was recorded on School Sucks about to be released. Awaiting JW's answer on Twitter DM.

[2018-09-12 18:30] LUA2018 commented on #324
Great idea. I can dig it.

[2018-09-12 20:29] giftedprimate commented on #304
Deployed to prod

[2018-09-12 20:48] giftedprimate commented on #301
@JWWeatherman Fixed deployed to preprod, ready to be inspected.

[2018-09-12 20:53] AndersBTC commented on #257
9/12/2018
Still didn't hear back to followed up with this e-mail, JW cc::

Hi Breaking Math

 I really think that ex-college professor and Mathbot.com Founder JW would be a great guest on your show. He was recently on Tom Woods' show https://youtu.be/-fpiCJCeE48 (worth a 30 second listen) and is on his way to the Owen Benjamin show as well as Lions of Liberty.

I think you will find it valuable fo

[2018-09-12 21:36] giftedprimate commented on #284
@JWWeatherman deployed to preprod, ready for inspection.

[2018-09-12 21:39] giftedprimate commented on #135
Hey @jaimefm I'd like to continue our conversion about #4 to this issue since it is more fitting to what you are working on now. I'll close #4 since it is completed already and deployed.

[2018-09-12 21:40] giftedprimate commented on #4
moving this conversation to #135

[2018-09-12 21:40] #4 closed

[2018-09-12 21:55] AndersBTC opened #336 "If I Pause the Game (because I see mistake) Then I Can't "Restart" Without Refresh of the Page"
This happens if I play a level and I see that I programmed it wrong half way through the game. I stop it or pause it, to correct my error and restart, but I am not given the chance to restart and none of the buttons work for me  to restart. I have to refresh the page to give the level another try.

It seems that this issue is avoided, if I let the robot go all the way to the end and realize that t

[2018-09-12 22:31] AndersBTC commented on #260
9/12/2018

Still didn't hear anything, so tweeted at them again:
https://twitter.com/Anders_/status/1040004759212548096

[2018-09-12 22:50] AndersBTC commented on #266
9/12/2018

Still no answer, so followed up with the below mail with JW cc: as always:

Hi math factor guys

So, what do you say, could you spare 3 minutes to chat with JW, so you can evaluate (and confirm) that he would be a blast of a guest on your show?

He would love to add a lot of value to one of your episodes!

Please let us know.

[2018-09-12 22:59] AndersBTC commented on #268
Misty did answer back, but said that the podcast is for mothers to share their home schooling experiences. JW answered that despite being a man he thinks he can do a great job as a guest, but suggested that his wife could do it instead of him if necessary.

We didn't hear back on this, so I followed up with Misty 9/12/2018 just asking what she thinks of JW's suggestion.

[2018-09-12 23:09] giftedprimate commented on #178
@JWWeatherman I was needing something to do so I want ahead and implemented this feature and deployed it to preprod, let me know what you think.

[2018-09-12 23:28] giftedprimate opened #338 "If a player presses stop with a successful program before the robot reaches the portal game advances to next level."

[2018-09-12 23:38] giftedprimate commented on #336
@AndersBTC looking into it now.

[2018-09-12 23:53] AndersBTC commented on #270
9/12/2018

I didn't hear back so I followed up with below e-mail. At the same time Shane (LUA) has probably already contacted Brian through FB DM, but always good with an extra person requesting/reminding.

Hi Brian

I think Shane from @LUAradio might have reached out to you in the mean time on Facebook DM.

But just in case, then I wanted to follow up and see if you are willing to go on a quick c

[2018-09-12 23:55] AndersBTC commented on #270
Hi Shane, I have added you to this Issue as well. Feel free to remove me, once you have established contact with Brian and feel sure that you will get a confirmation from him.

[2018-09-13 00:15] AndersBTC commented on #268
9/12/2018

Turns out that Misty already did work on some schedule with JW, so this will be recorded 2018 and air 2019. Not the end of the world, as the game will be even more awesome by that time...

Here is my response to Misty:

Hi Misty

Great to hear that you already coordinated with JW and I so much look forward to hear the episode, although I can see I have to wait until next year ;-)

Good

[2018-09-13 00:16] AndersBTC commented on #268
JW, if you have the final day booked and don't need me to follow up anymore, then feel free to remove me from this issue. Otherwise let me stay on, and then I will simply just check with you next time instead of asking Misty ;-)

[2018-09-13 00:17] giftedprimate commented on #323
@JWWeatherman Feature is implemented and deployed to preprod, ready for inspection.

[2018-09-13 00:48] AndersBTC commented on #257
And Gabe replied back on my follow up and sounds very positive and would love to speak with me about JW and Mathbot. I am trying to get JW to maybe take the call as he can probably convince him even better.. otherwise I am totally down for it!

[2018-09-13 18:06] AndersBTC commented on #257
9/13/2018

Had a great talk with Gabe and he is willing to take JW on the podcast. Here is the summery as also written to  JW in e-mail, as he now has to plot the time for the recording with them:

Hey JW

We've got another JACKPOT!

This is right in the math loving target group with teachers in their listeners, so your appearance here already is bound to bring strong rings in the water with teach

[2018-09-13 20:10] LUA2018 opened #340 "Get JW on Free Talk Live"
We need to get JW on Free Talk Live. They have 150 something AM/FM affiliates and a large audience. I'll reach to Ian and/or Mark to schedule something; worst case scenario, JW could always call in.

[2018-09-13 20:59] AndersBTC commented on #303
9/13/2018

Still no word so replied all on the e-mail:

Hi Eric

I would like to once again extend our invitation for you to appear on JW's YouTube channel. He has had some pretty big names on like Cody Wilson and Lyn Ulbricht and several from the original cypherpunk movement (build tools to circumvent big government and government surveillance).

JW is a huge fan of yours and would really love to

[2018-09-13 22:13] AndersBTC commented on #259
9/13/2018

Erik got back to me, but mentioned that it is a short 10 minutes format so he doesn't really do interviews. He did though say that he would check out Mathbot and potentially do an episode on it.

Here is my reply today:
Hi Erik

Thanks a lot for getting back to me!

I would love to talk with you for ten minutes to give you a bit of a background on Mathbot, so you can see if you want to

[2018-09-13 23:03] AndersBTC commented on #228
9/13/2018
He has still not replied to my DMs, so has probably blocked me. Anyways I don't see that he ahs a podcast or YouTube channel, so he would be a guest on JW's channel, which doesn't bring the message out to new people to the same extend.

[2018-09-14 00:01] AndersBTC commented on #229
9/13/2018

Still didn't hear back, so send this e-mail:

Hi Chuck Woolery

I have an amazing guest for you, who is fresh of Tom Woods show, where he was absolutely flying:  https://youtu.be/-fpiCJCeE48

On his own YouTube channel he recently had Cody Wilson as well as Ross Ulbricht's mother Lyn Ulbricht.

JW is a big figure in the Bitcoin community and is a really well articulated guest with very

[2018-09-15 01:30] eth-is-a-security opened #344 "Level 7 world 5: conditionals do not work unless both slots are used in the function."
![image](https://user-images.githubusercontent.com/40124613/45580955-b0f2bc00-b85c-11e8-9de3-96a4501cc504.png)

![image](https://user-images.githubusercontent.com/40124613/45580968-c667e600-b85c-11e8-8d5c-6d546648f092.png)

![image](https://user-images.githubusercontent.com/40124613/45580996-0929be00-b85d-11e8-9b06-91a41e637b26.png)

[2018-09-15 15:25] JWWeatherman opened #345 "Do the part 2 interview with Giacomo Zucco"
The first part we covered his cyhperpunk ideas, but in the second part I want to make the interview more personal and talk about how his technical background and how he became an anarchist bitcoiner.

This needs to wait until October for both of our schedules.

[2018-09-15 15:31] JWWeatherman opened #346 "Send a link to past youtube videos that are too low volume"
Need to upgrade google drive after buying gift cards with btc and then get the originals uploaded to a folder.

[2018-09-15 15:38] JWWeatherman opened #347 "Firefox won't load on pre-prod"

[2018-09-15 15:41] JWWeatherman commented on #323
This is a very elegant solution. It still makes it hard to know what level you are currently playing if you hop between planets, but I'm not sure that is a problem worth solving with a more cluttered UI so I am going to close this for now. Great fix.

[2018-09-15 15:41] #323 closed

[2018-09-15 15:46] JWWeatherman opened #348 "Host the italian version of the bitcoin threat model"
We need to replace jwweatherman.com with a CMS first so that these sort of changes don't distract the dev team.

[2018-09-15 16:28] giftedprimate commented on #347
@JWWeatherman This isn't related to Firefox, it is actually a bug with auth. If you refresh when it is stuck usually it will advance ok.

To get past that screen...
1) open the inspector (right click on the screen to see menu)
2) click on
    - [chrome -> application]
    - [ff ->  storage]
3)
    - [chrome -> click on clear site data]
    - [ff -> open local storage -> right click localhost:8080

[2018-09-15 16:34] giftedprimate commented on #323
@JWWeatherman Not sure if you noticed but the selected level also always scrolls to the same position when you go the the profile page.

[2018-09-15 16:40] giftedprimate commented on #347
@JWWeatherman I was able to repro this bug by signing in and signing out multiple times in a row. For some reason undefined is getting added as the user profile. I'll work on this for a little bit today to see if I can write some code to prevent this from happening.

[2018-09-15 16:45] JWWeatherman commented on #347
Here is a screenshot of the console:

<img width="1123" alt="screen shot 2018-09-15 at 12 44 24 pm" src="https://user-images.githubusercontent.com/32912678/45588602-3b7efe00-b8e5-11e8-82fc-965ccbbb6927.png">

[2018-09-15 18:51] giftedprimate commented on #347
@JWWeatherman I tentative fix is deployed. The level/step is now taken from the player token in the db which should fix the problem by itself however I also added a fail safe that will take the user to BasicProgramming/WalkOne if the level and step are mismatched.

This fix is deployed to pre-prod.

[2018-09-15 19:11] giftedprimate commented on #347
@JWWeatherman It doesn't work :(. I'll take another swing at it.

[2018-09-15 22:36] giftedprimate commented on #347
This bug happens if the step is not a child of the level when asked for. I will tackle this when I get back from vacation.

[2018-09-16 15:01] jordanBTCplz commented on #220
Did we ever get Sam his tokens?

[2018-09-16 15:05] jordanBTCplz opened #353 "JW Compensation Request 9/16"
JW, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:05] jordanBTCplz opened #354 "Nate Compensation Request 9/16"
Nate, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:06] jordanBTCplz opened #355 "Jordan Compensation Request 9/16"
Jordan, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:07] jordanBTCplz opened #356 "Console Rastling Reward Request 9/16"
Console, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:08] jordanBTCplz opened #357 "Richard Compensation Request 9/16"
Richard, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:09] jordanBTCplz opened #358 "Anders Compensation Request 9/16"
Anders, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:10] jordanBTCplz opened #359 "Shane Compensation Request 9/16"
Shane, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:10] jordanBTCplz opened #360 "Daniel Compensation Request 9/16"
Daniel, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 15:16] jordanBTCplz opened #361 "Sam Compensation Request 9/16"
Sam, please post your reward request and a brief explanation of the tasks completed. When finished please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-09-16 16:40] LUA2018 commented on #359
![image](https://user-images.githubusercontent.com/34818848/45598650-1baf0f00-b9a5-11e8-9bb1-fff8bd8643ff.png)

4.5 hours for this month so far. As far as the Indie Square wallet address, I don't think I have access to that. I have a Counterparty wallet, but haven't gotten information on what to do next.

[2018-09-16 16:47] giftedprimate commented on #357
Powerups requested -
    - 165 hours worked * 60 hr = 9,900

Address -
   1JsEHmaff94Pn88esmuTrc4CKBjJXifSnJ

Description - Solves multiple issues related to improving user experience. Implements authentication front end. Handles all devops for both the pre production site and the production site.

[2018-09-17 15:43] NateAgapi commented on #359
Indie Square is a phone app we use to generate our seeds. It should be on both iphone and Android.

[2018-09-18 17:45] AndersBTC commented on #358
47.5 hours of 150/hour = 7,125

18ui8ogw5s6NQG2v2fpzV1cr5fCwUHDJMC

Worked on getting JW on podcasts and YouTube shows. Several "success" cases or people that responded back that they are up for it: Breaking Math, Eric July (on JWs channel as guest), helping close Owen Benjamin through Superchat, a mum with a homeschooling podcast that I forgot the name of, plus I think one more.

Explained to Sha

[2018-09-18 17:47] AndersBTC commented on #359
Hi Shane. So you also take into account the amount per hour of $20, which we spoke about, so your request in this case would be 90 tokens.

[2018-09-18 18:08] AndersBTC commented on #303
9/18/2018

Eric didn't actually reply on my e-mail, so I replied all (with JW) with this:

Hi Eric

On Twitter you accepted the invitation to be a guest on JW's YouTube channel. Please let JW, who is cc: on this e-mail, know what time is most convenient for you, and JW will try and work something out that works great for your schedule.

[2018-09-19 21:05] NateAgapi commented on #354
66.5 hours * 150 = 9975. Plus 10 more for audio software purchased for JW. So total is **9985**.

Various coordination with contributors, the most time consuming being getting the course forum up and running.

Copyresearch for both JW's course and for an article for a homeschool magazine. Copymine with JW on homeschool article. Transcribed 1700 words of quotes from JW that can be used in future co

[2018-09-19 22:28] AndersBTC commented on #303
9/19/2019

Finally got the e-mail reply from Eric after several follow ups:
"Sorry I'm just now getting back to you.

Let's do it."

I replied-all back saying:
Awesome! JW, are you available today?

Eric - what is your availability today?

CAN'T WAIT TO SEE THE SHOW :D

Thanks a lot for getting back Eric!

[2018-09-20 01:16] LUA2018 commented on #359
1BDtdbuL44dXnStE782Nkippx9PawfEzhs is my Indie Square address. 90 tokens I suppose. Thanks for the help, guys.

[2018-09-25 20:33] giftedprimate commented on #347
@JWWeatherman A fix for this bug is deployed to preprod.

[2018-09-26 19:47] #308 closed

[2018-09-26 19:50] LUA2018 opened #365 "Get JW on Jeff Berwick's Anarchast."
Reached out to Jeff on September 20th via Facistbook messenger.

Hey, Jeff. I hope all is well, man.

I wanted to recommend someone who I think would be a terrific guest for your podcast. His name is JW Weatherman. He's a software security expert, Bitcoin expert, ex-college professor, an-cap, and the founder of MathBot.com, a game that teaches kids math by programming a robot.

The ultimate object

[2018-09-26 19:50] #365 closed

[2018-09-26 19:58] LUA2018 commented on #340
9/26: Reached out to Mark Edge, co-host of FTL via FB message.

Hey, Mark. I hope all is well, man.

I wanted to recommend someone who I think would be a terrific guest for you to have on Free Talk Live. His name is JW Weatherman. He's a software security expert, Bitcoin expert, ex-college professor, an-cap, and the founder of MathBot.com, a game that teaches kids math by programming a robot.

The

[2018-09-26 23:08] giftedprimate commented on #336
@AndersBTC I'm having some trouble recreating this bug. I will keep this issue open since I'm sure to notice it as I work on other things.

[2018-09-27 00:36] giftedprimate commented on #302
@JWWeatherman I had some time for an easy win this evening so I knocked this one out. Deployed to pre-prod, ready for inspection.

[2018-09-27 11:40] giftedprimate commented on #210
to *loop the music

[2018-09-27 11:42] giftedprimate commented on #338
I'm having trouble recreating this bug, something may have inadvertently fixed this issue. I will keep this open in case I notice it again, no action necessary at this point.

[2018-09-27 23:52] giftedprimate opened #370 "All generated functions should be available for each level"
If a user is able to pass a level without using a generated staged function and said function is needed in a later level, program should generated function at that point.

[2018-09-28 02:38] #340 closed

[2018-09-29 18:18] giftedprimate commented on #370
@JWWeatherman all needed functions will be available even if the user did not use it on an earlier level. Deployed to pre-prod, ready for inspection. I also made some improvements to the UI.

[2018-09-29 18:24] giftedprimate opened #373 "Build a Lisp interpreter server side"

[2018-09-29 18:26] giftedprimate opened #374 "Build an `expert` mode client side"
Replaces block programming interface with a text editor.

[2018-09-29 18:28] #338 closed

[2018-09-30 04:58] jaimefm commented on #135
@giftedprimate .   Attached is my VUE implemenation of the robot animation. the zip file also contains the original html I developed. I think you stated that the mathbot project already supports jquery.  however in my project, i had to add the following in the main.js file, which i didn't see in the mathbot ui/src/main.js    :

global.jQuery = require('jquery')
var $ = global.jQuery
window.$ = $

[2018-09-30 11:48] giftedprimate commented on #135
@jaimefm looks great! Feel free to add this code to `ui/src/components` and call it something like `Mascot.vue` then do a pull request. After the merge I will use the component right away!

Jquery is imported globally with webpack using the Provide plugin. You can check it out in `ui/build/weback.dev.conf.js` and `ui/build/webpack.prod.conf.js`.

As for your other dependencies, you can just cd int

[2018-09-30 13:53] giftedprimate commented on #2
@JWWeatherman The basic flow for this feature is implemented in pre-prod.

Please do not close this issue after approval, please just comment and un-assign me from the project so that a ux designer can pick it up.

[2018-09-30 18:28] giftedprimate commented on #203
@JWWeatherman failure sequence now pauses the grid and message as well as illuminates the hint button. There is 3 ways to start again 1) just start editing functions again 2) click the refresh button (not for the browser, one appears where the start button is) 3) click on the message itself

After reviewing this issue please just un-assign me from it so that a designer can pick it up.

Thanks!

[2018-09-30 19:28] giftedprimate commented on #324
@AndersBTC @JWWeatherman social button are added on both the about and profile footers as well as in the win sequence.

Deployed to pre-prod, ready for inspection.

[2018-09-30 19:31] giftedprimate opened #379 "Change video component to use bootstrap-vue modal"

[2018-10-01 00:05] giftedprimate commented on #379
@JWWeatherman videos are now played inside a modal. Deployed to preprod.

[2018-10-02 16:52] AndersBTC commented on #324
Hey Richard. I am still new to the "software development" part of Github. I tried clicking through to to inspect it in Development, but I can't actually see the graphics, when I click on it on there.

Can you please give me a "how to" for dummies to get to your work, so I can see it?

[2018-10-03 12:31] giftedprimate commented on #379
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:31] giftedprimate commented on #324
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:32] giftedprimate commented on #203
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:32] giftedprimate commented on #2
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:32] giftedprimate commented on #370
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:33] giftedprimate commented on #134
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:33] giftedprimate commented on #302
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:33] giftedprimate commented on #347
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:34] giftedprimate commented on #178
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:34] giftedprimate commented on #301
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 12:34] giftedprimate commented on #284
Deployed to prod, leaving open so JW can inspect at a later time.

[2018-10-03 17:41] giftedprimate commented on #374
Editor is built and works. Next step hook it up to the new interpreter.

[2018-10-03 18:42] giftedprimate commented on #311
Closing issue since this is permanently resolved by issue #370

[2018-10-03 18:42] #311 closed

[2018-10-04 19:53] AndersBTC commented on #324
I would on the homepage suggest that a title to the social media buttons is introduced as "Tell Your Friends", but will leave this for our designer to decide. But if there is no call to action, it probably won't have the desired effect.

Unfortunately I can't see the "You Won" screen on https://premathbot.com/robot. The spaceship just keeps flying around the spiral, but doesn't actually take me to

[2018-10-04 22:30] giftedprimate commented on #324
@AndersBTC you must have checked it out while I had a jacked up version deployed today, it is fixed now.

I'll add the instagram link tonight.

[2018-10-04 22:38] giftedprimate commented on #324
@AndersBTC  It looks like Instagram doesn't have a link for social links.

[2018-10-05 12:33] giftedprimate commented on #55
@007Amy I have built a better success flow that is now deployed. The basic success flow it established, now we are just waiting for the final design (story line).

I'm going to close this issue for now since it is covered by #2 #203

Thanks for your input!

[2018-10-05 12:33] #55 closed

[2018-10-05 12:34] giftedprimate commented on #203
@JWWeatherman I am going to un-assign this from us so that a designer will pick it up.

[2018-10-05 12:35] giftedprimate commented on #2
@JWWeatherman I am un-assigning this from us so a designer will pick it up.

[2018-10-05 19:27] AndersBTC commented on #324
Hey Richard, it really looks great man, thanks for implementing! I LOVE the possibility to social share after beating a level, I think that kids will really use this to show to friends and family. Great way to onboard new users!

In general it's really great to see how Mathbot changes and improves almost every other time I visit the website. Great job guys!

[2018-10-06 07:11] jaimefm commented on #135
@giftedprimate . I just created a pull request for the mascot. i was noticing that the name of the div i used was splash-screen, which was the same name that was used on the spaceship portal animation. so it should probably be changed before using the code.

can you give me a few more details about the next animation to work on?

[2018-10-10 14:49] JWWeatherman commented on #344
@giftedprimate I think this is a good bug.

[2018-10-10 14:54] JWWeatherman opened #409 "Need a new design for objects that emphasizes the number"
About 8% of boys/men in the US are color blind. And the numbers get way to small on smaller screens so gamers are too dependent on the color (even if they are not color blind).

So we need to redesign the objects so that the number is very prominent.

We should also place the number 1 on the kitty.

[2018-10-10 14:56] JWWeatherman opened #410 "More video suggestions are back on youtube"
We don't want additional video suggestions to show up on youtube. We had a setting someplace that made this go away, but it looks like they are back.
<img width="907" alt="screen shot 2018-10-10 at 10 54 50 am" src="https://user-images.githubusercontent.com/32912678/46745448-0f079900-cc7b-11e8-98f7-4c7941d6858e.png">

[2018-10-10 15:19] JWWeatherman commented on #379
Looks great.

[2018-10-10 15:19] #379 closed

[2018-10-10 15:21] JWWeatherman commented on #370
I'm going to close this even though I didn't have time to play through the levels to try to pass a few without the expected functions and then see if they are automatically added as needed.

[2018-10-10 15:21] #370 closed

[2018-10-10 15:29] JWWeatherman commented on #324
I think this looks good. The only thing I would like to change is to have nate write the tweets, etc so I am going to assign this to him.

Nate, just put the text you would like posted for each of the social platforms here and assign it to Richard.

[2018-10-10 15:31] JWWeatherman commented on #302
Looks great now.

[2018-10-10 15:31] #302 closed

[2018-10-10 15:32] JWWeatherman commented on #301
Very nice!

[2018-10-10 15:32] #301 closed

[2018-10-10 15:33] JWWeatherman commented on #284
Perfect.

[2018-10-10 15:33] #284 closed

[2018-10-10 15:34] JWWeatherman commented on #283
Done a while back.

[2018-10-10 15:34] #283 closed

[2018-10-10 15:35] JWWeatherman commented on #257
Spoke with these guys and they are struggling since they have a bunch of fans of common core, but the episode after we spoke had a math teach on and they hammered him about Euclid so I think they have been impacted already :]

[2018-10-10 15:36] JWWeatherman commented on #257
Sent another nag email just now.

[2018-10-10 15:37] JWWeatherman commented on #224
@giftedprimate thanks for doing this. Closing as I believe it is resolved. @NateAgapi please let us know if something still isn't working on your end.

[2018-10-10 15:37] #224 closed

[2018-10-10 15:38] JWWeatherman commented on #178
Such a great UX improvement. Good deal.

[2018-10-10 15:38] #178 closed

[2018-10-10 15:41] JWWeatherman opened #412 "List tokens on bisq and create a tutorial video"
Anders, can you find out if we can leave orders open for a long period of time on bisq? And also create a quick tutorial video specifically for mathbot contributors that shows how to get bisq going and create buy and sell orders at various prices?

[2018-10-10 16:38] AndersBTC commented on #257
Alright, I hope something comes out of it..

-------------------------------------------------------------------------------------
Learn math by programming a robot on https://mathbot.com - soon you can
incentivize with Bitcoin. The open source project appreciates any help, if
you find any bugs then this video teaches you how to report the issue:
https://youtu.be/FH1xXdo_FFU

If you have worked wi

[2018-10-10 16:40] JWWeatherman commented on #336
I am going to close this as no-repo even though its probably an issue still. Hopefully we will get a solid repo soon.

[2018-10-10 16:40] #336 closed

[2018-10-10 16:41] JWWeatherman commented on #329
Yeah, when the portal doesn't have a number the goal is just to get to it by any means possible with anything in your hands.

[2018-10-10 16:41] #329 closed

[2018-10-10 19:21] JWWeatherman commented on #328
I agree. This is a good bug, but we need a good designer to give this some thought. We have a lot going on with stars and it might be better to just break it into two controls if we can't find a clever way to address all of the issues.

[2018-10-10 19:43] JWWeatherman opened #414 "Planet 2 Level 5 is missing a number"
Looks like this level got changed and it no longer requires a number on the portal. Let's change it back to what it was before (if it's easy to figure that out by the code) or make it 7 otherwise.

[2018-10-10 19:43] JWWeatherman commented on #414
<img width="872" alt="screen shot 2018-10-10 at 3 39 57 pm" src="https://user-images.githubusercontent.com/32912678/46761726-3d00d380-cca3-11e8-95b7-9ee1bce7aaf6.png">

[2018-10-10 20:46] JWWeatherman opened #415 "When you delete a function it stays in main in a weird state"
I'm not sure how we should deal with this. I think we should probably remove it from "main" on all levels and also ask for confirmation that they want to delete the function?

https://drive.google.com/open?id=1FrV7qqjYqgU011Qv92wlEekMWSA8b6ZD

[2018-10-10 21:32] JWWeatherman opened #416 "Need a sandbox to experiment with additional problems"
Let's use this layout. For now just put the objects we already have, but as we add additional objects we will put them in these locations. Also, no need for a portal in the sandbox, but this can be the default location of the portal for math levels.

Marking this a P1 just because I know we are going to do this right now, but if it turns out to be difficult we can decrease the priority.

<img widt

[2018-10-10 22:31] giftedprimate commented on #416
@JWWeatherman It is deployed to pre-prod.

To access...

1) Signun
2) From profile page
    - ctl + alt + s

[2018-10-10 22:40] giftedprimate commented on #415
@JWWeatherman This is just an over site on my part, to solve this I need to recursively iterate through all the functions and delete that function. On that note, I do believe we should do some sort of confirmation before deleting the function because it could have major implications.

I think the feature is still worth implementing especially as the students progress.

[2018-10-10 22:41] giftedprimate commented on #134
@JWWeatherman I am closing this because the topic has moved to #415

[2018-10-10 22:41] #134 closed

[2018-10-10 22:43] giftedprimate commented on #123
@JWWeatherman this is implemented and deployed to both pre-prod and prod.

[2018-10-10 23:05] giftedprimate commented on #414
@JWWeatherman This level was intended to make sure the user had a function written to get back the corner. If I add kitties it won't match the videos.

[2018-10-11 00:14] giftedprimate commented on #135
@jaimefm this one may be pretty tricky, but I think you can nail it.

We need the robot in the grid to be animated.

The first thing to tackle will be to create an SVG of the robot facing all four directions. Up and down is probably OK as is, but may need to be tilted a little for the animation. Left and right I think will just need to have the body rotated so his feet face the right way.

After t

[2018-10-11 13:49] giftedprimate commented on #416
Keyboard shortcut is now ctl + space

[2018-10-11 13:56] giftedprimate commented on #344
@JWWeatherman I need to whiteboard this one out to make sure this is not actually a bug with the compiler.

[2018-10-11 15:22] JWWeatherman opened #423 "Need to simplify the new signup screen"
Let's remove the "link to image" and "name" fields. I get that we get those automatically when they sign up with google, but let's just use a standard string "NoName32" if it's a required field in the DB (or something smarter is fine too) since we don't actually use it in the app. It is nice to have when we send email, but it's not worth the spike on the signup flow.

For image we should just use

[2018-10-11 16:12] giftedprimate commented on #73
@JWWeatherman mvp of this feature is deployed to pre-prod, ready for inspection.

[2018-10-11 16:13] giftedprimate commented on #170
@JWWeatherman a solution for this issue is deployed to pre-prod, ready for inspection.

[2018-10-11 20:03] NateAgapi commented on #324
Here's a tweet: I just found this cool site: https://mathbot.com. It's a fun little game, but I guess it teaches you programming & math too. I'm enjoying it. It's very satisfying when you get that little robot to finally bend to your will! **World Domination Face**

What about Facebook? I don't use that anymore. Is there any copy needed for that?

[2018-10-11 20:05] NateAgapi commented on #324
Damn Github and it's automarkup. So "World Domination Face" should be preceded by ** and followed by **.

[2018-10-11 20:32] giftedprimate commented on #423
@JWWeatherman deployed to preprod.

[2018-10-11 20:40] giftedprimate commented on #324
@NateAgapi I can do Facebook.

[2018-10-11 20:56] giftedprimate commented on #324
@NateAgapi The platforms are the following...

- linkedin
- facebook
- twitter
- reddit

[2018-10-11 20:59] giftedprimate commented on #324
@NateAgapi I think the Tweet you already wrote will work fine for all the platforms (and it makes coding this allot simpler), what do you think @JWWeatherman?

[2018-10-11 21:16] giftedprimate commented on #410
@JWWeatherman Fixed and deployed to preprod.

[2018-10-11 21:30] NateAgapi commented on #324
Yeah, you can just take that copy, Richard, and use it on the other platforms.

[2018-10-11 21:31] NateAgapi commented on #324
I just talked to JW about this now, and he agrees with you, so you're good to go Richard.

[2018-10-11 21:37] giftedprimate commented on #324
@NateAgapi I have these hashtags included as well for Twitter...

- mathbot
- math_bot
- math
- programming
- jwweatherman_

Do you think that is sufficient?

[2018-10-11 21:49] NateAgapi commented on #324
No, hashtags make for awful copy. Just keep it the way I wrote it. The point is to have the copy sound organic to the person who tweets it. The hashtags make it look like spam. Plus, they don't accomplish anything anyway. They are really only good when a hashtag makes it in the trending list. Even then, I wouldn't use them in copy as people tend to not read tweets with a lot of hashtags.

[2018-10-11 21:52] giftedprimate commented on #324
I'm a social media agnostic! Good to know, thanks!

[2018-10-11 22:27] NateAgapi commented on #145
This is done.

[2018-10-11 22:27] #145 closed

[2018-10-11 22:28] NateAgapi commented on #226
This is done, but I will be constantly revising it.

[2018-10-11 22:28] #226 closed

[2018-10-11 22:29] NateAgapi commented on #243
This is done, and we got at least a couple hundred signups for mathbot because of it. Thanks again @jordanBTCplz for setting this up.

[2018-10-11 22:29] #243 closed

[2018-10-12 01:06] giftedprimate commented on #415
@JWWeatherman A solution for this is deployed to preprod, without the alert, after building it I realized it may not be worth it.

[2018-10-15 15:34] JWWeatherman opened #433 "Console Reward Request 9/16"

[2018-10-15 15:34] JWWeatherman opened #434 "JW Reward Request 9/16"

[2018-10-15 16:18] JWWeatherman commented on #359
Just sent. Please confirm you get em and then close this issue :]

[2018-10-15 16:28] JWWeatherman commented on #355
Sent. @jordanBTCplz please confirm receipt and then close this issue.

[2018-10-16 17:19] AndersBTC commented on #358
You got it, thanks!

[2018-10-16 17:19] #358 closed

[2018-10-17 21:55] JWWeatherman commented on #416
Go to profile page and click ctl + space to access the sandbox.

[2018-10-17 21:55] #416 closed

[2018-10-17 22:16] JWWeatherman commented on #415
@giftedprimate I think we better confirm since removing it will nuke any functions that rely upon it. Hit this myself once or twice already.

[2018-10-17 23:23] JWWeatherman opened #435 "Extra kitty created"
In the attached video I show that there should be one kitty held by the robot and none on the square, but we end up with one on the square and held by the robot.

https://drive.google.com/file/d/1X0lm3lHrjvdeG-T9DuCbWPAdsIHY4aFg/view?usp=sharing

[2018-10-17 23:44] JWWeatherman opened #436 "Text and image toggle"
I think I found a good way to support more icons using custom text without adding additional UI elements.

When the user clicks on the icon (when editing the function) the icon toggles between being the name of the function and the icon/image.

I've been getting confused now that I'm working with a couple dozen functions and I think this will help a lot.

https://drive.google.com/file/d/1iAkzyYsYd

[2018-10-18 13:33] JWWeatherman opened #437 "Need a "holding anything" conditional"
In a previous version we had a rainbow color to represent "holding any color." We should add this back as it will help with division.

[2018-10-18 14:44] JWWeatherman opened #438 "Need a "scrub through" feature"
When the program is running the command bar should have a dot and bar (similar to youtube) over the location where the command bar is.

As the robot executes commands the dot should move across the screen similar to watching a video.

The gamer should be able to grab that dot and move forward or backwards in time to see what the robot is doing and also to control the speed. By dragging the dot to

[2018-10-18 15:06] JWWeatherman opened #439 "When you click on a function to edit it and you are already editing the function you get kicked back to main screen"
Repo:

1. Create a function called "golf ball".
2. Inside "golf ball" call "gold ball" (as you might in a tail recursive function).
3. Click on the function icon for golf ball you are calling inside golf ball.
4. Notice that you are kicked back to the main screen.

Expected:
Nothing should happen except maybe a message that says "you are already editing golf ball."

[2018-10-18 15:20] JWWeatherman opened #440 "Create a "lightning" speed"
We currently have 1x, 2x and 3x speeds. Let's add a lightning speed that is our max speed and will execute the functions as quickly as we are capable.

We have had a couple user requests for this and right now 24 x 3 is taking a couple minutes to complete even at 3x.

Eventually our scrub forward/backward feature might eliminate the need for faster/slower speeds, but I'm assuming this will be much

[2018-10-18 15:34] JWWeatherman opened #441 "Feature idea (not request yet because it might be hard)"
On some levels we have wanted to require that a single function would work to solve a variety of situations. For example an algo that would always move the robot to the bottom left corner no matter where he starts from.

One idea is to have levels where the robots location moves, but you are unable to change the functions as they are locked. If you can't pass the level you need to return to a prev

[2018-10-18 19:03] JWWeatherman commented on #437
We should probably also introduce a "holding nothing" conditional too. So we will have:

1. Holding a specified color.
2. Holding any color (rainbow).
3. Holding nothing (black).
4. Run always (white).

[2018-10-18 19:07] JWWeatherman opened #442 "highlight the command the robot is currently executing (feature idea)"
When the robot is executing commands we should highlight the current command he is executing. When he is executing a function we should scroll down to display the commands inside the function so that they can be highlighted while they are executing, then scroll back up to highlight the next function at the same level.

We can also use the space where commands and functions are stored below by hidi

[2018-10-18 19:24] JWWeatherman opened #443 "Nested function is not being called correctly"
Here is a video walkthrough of the bug:

https://drive.google.com/file/d/1R1IdpqNb1g97t3obqLOALyVLm2-HLr7W/view?usp=sharing

[2018-10-19 17:00] giftedprimate commented on #440
@JWWeatherman tentative solution is deployed to preprod.

[2018-10-19 20:55] giftedprimate commented on #436
@JWWeatherman This is implemented in preprod.

[2018-10-19 22:40] giftedprimate commented on #324
@JWWeatherman Nate's Tweet is implemented on preprod.

[2018-10-20 13:02] giftedprimate opened #450 "Build a nested data structure to better facilitate extra level layers"
Nested layers will be as follow...

- Super Cluster
   - Galaxy
     - Star System
       - Planet
         - Continent

This will require a complete rebuild of stats and lambdas and is going to require setting up new tables to handle them. After this refactor it should be much easier to add outer or inner layers. The nested data structure should be flattened, if possible, before storing in the da

[2018-10-20 15:30] JWWeatherman opened #451 "Need to confirm when deleting a function or deleting all functions from main"
If a gamer accidentally deletes a ton of work it will be very discouraging. Anytime a single click could delete more than 10 mins of effort we should pop a confirm.

[2018-10-20 15:30] JWWeatherman commented on #440
This is an excellent feature in less than a 24 hour turn time. Nicely done!

[2018-10-20 15:30] #440 closed

[2018-10-20 15:31] JWWeatherman commented on #436
Two excellent features in 24 hours. Very cool.

[2018-10-20 15:31] #436 closed

[2018-10-20 15:32] JWWeatherman commented on #423
Perfect.

[2018-10-20 15:32] #423 closed

[2018-10-20 15:46] JWWeatherman commented on #410
perfect

[2018-10-20 15:46] #410 closed

[2018-10-20 15:48] #346 closed

[2018-10-20 15:50] JWWeatherman commented on #324
Looks great.

[2018-10-20 15:51] JWWeatherman commented on #257
Did the podcast. Should be published soon. Good job Anders.

[2018-10-20 15:51] #257 closed

[2018-10-20 15:57] JWWeatherman commented on #170
Very cool.

[2018-10-20 15:57] #170 closed

[2018-10-21 14:42] giftedprimate commented on #135
Hello @jaimefm, the icon is deployed! Just thought I'd let you know so you can show it off.

Thanks!

[2018-10-21 21:17] JWWeatherman opened #456 "Function works unless nested inside another function"
Repo:

1. Create a simple function.
2. Run it and see it works as expected.
3. Nest it inside another function that does nothing else.
4. Notice that the robot jumps to the upper left corner.

Expected:
The robot should do the same thing as in step 2 above.

Here is a video of the bug:
https://drive.google.com/file/d/1JllUSVZMwt2F-QohpRqoApow2vv71-1g/view?usp=sharing

[2018-10-23 23:38] JWWeatherman commented on #324
Hey Richard,

When you get a chance can you make the copy exactly this. There is some weird formatting and my twitter handle in the current version.

I just found this cool site mathbot.com. It's a fun little game, but I guess it teaches you programming & math too. I'm enjoying it. It's very satisfying when you get that little robot to finally bend to your will! **World Domination Face**

[2018-10-23 23:51] giftedprimate commented on #324
@JWWeatherman always something! I'll get to it in a minute. As for the formatting, there's not much I can do with it other than put it in the text box.

[2018-10-23 23:55] JWWeatherman commented on #324
Cool. And can you change each color of the letters so that they make a rainbow? And make the colors reverse after every 20th character. And flash :]

Here it is now:
        I just found this cool site: https://mathbot.com. It's a fun little game, but I guess it teaches you programming & math too. I'm enjoying it. It's very satisfying when you get that little robot to finally bend to your will! **

[2018-10-23 23:56] JWWeatherman commented on #324
Pft. When I paste it into github it removes the extra spaces before "I just found out"

[2018-10-23 23:58] giftedprimate commented on #324
I literally don't have control over the spaces in the beginning. I  just send the text to the url and it is placed in the box for me.

[2018-10-24 00:32] AndersBTC commented on #328
Totally agree!

[2018-10-24 00:35] giftedprimate commented on #324
@JWWeatherman The fix is deployed to production. :)

[2018-10-24 00:59] NateAgapi commented on #324
Richard, I just want to give you a reminder that the copy should read: "I just found this cool site mathbot.com. It's a fun little game, but I guess it teaches you programming & math too. I'm enjoying it. It's very satisfying when you get that little robot to finally bend to your will! ** World Domination Face **"
But make sure to delete the space between the asterisks and "World Domination Face."

[2018-10-24 01:00] giftedprimate commented on #324
@NateAgapi Already done and deployed to prod.

[2018-10-24 01:01] #324 closed

[2018-10-24 12:03] giftedprimate commented on #456
@JWWeatherman This is intentional at the moment because the compiler doesn't know how to handle a user function with a single user function within itself. We will revisit this after the lisp interpreter is finished.

[2018-10-25 00:39] giftedprimate commented on #357
Got em, thanks!

[2018-10-25 00:39] #357 closed

[2018-10-29 21:53] LUA2018 commented on #359
Got them! Thanks.

[2018-10-29 21:53] #359 closed

[2018-11-14 13:40] j-chimienti commented on #1
### How to

get user.isAdmin? https://github.com/JWWeatherman/math_bot/compare/master...j-chimienti:add/admin-view?expand=1#diff-45ea0d3cff30b875b4e3c0ec35d5cafbR109

I am hardcoding atm

konami code : https://github.com/JWWeatherman/math_bot/compare/master...j-chimienti:add/admin-view?expand=1#diff-64f4b09e1a82c31346c2200e9f670384R8

typing 'god' will route user to admin page

### Admin User

Use

[2018-11-16 16:41] j-chimienti commented on #451
What's a good way to describe effort?

ATM I am starting clock when the app starts, and reseting when confirmed.
So 10+ min window, user has to  confirm, even if level of effort is minimal

[2018-11-16 16:46] JWWeatherman commented on #451
Sorry, my description wasn't clear. We should always ask for confirmation when deleting a function or when deleting all functions from main. I was just explaining that our policy should be always to confirm in situations where significant work could accidentally be lost.

[2018-11-16 17:13] JWWeatherman commented on #451
Wow, this was a badly written bug, sorry about that. Here is a video that shows the two cases that need confirmation:

https://drive.google.com/file/d/1Ajo0f4rrwLZpHMXbNWSrnsdqm6YpONpG/view?usp=sharing

[2018-11-19 00:11] giftedprimate commented on #450
The star-system branch is MVP minus the ability to execute recursion console.rastling will update the compiler to handle the new data tomorrow night.

[2018-11-19 15:02] j-chimienti commented on #451
I’m trying to think of a good solution for user to confirm function deactivation.

I don’t want to block game flow, but the solution I came up with involved creating endpoint to stage function, and then deactivating function separately

[code]

So I'm thinking of good FE solution to confirm deactivation. The only way is to show a popup and lock the pieces, and wait for user confirmation.

[2018-11-19 21:54] giftedprimate commented on #451
@j-chimienti It really is nice to have some help on the front end, I think between the two of us we will be able to take this to the next level!

I went ahead and merged #451. There is just a couple things to work on still.

1 - When I click trash can on the bar the puzzle pieces animate properly, but when I click the x to close it they continue to animate.

2 - When I deactivate a function and de

[2018-11-20 20:10] giftedprimate commented on #73
Closing since this is in productions already.

[2018-11-20 20:10] #73 closed

[2018-11-20 20:11] giftedprimate commented on #415
Closing since this is in production. Last comment is being handled with issue #451

[2018-11-20 20:11] #415 closed

[2018-11-20 20:11] giftedprimate commented on #123
Closing because this feature is in production already.

[2018-11-20 20:11] #123 closed

[2018-11-20 20:13] giftedprimate commented on #135
Hello @jaimefm, Just checking in to see how things are going.

[2018-11-20 20:15] giftedprimate commented on #450
@console-rastling Assigning this issue to you until the compiler is updated to handle a func field of None.

[2018-11-20 20:17] giftedprimate commented on #443
@console-rastling I think this bug is related to the compiler not liking a single function inside another function.

[2018-11-20 20:21] giftedprimate commented on #442
@console-rastling @JWWeatherman  I think the best approach for this will be to add the function's (that executed the frame) createdId to each frame then I can write client side code that will highlight the function as the robot runs. This implementation would actually be pretty simple to write. Is it possible console?

[2018-11-20 20:59] giftedprimate commented on #437
@JWWeatherman here's a [CodePen](https://codepen.io/giftedprimate/pen/WYdOxM) of what the new conditionals will look like.

[2018-11-20 21:01] giftedprimate commented on #439
This is solved as part of #450

[2018-11-20 22:22] console-rastling commented on #443
The cause was old code that tried to heuristically block deadly recursive function loops where a function calls itself.  It is no longer needed, and it was preventing the MBL compiler from working as well, so the fix is the star-system branch.

[2018-11-21 22:31] JWWeatherman opened #497 "Dragging the uturn on Programming level 7 doesn't work on Safari on Mac"
Repro:

Use Safari on a mac and attempt to complete level 7 of Programming. Notice you can't drag the u-turn function out to use it.

[2018-11-21 22:32] JWWeatherman commented on #497
Not something that's worth messing with the holiday since most users are on Chrome.

[2018-11-22 01:10] giftedprimate commented on #497
This is odd because there's nothing browser specific about that operation. Can you use all the other functions?

[2018-11-22 01:15] giftedprimate commented on #497
I just tested it and verified you cannot drag any of the functions out of staged. I'll take care of it Friday.

[2018-11-22 01:28] giftedprimate opened #499 "Style Single Digit Arithmetic planets"
Need to style single digit arithmetic planets.

Also need to update Level_congrats.vue and Continents.vue css with new planets.

[2018-11-22 01:38] JWWeatherman commented on #497
Cool.

On Wed, Nov 21, 2018 at 8:15 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-23 16:42] giftedprimate commented on #1
@j-chimienti Can you add a line graph view as well for this? We would like a graph so that JW can see the date of an event (like the Tom Woods show) and the trends directly afterword. Keep the calendar as well since you already built it, I also think the calendar could come in handy, especially for us devs.

Thanks.

[2018-11-23 18:36] giftedprimate commented on #439
@JWWeatherman Fix deployed to pre-prod.

[2018-11-23 18:37] giftedprimate commented on #439
@JWWeatherman Sorry wrong issue, fix for this will be part of refactor, #450

[2018-11-23 18:38] giftedprimate commented on #497
@JWWeatherman Fix deployed to pre-prod.

[2018-11-23 18:40] giftedprimate commented on #451
@j-chimienti I totally merged this before you moved the tile to Code complete, sorry about that. Everything looks fine to me at this point, are you happy with it?

[2018-11-23 18:41] giftedprimate commented on #135
@jaimefm No problem, I just haven't heard from you in awhile so I just wanted to touch base with you. No rush. Thanks.

[2018-11-23 20:21] giftedprimate opened #503 "Get `Unknown command submitted to compiler` when trying to play after stopping program"

[2018-11-23 21:05] giftedprimate commented on #503
Fixed.

[2018-11-23 21:07] giftedprimate opened #504 "Compiler stops responding on long recursive functions."
Conditional level 16

[2018-11-24 16:33] j-chimienti commented on #451
Yes I'm happy with functionality, and updated status to complete

[2018-11-24 16:44] j-chimienti commented on #1
### Line Chart

<img width="978" alt="screen shot 2018-11-24 at 11 43 19 am" src="https://user-images.githubusercontent.com/16620120/48970759-29ed5d00-efde-11e8-9b11-716ded799ec4.png">

<img width="962" alt="screen shot 2018-11-24 at 11 42 02 am" src="https://user-images.githubusercontent.com/16620120/48970747-01fdf980-efde-11e8-8902-7fe28a77414b.png">

### Date Range Selectors

**last X  option**

[2018-11-24 16:48] giftedprimate commented on #1
@JWWeatherman @j-chimienti is kickin' ass!

What do you think of these charts JW?

[2018-11-24 19:11] JWWeatherman commented on #1
They look amazing. Will be a better dashboard than any startup I’ve ever worked on!

[2018-11-24 23:07] JWWeatherman commented on #497
Fixed.

[2018-11-24 23:07] #497 closed

[2018-11-24 23:09] JWWeatherman opened #514 "Can't click on the profile picture in Safari (preprod only)"
Looks like this is related to a recent code change as it won't repro on production, but using Safari on Mac I am unable to click my profile picture to change levels or sign-out.

[2018-11-24 23:13] JWWeatherman commented on #514
I also can't click on the stars for hints and this is also working fine in production (but broken in pre-prod).

[2018-11-24 23:42] giftedprimate commented on #497
Deployed to prod.

[2018-11-25 23:04] giftedprimate commented on #514
Deployed to pre-prod

[2018-11-26 00:30] giftedprimate commented on #456
related to #443 and is solved, see comment in that issue for info.

[2018-11-26 01:08] JWWeatherman opened #527 "Update portal and robot locations for coordinate levels"
For the coordinates planet the portal is in the wrong location on a few of the levels and its actually better if the robot is randomly placed. Assuming the bottom left corner is location (1,1) and the first number increments as you move right and the second number increments as you move up.

Level 2: portal at (1,1) bottom left corner - make the robot start at (3,3)
Level 3: portal at (3,3) robot

[2018-11-26 16:59] JWWeatherman opened #530 "On coordinates planets remove the rocket and give turn left and u-turn functions"
Right now we give them the rocket function, but that should be removed and we should add the turn left and uturn functions. And we should have those functions populated correctly.

This is not blocking me, but we should fix before deployment to production.

[2018-11-26 17:05] JWWeatherman opened #531 "When deactivating a function it the icon should replace the name."
Repo:

1. Drag a function into the staging area.
2. Open the function, name it, and click on the icon to change it to display the name.
3. Drag the function back into the unused icons area and confirm you want to deactivate it.
4. Notice that it still shows the name you gave it.

Expected:
The unused function should revert to displaying the icon.

[2018-11-26 17:06] JWWeatherman commented on #531
The name of the function is also retained. It should be removed so the icon is reset to the unused status.

[2018-11-26 17:31] giftedprimate commented on #531
@JWWeatherman this is part of #451 which is in the inspection column. It may be better to add this to that conversation.

[2018-11-26 17:36] giftedprimate commented on #530
@JWWeatherman  You should have all your functions on that level on this level in staged functions unless you have used them.

[2018-11-26 17:39] JWWeatherman commented on #530
Oh, ok. Makes sense. Disregard.

On Mon, Nov 26, 2018 at 12:36 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-26 17:40] giftedprimate commented on #530
I didn't set any restrictions and all previously generated functions are added to a level if didn't use it on the level it was generated on.

[2018-11-26 17:40] #530 closed

[2018-11-26 17:40] giftedprimate commented on #530
Just tested and it should be working

[2018-11-26 18:33] giftedprimate commented on #531
@JWWeatherman Or nevermind, it is different. I can fix this in 5 minutes.

[2018-11-26 18:49] giftedprimate commented on #531
Deployed to pre prod.

[2018-11-26 18:57] giftedprimate commented on #344
@eth-is-a-security @JWWeatherman  The robot must drop the block so that he is not holding it after the recursive functions is called again. Conditionals refer to if the robot is holding the color.

Hope this helps! I'm going to close this issue for now since this is by design.

[2018-11-26 18:57] #344 closed

[2018-11-26 18:59] giftedprimate commented on #450
@JWWeatherman Considering this issue MVP at this point. Any new issues can be filed desperately. Deployed to pre prod.

[2018-11-26 19:02] giftedprimate opened #536 "Needs to unlock Single Digit Arithmetic if last level in Conditional beat"
This is issue is being filed retroactively, was solved by #532.

[2018-11-26 19:04] giftedprimate commented on #536
@JWWeatherman Fix deployed to pre prod. This one may be impossible to test in pre prod unless you have a legacy account with all the levels Programming levels beat. It is working.

[2018-11-26 19:34] giftedprimate commented on #437
@console-rastling Can you implement these in the compiler please.

[2018-11-26 19:41] giftedprimate opened #537 "Need to implement 'n' frames message in compiler"
- Compiler should respond with every 'n' frames. e.g. Client asks for 10, compiler should respond every 'n' frame of program.
- Each frame should include the updated grid at that point, including previous 'n' frames grid.

[2018-11-26 20:51] JWWeatherman commented on #527
On level 3 the portal is in the correct position, but the robot it is at (1,1) instead of (8,5)
On level 5 the portal is it (7,1) instead of (6,2) and the robot is at (10,3) instead of (9,2)
On level 7 the portal is at (3,3) instead of (2,3). Also the robot should be at (7,5) but this was my mistake because I told you to put it in an invalid position.

[2018-11-26 20:54] giftedprimate commented on #527
Getting this right is a pain for me because I think starting from the top left and with 0 being the first index. I'll try again.

[2018-11-26 20:57] JWWeatherman commented on #527
Totally. I was tempted to change the board so the robot walks on the lines, but I think that would be confusing too.

[2018-11-26 21:00] giftedprimate commented on #527
Did you edit the issue comment? Because I know for a fact it didn't say that yesterday, I thought the positioning was odd.

[2018-11-27 00:11] giftedprimate commented on #527
It's deployed again.

[2018-11-27 14:40] JWWeatherman opened #546 "Highlighting of levels is gradated"
On the right is production and the highlight is correct. On the left is pre-prod and the highlight in a gradient. @giftedprimate is this a good bug for Will since it isn't a high priority?

<img width="882" alt="screen shot 2018-11-27 at 9 39 16 am" src="https://user-images.githubusercontent.com/32912678/49088913-5ac0d280-f228-11e8-9103-c58da6028d00.png">

[2018-11-27 14:45] giftedprimate commented on #546
It isn't a bug, I did that on purpose because when I implemented this feature originally you said it still wasn't very obvious which level was selected. I can switch it back in less than 1 min. Will is working on a more important problem #476 so I'll just switch it.

[2018-11-27 14:46] JWWeatherman commented on #546
Ok, cool. I think it looks great as is. Not sure what I was thinking.

[2018-11-27 14:51] JWWeatherman opened #547 "Ctrl-Space doesn't open sandbox in preprod"
Still works in prod, but can't get into sandbox in pre-prod.

[2018-11-27 14:52] giftedprimate commented on #546
I kinda like the old way better. If you change your mind I can change it back really easily.

[2018-11-27 14:53] giftedprimate commented on #547
It doesn't exist right now in pre-prod. I can re-implement it today.

[2018-11-27 14:55] JWWeatherman commented on #547
Ok, is my old code from the sandbox in pre-prod lost or still there? No biggie either way.

[2018-11-27 14:56] giftedprimate commented on #547
It is lost because the refactor completely changed how that works.

I'd like to implement a sandbox as a star-system so that our users can play around with it. Would that be ok with you? This will not be a big deal at all to implement.

[2018-11-27 14:57] JWWeatherman commented on #546
Sorry, that comment was unclear. I prefer the non-gradient on level highlighting. The version that is currently on production (right side of the above screenshot). I also just notice the gradient/drop shadow on the profile image in the upper right hand corner. I don't really like that either.

[2018-11-27 14:58] JWWeatherman commented on #547
Yeah, actually that will be fine as long as we automatically play a hint video that explains what it is. That will address my concern that people will get lost in there not knowing the purpose.

[2018-11-27 15:00] giftedprimate commented on #546
The radial gradient on the profile image has been removed already in pre-prod, that was a bug related to a CSS selector...

![image](https://user-images.githubusercontent.com/33336425/49090211-43371900-f22b-11e8-93bd-990dad4f4e84.png)

[2018-11-27 15:01] JWWeatherman commented on #547
Is it possible to recover that code from git? It will probably take me 5 hours to recreate it so if it takes much longer than that it's not worth the effort.

[2018-11-27 15:01] giftedprimate commented on #546
I'll change the levels outline today as well along with #547

[2018-11-27 15:01] JWWeatherman commented on #546
Awesome.

[2018-11-27 15:03] giftedprimate commented on #547
Recovering the code from git will not solve this problem.

It's easy to implement it either way, would you like it to be ctl+space or a star-system? I can implement this in less than 2 hrs.

[2018-11-27 15:10] giftedprimate commented on #547
You should have all your functions regardless if you are logged in with the same account you logged in with before. The functions are not tied to any of the levels. Do you not have your functions?

[2018-11-27 15:22] giftedprimate commented on #547
The func field is not being transferred over. You must have the functions but they are empty when you open them, is this the case?

[2018-11-27 16:39] JWWeatherman opened #548 "Name swaps with icon slowly and the font is applied wrong"
The first time you change the icon to the name it takes a long time. And the size of the font isn't adjusted correctly until you drag the icon into main.

See the video for repro:

https://drive.google.com/file/d/1XiVA4-V3NKgdO5wykG0Js5_Uwj1_4Z24/view?usp=sharing

[2018-11-27 16:56] giftedprimate commented on #546
Deployed to pre prod

[2018-11-27 18:49] giftedprimate commented on #547
Deployed to pre prod. It is represented as a starSystem instead of ctl+space

[2018-11-28 00:45] console-rastling commented on #442
@giftedprimate It's ready for you to implement the client support.  Each client frame now has a "trace" array with the currently executing function and an index to which operation in the function is moving the robot.

[2018-11-28 15:31] JWWeatherman opened #554 "Change Planet 4 Level 1 to 2 * 2"
Once I started recording I realized that multiplying by 1 is a terrible way to start. I'm not blocked for recording videos as I can use a future level and pretend it is the first level.

[2018-11-28 15:40] JWWeatherman opened #555 "Add more levels to the coordinates planet"
Let's make 18 levels on the coordinates planet. Repeat the existing problems randomly and add this one too:

I am not blocked for recording, because I can just swing back and record the new level later.

Robot at position (4,4)
Portal at position (3,2)

[2018-11-28 15:43] JWWeatherman opened #556 "When you fail to complete the level pulse the hint stars and the reset button"
This will make it less likely someone gets stuck not knowing what to do next.

[2018-11-28 15:45] giftedprimate commented on #554
Level 4 is 8 * 1
Level 13 is 1 * 1

Are these ok?

[2018-11-28 15:46] JWWeatherman commented on #554
Yeah, it’s cool. Just don’t want to start with a *1

On Wed, Nov 28, 2018 at 10:45 AM, Richard Porter <notifications@github.com> wrote:

[2018-11-28 16:11] JWWeatherman commented on #554
I just realized that level 2 is 2*5 = 10, but I was supposed to keep these limited to single digit answers. Can you change that to 2*4 too.

[2018-11-28 16:11] JWWeatherman commented on #554
Actually lemme run through these all so I don't keep asking for random changes.

[2018-11-28 16:12] giftedprimate commented on #554
k

[2018-11-28 16:18] JWWeatherman commented on #554
Level 1 = 2*2 (change needed)
Level 2 = 3*2 (change needed)
Level 3 = 4*2
Level 4 = 8*1
Level 5 = 4*2
Level 6 = 3*2
Level 7 = 2*4
Level 8 = 4*2
Level 9 = 2*3
Level 10 = 2*2
Level 11 = 3*2
Level 12 = 4*2
Level 13 = 1*1
Level 14 = 2*3
Level 15 = 4*2
Level 16 = 3*3
Level 17 = 2*4
Level 18 = 1*9

Looks like they are all fine except the first two.

[2018-11-28 16:37] giftedprimate commented on #554
Deployed

[2018-11-28 16:39] JWWeatherman commented on #554
thx dude!

[2018-11-28 16:39] #554 closed

[2018-11-28 17:40] JWWeatherman opened #559 "When deactivating a function another function is deactivated instead"
I don't have a great set of repo steps on this as it doesn't happen everytime, but here is a screen recording that shows the bug:

https://drive.google.com/file/d/1P0_jAuroSNiq-sLho8Ryi3B1Ws4_sFHg/view?usp=sharing

I don't know if it reproduces in production or only preprod and this is not blocking me on videos.

[2018-11-28 17:44] giftedprimate commented on #559
Try to actually deactivate swap 1 for 1 and see if that is actually the one that gets deactivated. This may just be a bug on the front end only.

[2018-11-28 17:50] giftedprimate commented on #559
I can confirm it is trying to deactivate the wrong function

[2018-11-28 17:52] JWWeatherman commented on #559
Cool.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, November 28, 2018 12:50 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-28 18:37] JWWeatherman commented on #559
Cool. That does sound tricky. I’ve also noticed that it’s really easy to accidentally re order your functions when using them. Not sure if the solution will (or can) address this, but thought it worth mentioning.

On Wed, Nov 28, 2018 at 1:25 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-28 18:40] giftedprimate commented on #559
I have wrestled with this problem in the past and gave up in favor of other tasks. I'll work on it again, it is annoying the way they move so easily. I think this is why we didn't allow for re-arranging functions in the beginning.

[2018-11-28 18:43] JWWeatherman commented on #559
Cool. It might be as good as it can be, but it might be worth a quick battle if its closely enough related to this bug.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, November 28, 2018 1:40 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-28 18:44] JWWeatherman commented on #559
I actually like the way they sort easily. Could we only save the new position when it is dropped? That way if you accidentally drag over something as you are dragging it out it dosen't effect the sort order?

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, November 28, 2018 1:43 PM, JW Weatherman <jw@jwweatherman.com> wrote:

[2018-11-28 18:46] giftedprimate commented on #559
That already happens. The problem is that when you drag out of the draggable and the ghost moves it changes the sortable index.

[2018-11-28 18:48] giftedprimate commented on #559
It's not as good as it gets, it never is. ;)

[2018-11-28 18:53] giftedprimate commented on #559
Ya it's sortable js moving a function even though it was dropped into a different droppable. I have an idea of how to fix it. It shouldn't be to bad.

[2018-11-28 20:17] giftedprimate commented on #559
If you run into this bug in the mean time all you need to do to correct the indexing is refresh.

[2018-11-28 21:48] JWWeatherman commented on #559
Excellent.

On Wed, Nov 28, 2018 at 3:17 PM, Richard Porter <notifications@github.com> wrote:

[2018-11-28 21:51] giftedprimate commented on #559
What do you think of a little switch that turns sort on and off?

[2018-11-28 21:56] giftedprimate commented on #559
One sec and I'll send a demo.

[2018-11-28 22:18] giftedprimate commented on #559
Nm, the solution turned out to be easy. If staged functions is open I simply disable sorting.

[2018-11-29 15:50] giftedprimate commented on #559
Almost finished with this.

[2018-11-29 16:18] giftedprimate commented on #559
Deployed to pre prod.

The problem is that SortableJs is not indexing the functions properly so the order in the ui does not always match our data structure. The fix was to use a data attribute of the functions created id so that we are not dependent on the index because we can do a find on the active array with the created id.

This implementation will still show the active functions in the wrong

[2018-11-29 16:22] giftedprimate opened #562 "Ensure active functions UI order always matched active functions array"
This appears to be a bug with SortableJs.

If you drag an active function to another drop zone and the placeholder happens to move to a new position in active functions SortableJs is moving the icon in the UI even though the active functions list stays correct.

My initial thought is to force update the nextTick.

[2018-11-29 17:23] giftedprimate commented on #555
Deployed to pre prod.

[2018-11-29 18:05] giftedprimate commented on #556
I am working on this now.

You can also just start programming again to reset the level. This may be worth mentioning in one of the free hints.

[2018-11-29 18:40] giftedprimate commented on #556
Deployed to pre prod.

[2018-11-29 18:58] JWWeatherman commented on #559
Looks good. Can't see anymore repro.

[2018-11-29 18:58] #559 closed

[2018-11-29 19:01] JWWeatherman opened #566 "When deactivating a function it remains a conditional"
Repro:

1. Create a new function.
2. Make it blue (conditional).
3. Deactivate it.
4. Notice it is still bule.

Expected:
Return to default.

[2018-11-30 14:04] JWWeatherman commented on #566
Looks great.

[2018-11-30 14:04] #566 closed

[2018-11-30 14:06] JWWeatherman commented on #556
This looks good. Is it easy to slow down the pulses? They are kind of intense. Maybe make each pulse take about a second?

[2018-11-30 14:06] JWWeatherman commented on #555
Looks great.

[2018-11-30 14:06] #555 closed

[2018-11-30 14:06] JWWeatherman commented on #547
Much easier. Good solution.

[2018-11-30 14:06] #547 closed

[2018-11-30 14:07] JWWeatherman commented on #546
Looks great now.

[2018-11-30 14:07] #546 closed

[2018-11-30 14:07] JWWeatherman commented on #536
Cool.

[2018-11-30 14:07] #536 closed

[2018-11-30 14:08] JWWeatherman commented on #531
Working great.

[2018-11-30 14:08] #531 closed

[2018-11-30 14:08] JWWeatherman commented on #527
Works great.

[2018-11-30 14:08] #527 closed

[2018-11-30 14:09] JWWeatherman commented on #514
Verified.

[2018-11-30 14:09] #514 closed

[2018-11-30 14:10] JWWeatherman commented on #499
Good job @willweatherman. This looks great.

[2018-11-30 14:10] #499 closed

[2018-11-30 14:12] JWWeatherman commented on #451
@j-chimienti this is great. Good design solution and it has been working perfectly.

[2018-11-30 14:12] #451 closed

[2018-11-30 14:14] JWWeatherman commented on #450
Looks solid.

[2018-11-30 14:14] #450 closed

[2018-11-30 14:14] JWWeatherman commented on #443
Looks good.

[2018-11-30 14:14] #443 closed

[2018-11-30 14:15] JWWeatherman commented on #439
Confirmed in preprod.

[2018-11-30 14:15] #439 closed

[2018-11-30 14:16] JWWeatherman commented on #345
I'm going to close this. Still plan to do it at some point, but it's probably not going to impact mathbot adoption.

[2018-11-30 14:16] #345 closed

[2018-11-30 14:18] giftedprimate commented on #556
Not a big deal at all, I'll take care of this first thing today.

[2018-11-30 14:21] JWWeatherman opened #571 "Need more unused functions"
Right now my JW account on pre-prod is using about 50 functions. I only have a couple left unused. Can we add another 50 so we have a total of 100 unused functions?

[2018-11-30 14:48] giftedprimate commented on #571
It may be best to refactor this so that we have unlimited 'staged' functions by using the noun project API instead of hard coding the link like we are doing now. I would still only render 50, but there would always be 50 available.

Does this sound good to you?

[2018-11-30 14:49] JWWeatherman commented on #571
I’m not sure it’s worth the effort. I think more than 100 and our UX is getting very shaky.

On Fri, Nov 30, 2018 at 9:48 AM, Richard Porter <notifications@github.com> wrote:

[2018-11-30 14:54] JWWeatherman commented on #571
I suppose if the feature is less than 3x more work than manually adding 50 it’s probably worth doing.

On Fri, Nov 30, 2018 at 9:49 AM, JW Weatherman <jw@jwweatherman.com> wrote:

[2018-11-30 15:07] giftedprimate commented on #571
It will get shaky if we hard code 100 image urls. If you use the api we will only call for what we need at any given time, plus we don't have to store them that way.

[2018-11-30 15:09] giftedprimate commented on #571
Hard coding will be trivial compared to using the api, but we are going to be kicking another problem down the road. I'll leave it up to you to decide.

[2018-11-30 15:15] giftedprimate commented on #571
*the noun project would be storing all the images.

[2018-11-30 15:17] JWWeatherman commented on #571
Ok, let hardcode.

On Fri, Nov 30, 2018 at 10:09 AM, Richard Porter <notifications@github.com> wrote:

[2018-11-30 15:18] giftedprimate commented on #571
k

[2018-11-30 15:21] giftedprimate commented on #571
Hey Will,

I need you to get 50 images from the noun project and add them to the bottom of the `funcImages` property in `ui/src/assets/assets.js` starting at `'51'`.

Just pick images that are similar to what we already have and store them in your cloudinary account.

Thanks!

[2018-11-30 15:22] willweatherman commented on #571
Hi,

This is rated a priority 3 is that higher than 2?

Thanks-
Will.

[2018-11-30 15:28] willweatherman commented on #571
Ok.

[2018-11-30 15:35] JWWeatherman commented on #571
No, higher priority is a lower number.

On Fri, Nov 30, 2018 at 10:30 AM, willweatherman <notifications@github.com> wrote:

[2018-11-30 15:43] giftedprimate commented on #571
Huh?

[2018-11-30 17:54] giftedprimate commented on #556
Deployed to pre prod.

I ended up going with a slow flash instead of a pulse because it is more subtle and doesn't feel as aggressive. Slowing down the pulse or tada animations looked weird. I also hide the green bar while the animation runs so that the refresh button stands out better.

[2018-11-30 18:17] JWWeatherman commented on #556
Looks great.

[2018-11-30 18:17] #556 closed

[2018-11-30 20:54] giftedprimate commented on #548
Deployed to pre prod.

[2018-11-30 20:57] giftedprimate commented on #571
I am assigning this to myself as well because I am going to start working on the backend of this feature now.

[2018-12-01 00:01] giftedprimate commented on #571
Back end is MVP. @willweatherman holler at me when you to your PR with the new images.

[2018-12-02 13:55] giftedprimate commented on #571
@willweatherman do a pull request when the planets are ready. Thanks.

[2018-12-02 13:57] willweatherman commented on #571
Hi, I will. It should be done in the next 3 hours.

[2018-12-02 16:26] JWWeatherman opened #579 "New Hint Videos"
Coordinates:
1 hint 1 https://youtu.be/7HsTgJq7Ir0
1 Hint 2 https://youtu.be/qBB6_IS3THU
1 Hint 3 https://youtu.be/sgfjPCRt33g
2 https://youtu.be/aFkFxgIhIhI
3 https://www.youtube.com/watch?v=-b8Ii57XREA
4 https://www.youtube.com/watch?v=FOp1-UPtQEc
5 https://youtu.be/nAYeSfUjLj8
6 https://youtu.be/wcVNnhnqaCc
7 https://www.youtube.com/watch?v=FOp1-UPtQEc&t=3s
8 https://youtu.be/G_zAgyv8C48
9 http

[2018-12-02 22:02] JWWeatherman opened #581 "Limit main to a single function in coordinates level 2-18"
The first level is actually addition so it should be unlimited, but 2-18 use a single function for the coordinate.

[2018-12-03 12:33] giftedprimate commented on #579
No problem, I'll get these done today.

[2018-12-03 14:00] giftedprimate commented on #579
@JWWeatherman Coordinates 4 and 7 are duplicates and the portal is in different spots.

[2018-12-03 15:33] giftedprimate commented on #579
@jwweatherman nm, I found the correct video for level 7.

[2018-12-03 15:38] giftedprimate opened #583 "Free Hints - Single Digit Arithmetic"
@JWWeatherman are you going to record free hints for these planets? Or should I use the first hint for each of them?

[2018-12-03 15:51] giftedprimate commented on #581
Deployed to pre prod.

[2018-12-03 15:51] giftedprimate commented on #579
Deployed to pre prod.

[2018-12-03 17:11] giftedprimate commented on #571
@willweatherman Replace all the playing card icons with something else. I understand why you picked playing cards, however the icon features are so tiny that many of them look exactly the same. Also I noticed a duplicate, it is very important this does not happen.

Please do that ASAP. Thanks!

![image](https://user-images.githubusercontent.com/33336425/49389476-67479e00-f6f4-11e8-907d-c2b2d777668

[2018-12-03 17:16] willweatherman commented on #571
Ok I'll start on it now.

[2018-12-03 17:18] giftedprimate commented on #571
Awesome, thanks!

[2018-12-03 17:40] willweatherman commented on #571
@giftedprimate I just finished adding the new images and creating a pull request.

[2018-12-03 17:41] giftedprimate commented on #571
Cool, thanks!

[2018-12-03 20:10] giftedprimate commented on #374
Closing in favor of #476

[2018-12-03 20:10] #374 closed

[2018-12-03 20:17] giftedprimate commented on #442
On it :)

[2018-12-03 20:47] giftedprimate commented on #571
Deployed to pre prod

[2018-12-03 21:18] giftedprimate opened #587 "Setup Prettier for UI Directory"
@j-chimienti has some experience with Prettier and is willing to set it up.

[2018-12-03 22:12] JWWeatherman commented on #581
Looks good.

[2018-12-03 22:12] #581 closed

[2018-12-03 22:13] JWWeatherman commented on #579
Random checks looked good.

[2018-12-03 22:13] #579 closed

[2018-12-03 22:16] JWWeatherman commented on #571
I'm still not seeing any available functions in my account.
<img width="1099" alt="screen shot 2018-12-03 at 5 15 49 pm" src="https://user-images.githubusercontent.com/32912678/49404977-1dc07880-f71f-11e8-92ce-089eb524ccfa.png">

[2018-12-03 22:17] giftedprimate commented on #571
Deactivate a function or 2

[2018-12-03 22:20] giftedprimate commented on #571
It adds and removes them as you activate/deactivate functions ensuring there is always 50 or 51

[2018-12-03 22:22] JWWeatherman commented on #571
I just attempted to deactivate two functions. The first one was the triangle. It left it in my function area below so I dragged it in two more times. Now it is still below and shows 3 times in the available functions. Repeated using the magnifying glass and got same results.

<img width="1099" alt="screen shot 2018-12-03 at 5 19 23 pm" src="https://user-images.githubusercontent.com/32912678/494052

[2018-12-03 22:32] JWWeatherman commented on #583
Coordinates - Play the third hint video for free on the first level.
Addition - Play the only hint video for the first level.
Subtraction - Play the only hint video for the first level.
Multiplication - Play the only hint video for the first level.
Division - Play the only hint video for the first level.
Exponents - Play the only hint video for the first level.
Roots - Play the only hint video for