[2018-12-04 00:18] console-rastling commented on #437
Tested on "5. Conditionals Level 2" with this MBL:

(
 (defun pickupandmove (if 'empty (forward pickup)))
 (defun turnLeft (right right right))
 (defun loop (
              (if 'empty (pickupandmove (if 'any turnLeft))))
              (if 'any forward)
              loop)
 loop
 )

Creates a "bump" free box pickup and turn with no need to drop the box.  Clearly useful for math levels.

![screensho

[2018-12-04 00:32] console-rastling opened #589 "MBL: Change function syntax"
Change function syntax from:

(defun name (commands))

To:

(name => commands)

Chang color conditional syntax from;

(if 'color (commands))

To:

(name => if 'color (commands))

[2018-12-04 01:01] giftedprimate commented on #571
should work now, and I made it so you will have 50 on initial load as well as adding/removing functions as you activate/deactivate them. Deployed to pre prod

[2018-12-04 15:21] giftedprimate commented on #583
Deployed to pre prod

[2018-12-04 16:10] j-chimienti commented on #587
**Installation**

1. install File Watchers Plugin

1. Set up ESLINT

**note** I chose so set up w/ ESLint as prettier does not have space before function parenthases

<img width="1125" alt="screen shot 2018-12-04 at 11 05 36 am" src="https://user-images.githubusercontent.com/16620120/49455130-a0474780-f7b4-11e8-820e-9b714cb33da6.png">

note: change show console setting to error / none

[2018-12-04 16:12] giftedprimate commented on #587
Good call, I like the space before the parens. Thanks for setting that up!

[2018-12-04 16:25] j-chimienti commented on #587
**Limit Scope to FE**

click include recursively ui folder

<img width="819" alt="screen shot 2018-12-04 at 11 23 29 am" src="https://user-images.githubusercontent.com/16620120/49456477-2bc1d800-f7b7-11e8-9c43-9f0cced00fa6.png">

[2018-12-04 17:53] j-chimienti commented on #587
I like the space as well, prettier apparently doesnt

[2018-12-04 19:13] j-chimienti commented on #587
I can also add a git hook @giftedprimate so committed files are formatted

[2018-12-05 00:52] console-rastling commented on #589
Tested on "5. Conditionals Level 2" with this MBL (otherwise known as "00041"):

Couldn't easily remove the the paren from the "conditional function" variant but it's pretty close to the desired syntax anyway.

[code]

![screenshot_2018-12-04_16-51-30](https://user-images.githubusercontent.com/35277479/49482654-e1575000-f7e4-11e8-88be-3d41581cafb8.png)

[2018-12-05 12:17] giftedprimate opened #596 "Free Hints For Sandbox levels"
It might be a good idea to make a free hint that plays for all the sandbox levels explaining that they are not part of the game.

[2018-12-05 16:08] giftedprimate commented on #587
@j-chimienti Go for it, thanks!

[2018-12-05 21:37] giftedprimate commented on #437
Ui complete.

I used grey-scale-black instead of black so that the border would stand out against a black background.

Deployed to pre prod.

[2018-12-06 15:23] JWWeatherman opened #599 "New free hint to start arithmatic"
My free hint got messed up during recording and of course it had to be the most important hint video out of all 130 :]

So here is a new one. Please push this fix asap as any kids playing the new levels will get confused until this is up.

https://youtu.be/k-zYgHXyArg

[2018-12-06 16:02] giftedprimate opened #603 "Free hints will play the last video only after they have been watched"
This is because the collection isn't being dropped after the time expires. I'll work on it asap

[2018-12-06 16:05] giftedprimate commented on #599
Deployed to prod and pre-prod

[2018-12-06 16:08] giftedprimate opened #604 "Coordinates 1 videos for review"
1) https://youtu.be/7HsTgJq7Ir0
2) https://youtu.be/qBB6_IS3THU
3) https://youtu.be/sgfjPCRt33g

[2018-12-06 16:31] JWWeatherman commented on #599
I gave you the wrong video, but at least I found the bug in my process. Uploading the correct one now.

[2018-12-06 16:36] giftedprimate commented on #603
Deployed to prod and pre-prod

[2018-12-06 16:36] giftedprimate commented on #583
Deploy to prod as well

[2018-12-06 16:37] giftedprimate commented on #437
Deployed to prod as well

[2018-12-06 16:37] giftedprimate commented on #571
Deployed to prod as well

[2018-12-06 16:39] giftedprimate commented on #599
That's a bummer, but glad you got things stream lined.

[2018-12-06 18:02] JWWeatherman commented on #599
Ok, here is the correct free hint at the start of the Coordinates planet:
https://youtu.be/WitdlZdvNrI

[2018-12-06 18:05] giftedprimate commented on #599
On it.

[2018-12-06 18:20] giftedprimate commented on #599
Deployed to prod and pre-prod

[2018-12-07 13:53] j-chimienti commented on #587
Git hooks > Intellij

No need to install, and runs on every commit and push. And w/ above settings, I was having 10+ processes running all the time, and @giftedprimate noticed code being removed in real time

**Todo**:

[2018-12-07 14:04] JWWeatherman opened #610 "Star system names"
Lets use the following names for star systems so that they are shorter:

1. Code
2. 1 Digit
3. 2 Digit
4. 5 Digit
5. 1 Decimal
6. 2 Decimals

[2018-12-09 14:45] giftedprimate commented on #610
I will knock this out after I do an mvp version of the highlight feature.

[2018-12-09 23:47] JWWeatherman opened #615 "Sorting bug when switching between icon and name"
Video shows repo, but when I click no switch a function to display the name instead of the icon my functions get disorganized.

https://drive.google.com/file/d/1XEQtgFkBXPnIUm5zlx60kBRsIXa-60f6/view?usp=sharing

[2018-12-09 23:49] giftedprimate commented on #610
Deployed to pre-prod. The remaining names I have added as a comment in the code for future reference.

![newnames](https://user-images.githubusercontent.com/33336425/49704595-f10ad600-fbe2-11e8-8994-32bb8c698929.png)

[2018-12-10 00:01] giftedprimate commented on #615
@JWWeatherman I know what the problem is, on it.

[2018-12-10 01:40] giftedprimate commented on #615
Deployed to pre-prod.

[2018-12-10 02:16] giftedprimate commented on #615
Deployed prod.

[2018-12-10 13:56] JWWeatherman opened #619 "The area that causes scrolling right and left is too small"
This might be harder to fix than it is worth right now, but if we can make it easier to scroll left and right it would be cool.

https://drive.google.com/file/d/1gq1nmvbIq9yT8jdW0KI2MSa9WOenzQld/view?usp=sharing

[2018-12-10 14:15] JWWeatherman opened #620 "Main is not executing functions in order"
Main is not executing functions in the order displayed.

https://drive.google.com/file/d/1C_gj-WUcv71G6ZTqWQ3a36WBzFmWjyqv/view?usp=sharing

[2018-12-10 14:16] JWWeatherman commented on #620
I saw this issue in pre-prod. I don't know if it is in issue in production.

[2018-12-10 14:30] giftedprimate commented on #620
This is messed up, I used a sortBy on mains function last night, dumb mistake. I'm hot fixing prod now.

[2018-12-10 14:44] giftedprimate commented on #620
Deployed to pre-prod and prd.

[2018-12-10 14:59] giftedprimate commented on #619
I'll take a look at this today, but this may not be something we can control because that sort of scroll behavior is handled by the browser.

[2018-12-10 15:01] JWWeatherman commented on #619
That’s totally fine. If it’s not configurable without doing something crazy, close it.

On Mon, Dec 10, 2018 at 9:59 AM, Richard Porter <notifications@github.com> wrote:

[2018-12-10 15:07] giftedprimate commented on #619
Cool, I'll take a look at it today, there may be some css selector I don't know about that will widen that area. If I start writing overly 'clever' code then I'll stop.

[2018-12-10 15:09] giftedprimate commented on #438
@console-rastling Is it possible to get the total number of frames as part of the first frame? Or some estimate of this number.

[2018-12-10 15:56] console-rastling commented on #438
@giftedprimate Exact count is only possible if the program is run to completion on the server. Of course, it's easy to write programs that never complete and would the UI code be happy being told that there were 20 thousand frames when only the first 20 matter?  Right now, by not running programs to completion, we can support nonterminating programs without overloading the server. The user gives u

[2018-12-10 16:07] console-rastling commented on #438
@giftedprimate With this feature maybe prev/next paging would work the best? We can add a feature to the compiler agent to support look up of previous frames.  A user can scrub over a section of frames or even use the arrow keys to go a frame forward or backward anytime.

[2018-12-10 16:22] giftedprimate commented on #438
@console-rastling  the reason I would like to have a frame count is so that I can have the progress bar progress at the correct rate so that as the program runs the little circle does not jump around. This feature should be like YouTubes video progress bar that the user can drag back and forth.

I think I can do this implementation without any changes to the compiler, I was just hoping there was a

[2018-12-10 16:36] console-rastling commented on #438
@giftedprimate I like the idea of doing the experiment.  With a progress bar I understand the challenge though.  Let's see how it looks in the end.

[2018-12-10 16:39] giftedprimate commented on #619
Re-assigning this to @willweatherman since he will be free shortly.

[2018-12-10 16:45] giftedprimate commented on #619
@willweatherman take a look at this and figure it out for me. The fix for this is going to be adding some new options to the draggables. There's an options object located in `Function_drop.vue`, `Commands.vue` and `Staged_functions.vue`.

Your going to want to check out the docs at https://github.com/SortableJS/Sortable#options and https://github.com/SortableJS/Vue.Draggable. Also be sure to read

[2018-12-10 16:47] willweatherman commented on #619
Ok.

[2018-12-10 16:54] giftedprimate commented on #5
I am going to close this issue in favor of being specific to a component.

[2018-12-10 16:54] #5 closed

[2018-12-10 16:55] giftedprimate opened #624 "Optimize advanced mode for mobile and cross browser"

[2018-12-10 17:54] giftedprimate commented on #1
@j-chimienti can create a way for the admins to add events to the graghs? Essentially what @JWWeatherman  would like is to be able to see how signups are effected after he does certain events.

[2018-12-10 17:58] giftedprimate commented on #438
@console-rastling I'll get cracking!

[2018-12-10 19:50] giftedprimate commented on #438
@console-rastling can you make the first frame be to robots original position pretty easily? Right now the first frame sent is the robot first step. The reason for this is that when I run the robot backwards the he is not on his starting position. If we can do this I could push up a version of this feature with simple forward and reverse buttons as an mvp.

Thanks.

[2018-12-10 21:21] console-rastling commented on #438
@giftedprimate We can add a "frame 0" output with the original grid location pretty easy.  Makes sense.

[2018-12-10 22:38] giftedprimate commented on #438
This is the design @JWWeatherman came up with.

![img-20181210-wa0002](https://user-images.githubusercontent.com/33336425/49766150-62f62480-fca2-11e8-9b6f-12e9026ff99b.jpg)

[2018-12-10 23:35] giftedprimate commented on #438
@JWWeatherman just came up with this updated design.

![img-20181210-wa0003](https://user-images.githubusercontent.com/33336425/49768406-46f68100-fcaa-11e8-9b9b-60332261da31.jpg)

[2018-12-10 23:36] giftedprimate commented on #438
Only thing showing.

![img-20181210-wa0004](https://user-images.githubusercontent.com/33336425/49768493-89b85900-fcaa-11e8-9430-8fdf8f1b5ba9.jpg)

[2018-12-11 14:12] giftedprimate commented on #438
- Remove stop button
- Speed control bar reverts to 1x if dial is let go

[2018-12-11 16:06] j-chimienti commented on #1
Sure thing.

Store events to localStorage? I was thinking to make a FE service where I could add / edit / delete / and export & import events via json

[2018-12-11 16:12] giftedprimate commented on #1
I was thinking of adding a DAO in the server to store the events, it is OK for all the admins to see them. If you want to create a version using local storage first that will be fine.

[2018-12-11 18:05] JWWeatherman opened #627 "Need new denomination blocks in sandbox"
#416 shows various denominations for blocks. I specifically need negative numbers (-1, -10, -100) to develop the next set of levels, but maybe we should just go ahead and enable all of these blocks in the sandbox.

[2018-12-11 18:10] j-chimienti commented on #1
Alright cool, I'll start w/ some static events and setup for reading from db.

Should I add list & detail component for events CRUD?

[2018-12-11 18:14] giftedprimate commented on #627
@console-rastling and I are going to need to change the compiler to be value based instead of color based since this is going to be a pain to manage using that many colors to identify the values. We can do this right after we get the compiler ready for the scrub-through feature.

[2018-12-11 18:16] giftedprimate commented on #1
Cool, you can add any components you need for this feature. Modular === clarity ;)

[2018-12-11 18:19] giftedprimate commented on #627
@console-rastling after we get finished with #438 we should refactor the server to use the value of the tool instead of the color and leave the color association to the client.

[2018-12-11 18:33] giftedprimate commented on #627
### Denominations needed

- (-.00001)
- (-.0001)
- (-.001)
- (-.01)
- (-.1)
- (-1)
- (-10)
- (-100)
- (-1000)
- (-10000)
- x
- y
- z
- .00001
- .0001
- .001
- .01
- .1
- 1
- 10
- 100
- 1000
- 10000

[2018-12-12 01:35] giftedprimate commented on #627
@console-rastling Added all the denominations to the compiler. I will probably be able to tackle this early next week on the front end.

[2018-12-12 05:44] JWWeatherman opened #634 "Lets remove the social sharing buttons on the video player"
I think the best spot for these is still on the completion screen, but here it's too cluttered.

<img width="840" alt="screen shot 2018-12-12 at 12 43 35 am" src="https://user-images.githubusercontent.com/32912678/49849346-19433200-fda7-11e8-89c0-858515efe98d.png">

[2018-12-12 15:31] JWWeatherman opened #635 "UI simplification idea"
This is an idea I had way too late last night I'd like to walk through with you. Might be dumb. :]

<img width="1239" alt="screen shot 2018-12-12 at 10 29 17 am" src="https://user-images.githubusercontent.com/32912678/49879888-f04b8d00-fdf8-11e8-8235-fb3c4b88a46d.png">

[2018-12-12 18:03] giftedprimate commented on #635
@JWWeatherman I think this design is a better use of space. I'll tackle this refactor after the scrub-through is finished. It should take about a week to complete.

[2018-12-12 18:05] giftedprimate commented on #1
Morning @j-chimienti, Is what is in the pr currently usable? @JWWeatherman is interested to get this up as is so that he can start analyzing the data. The events feature can be part of a future release.

Thanks!

[2018-12-12 18:08] giftedprimate commented on #634
@willweatherman can you take care of this for me? Just remove the social sharing component from `Video_hints.vue`. Make sure to remove the import and declaration as well. Thanks.

[2018-12-12 18:10] willweatherman commented on #634
Yep.

[2018-12-12 18:12] giftedprimate opened #636 "Need to replace 'grey' func images to 'white' ones"
In `ui/src/assets/assets.js` we need to find the images that are `grey` and replace them with the same image in `white`.

[2018-12-12 18:19] giftedprimate commented on #636
Example, notice the image on the left is grey and the image on the right is white. Essentially all the images imported from the original designer were `#cccccc`  and the images recently imported are `#ffffff`. @JWWeatherman likes the white images best.

The important this is to make sure the images are the exact same image found at the index in `assets.js` otherwise the users images will be out of

[2018-12-12 18:20] willweatherman commented on #636
Ok.

[2018-12-12 18:35] willweatherman commented on #636
Hi, Ok can you tell me if there from the noun project and if they all have the same author. If not I'll keep looking.

Thanks-
Will.

[2018-12-12 18:38] giftedprimate commented on #636
They need to be the exact same otherwise it will screw things up. They should be from the noun project as that is where the original designer got his assets from. You may need to get creative to solve this problem. You may need to use `Pixlr/editor` to manually change them if you can't find them, but make sure you ABSOLUTELY can't find them before doing this.

[2018-12-12 18:48] giftedprimate opened #640 "Pre-prod is on 'scrub-through' branch"
Assigning to all devs, just so you know. @giftedprimate is keeping master in line with 'scrub-through'.

No action necessary until pre-prod is back on master.

[2018-12-12 18:54] giftedprimate commented on #634
@JWWeatherman deployed to pre-prod

[2018-12-12 18:56] giftedprimate commented on #587
Closing this issue and will open a new for setting up `ScalaFmt` in `sbt`

[2018-12-12 18:56] #587 closed

[2018-12-12 18:58] giftedprimate opened #641 "Setup ScalaFmt as part of Sbt"
Instead of using the `ScalaFmt` plugin we should setup `ScalaFmt` as part of compilation using `sbt`.

[2018-12-12 19:03] giftedprimate commented on #438
This feature is MVP as is. The ui is storing all the frames so the reverse is possible.

@console-rastling will continue working on the compiler next week by implementing #537 as well as allowing for `ask` in both directions.

[2018-12-12 21:00] giftedprimate commented on #627
Starting this feature now.

[2018-12-13 19:35] JWWeatherman opened #642 "The wrong levels are unlocked when you pass"
I don't have a solid repo of this, but hopefully it will be easy to track down. When passing the conditional levels around 12 and recursion around level 12 the wrong levels were unlocked.

If it's not an easily found bug with code review push this back to me and I'll do some more testing.

[2018-12-13 20:19] JWWeatherman commented on #634
Looks good.

[2018-12-13 20:19] #634 closed

[2018-12-13 20:19] JWWeatherman commented on #620
Good fix.

[2018-12-13 20:19] #620 closed

[2018-12-13 20:19] JWWeatherman commented on #640
thx dude.

[2018-12-13 20:25] JWWeatherman opened #643 "1 Digit star system not unlocked after completing Code star system"
My account had already completed all of the code levels, but the 1 Digit star system wasn't unlocked. So I went to the conditionals planet and clicked on the (available) "next star system" tile. That brought me to the first level, but when I cilcked on my profile it shows that none of the planets are unlocked.

<img width="1343" alt="screen shot 2018-12-13 at 3 20 53 pm" src="https://user-images.g

[2018-12-13 20:35] JWWeatherman commented on #596
Good idea. Here you go:
https://youtu.be/sZhPULEkN2k

[2018-12-13 20:36] #583 closed

[2018-12-13 20:36] JWWeatherman commented on #571
Great solution. Good job guys.

[2018-12-13 20:36] #571 closed

[2018-12-13 20:36] JWWeatherman commented on #437
Works great.

[2018-12-13 20:36] #437 closed

[2018-12-15 15:57] giftedprimate opened #644 "Function drop not resetting put status after changing lists"

[2018-12-15 16:31] giftedprimate commented on #644
Deployed to prod.

[2018-12-15 16:54] giftedprimate commented on #643
@JWWeatherman I just recreated something similar. The problem is coming from the sandbox levels. I will create a different way to get those levels so that they are not part of the flow.

[2018-12-15 17:03] giftedprimate commented on #643
@JWWeatherman removing the sandbox appears to fix the problem. I will deploy the app without the sandbox, then I will re-add it so that it is not part of the level flow.

[2018-12-15 17:50] JWWeatherman commented on #643
Cool. Let’s also name it "Sandbox"

On Sat, Dec 15, 2018 at 12:03 PM, Richard Porter <notifications@github.com> wrote:

[2018-12-15 17:51] JWWeatherman commented on #643
Very likely.

On Sat, Dec 15, 2018 at 10:28 AM, Richard Porter <notifications@github.com> wrote:

[2018-12-15 18:10] giftedprimate commented on #642
I played through all the levels multiple times and have not been able to recreate this bug.

[2018-12-15 18:10] giftedprimate commented on #643
k

[2018-12-15 19:17] willweatherman opened #653 "Conditional error"
Hi,

When A conditional function is false instead of skiping and moving on it places the robot in the top left corner of the grid even if there is a barrier there.

https://drive.google.com/file/d/1Axy3whA_gYn4HvQmsgIrt-fPEC9_Gz-W/view?usp=sharing

This is a mute video showing the error.

I am using a mobile hotspot with 4.5 MBPS download and 12 MBPS upload.

When running matbot on my laptop I see

[2018-12-15 19:19] willweatherman commented on #653
Not sure what priority this should be but this is my guess.

Thanks-
Will.

[2018-12-15 21:03] console-rastling commented on #653
Ah. I know what this is. If you can make a program where the robot never moves, his position initializes to 0,0 because no frames ever get generated.  This may have been fixed with the speed control slider because to support reverse operation the processor now always generates a first frame before the robot starts moving so that we can always reverse back to the start position. This bug may alread

[2018-12-15 21:13] giftedprimate commented on #653
I'll move to the scrub-through branch in a minute to confirm.

[2018-12-15 21:15] giftedprimate commented on #653
Nope, it doesn't happen on the scrub-through branch.

[2018-12-15 21:57] giftedprimate commented on #643
@JWWeatherman deployed to pre-prod (off scrub-through branch) and prod (off v0.04-beta branch)

When you get a chance can you see it the next level is unlocked. If it is not I suspect your stats table updated improperly to alleviate this try to play to first level of single digit.

[2018-12-15 21:58] giftedprimate commented on #596
Deployed to pre-prod and prod.

[2018-12-15 22:00] giftedprimate commented on #653
@willweatherman @console-rastling this will in fact be remedied after we merge scrub-through with master. It actually is probably safe to do so now however I'd like to wait til console is finished with the compiler upgrades for this feature.

[2018-12-15 22:01] giftedprimate commented on #644
@JWWeatherman this issue is referring to when you can't add functions to main or a user function after you had filled one to its max previously.

Deployed to pre-prod and prod

[2018-12-16 16:33] giftedprimate opened #657 "Refreshing while in `Sandbox` takes you to previous level"
This issue will be resolved with #627

[2018-12-17 17:22] giftedprimate commented on #640
Pre-prod back on master branch.

[2018-12-17 17:22] #640 closed

[2018-12-17 18:47] giftedprimate commented on #627
This is deployed to pre-prod. You can see all the denominations in sandbox.

I also simplified the sandbox to be just a single continent that is not part of the overall game making it so you can open the sandbox, play around, then navigate back to the profile and be where you left off in the game.

[2018-12-17 18:48] giftedprimate commented on #657
Closing this issue because it is solved as part of #627

[2018-12-17 18:48] #657 closed

[2018-12-18 14:53] j-chimienti opened #663 "Video hint default settings"
Suggestions from teacher friend:

1. hide length of video, as kids will see 30 seconds and will tune out

1. kids need words, caption the video on default.

[2018-12-18 15:03] j-chimienti opened #664 "Robot should be interactive"
Suggestion from teacher friend:

Issue:

Homepage uninformative, and doesn't interact with user input as expected. Since robot moves, I expect something to happen when I click on him (and offer help).

Lower level kids unfamiliar w/ program will start clicking, pressing buttons, and when no help or responses to inputs happen, will give up

<img width="1047" alt="screen shot 2018-12-18 at 9 55 54 a

[2018-12-18 15:44] giftedprimate opened #666 "Pre-prod back on scrub-through branch"
Just fyi.

[2018-12-18 16:19] giftedprimate commented on #635
I am starting this feature now.

[2018-12-18 17:30] JWWeatherman commented on #664
Should we play the hint video if you click on the robot?

[2018-12-18 17:36] JWWeatherman commented on #663
These are interesting ideas. I don't think we should hide the length of the video (not sure it is even possible on youtube) because we want to allow them to scrub through to the parts that they want to see. Regarding captions most kids that I've observed can't read very quickly and they tend to fast forward/rewind to just the part that shows what they want to see. They ignore a lot of me talking a

[2018-12-18 17:36] #663 closed

[2018-12-18 17:39] JWWeatherman commented on #653
Dropped priority since this is a bug in the code Will was trying to run on mathbot not a mathbot bug. Will be a much better UX on error when we have scrub through though.

[2018-12-18 18:56] giftedprimate commented on #635
@JWWeatherman drawing the squiggly line is going to be time consuming so I'd like to get all the logic finished for this feature then circle back to it after this is mvp.

Is this going to be sufficient for mvp?

![image](https://user-images.githubusercontent.com/33336425/50176163-acf78f80-02cc-11e9-8e52-227639c43764.png)

[2018-12-18 19:33] JWWeatherman commented on #664
I think he’s taking about the white robot on the board? Love the way we clear main now. Very cool.

On Tue, Dec 18, 2018 at 2:25 PM, Richard Porter <notifications@github.com> wrote:

[2018-12-18 19:33] JWWeatherman commented on #635
Absolutely.

On Tue, Dec 18, 2018 at 1:56 PM, Richard Porter <notifications@github.com> wrote:

[2018-12-18 19:34] giftedprimate commented on #664
Ah, makes sense.

[2018-12-19 22:04] giftedprimate commented on #635
New play buttons. Normally the only way to change the play button is by sliding the slider, this is a demonstration of the play button.

Forward...

![image](https://user-images.githubusercontent.com/33336425/50250655-7777a280-03af-11e9-8132-9e825e202cad.png)

Reverse...

![image](https://user-images.githubusercontent.com/33336425/50250752-bd346b00-03af-11e9-9ac1-213bedf9d806.png)

50% speed (ther

[2018-12-19 22:07] giftedprimate commented on #635
Advanced mode...

![image](https://user-images.githubusercontent.com/33336425/50251033-91fe4b80-03b0-11e9-8c65-2bad00d9fb1f.png)

[2018-12-20 19:10] giftedprimate commented on #635
New video controls are built.

- Icons match video amount
    - 1 video
        - ![image](https://user-images.githubusercontent.com/33336425/50305227-2ecbf200-0460-11e9-91dc-a6e0c731e8f0.png)
    - 2 videos
       - ![image](https://user-images.githubusercontent.com/33336425/50305334-823e4000-0460-11e9-8618-5d54d379d6fe.png)
    - 3 videos
        - ![image](https://user-images.githubusercontent.

[2018-12-20 19:56] giftedprimate commented on #635
@JWWeatherman this feature is MVP and deployed to pre-prod off the `scrub-through` branch.

- Todo
    - [ ] Incorporate 'commands' in with all functions
    - [ ] Draw squiggly line into robots belly

[2018-12-20 20:01] giftedprimate commented on #636
@willweatherman Next time when you do a PR can you please throw a comment here using `@giftedprimate` letting me know, that way I am alerted when you are finished.

The commands need to be done as well, they are stored in `ui/src/assets/assets.js`.

[code]

Thanks!

[2018-12-20 20:02] giftedprimate commented on #619
@willweatherman if you can't make this work in less than 4 hours go ahead and re-assign this back to me.

Thanks!

[2018-12-20 20:03] giftedprimate commented on #619
@willweatherman also don't do anything with the lists, try to solve this with just the draggable options or plain css.

[2018-12-20 21:10] j-chimienti commented on #664
I was talking about the black robot, since its eyes moved, but yea is addressed now.

[2018-12-20 21:10] #664 closed

[2018-12-20 21:53] PedroXimenez opened #673 "JW Compensation Request Through 12/16"
JW, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16  - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2018-12-20 22:18] giftedprimate commented on #635
Squiggly line...

Will need some more optimization, this is just a start.

![image](https://user-images.githubusercontent.com/33336425/50313986-32b93d80-047b-11e9-8f90-3700d19203ac.png)

[2018-12-20 23:38] giftedprimate commented on #635
In order for me to get the bar right I will need an svg made of the entire bar, otherwise it is nearly impossible to blend the html div in with the little squiggly I created.

I am going to revert back the the straight line until we can get a full width svg made.

[2018-12-20 23:42] giftedprimate opened #675 "Need an SVG for Main Bar"
We need a SVG made to replace our current main drop bar that starts with a short squiggle section then goes straight with a small 'T' at the end. Background must be transparent. Please provide the file so that we can incorporate the code into a component.

example...

![image](https://user-images.githubusercontent.com/33336425/50316884-a1e85f00-0486-11e9-86a8-981c03cf62e7.png)

[2018-12-20 23:55] giftedprimate commented on #635
issue #675 submitted for getting an SVG of the entire main drop bar.

[2018-12-21 00:13] giftedprimate commented on #635
Pre-prod back to this state...

![image](https://user-images.githubusercontent.com/33336425/50317743-3359d000-048b-11e9-8ef7-fc79afd6fb36.png)

[2018-12-22 00:59] giftedprimate commented on #635
Commands are incorporated into functions...

![image](https://user-images.githubusercontent.com/33336425/50368820-9ebea300-055a-11e9-83c1-bdaebc9adb07.png)

Commands can be re-orginized...

![image](https://user-images.githubusercontent.com/33336425/50368825-bc8c0800-055a-11e9-845c-803559cce11e.png)

Commands popover opens w/ message saying it can't be edited...

![image](https://user-images.githu

[2018-12-22 01:20] giftedprimate commented on #635
@JWWeatherman this feature is mvp and deployed to pre-prod. The only part not finished is the squiggly, I will need to get an svg made for the entire main bar to do this.

[2018-12-22 01:30] giftedprimate commented on #441
@JWWeatherman @console-rastling The easiest solution would be option 2 (several robots) as far as the level flow goes. @console-rastling is this doable in the compiler?

[2018-12-22 19:18] willweatherman commented on #619
@giftedprimate  HI I finished this one and I created a pull request.

[2018-12-22 19:19] willweatherman commented on #619
I messed with the dragable options to thats it.

[2018-12-23 16:14] giftedprimate commented on #619
@willweatherman this issue has nothing to do with staged functions, those ones should not be sortable.

I am re-assigning this to myself.

Thanks!

[2018-12-23 17:22] willweatherman opened #678 "Can not scroll above the functions"
If we delete the header in the screenshot and change the code to position the X button then we can scroll above and below the functions on both Ipad and touchpad laptops. @giftedprimate Do you think this is a good idea to try?

[2018-12-23 19:31] JWWeatherman commented on #441
Cool. Next time you guys do a call I’ll jump on so we can discuss for the first few mins.

On Sun, Dec 23, 2018 at 10:22 AM, Console Rastling <notifications@github.com> wrote:

[2018-12-24 16:40] willweatherman commented on #636
@giftedprimate I created another pull request for this.

[2018-12-26 15:57] giftedprimate commented on #678
@willweatherman this is solve in #635 (take a look at the screen shots there, it is also deployed to pre-prod).

That header portion is important when editing a function because it is where all the 'parameters' are located.

Closing since this is a mute issue after JW accepts #635

[2018-12-26 15:57] #678 closed

[2018-12-26 15:59] giftedprimate commented on #624
@willweatherman What do think the ETA of this issue will be?

Thanks!

[2018-12-26 16:01] giftedprimate commented on #441
@JWWeatherman @console-rastling and I moved the days this week to tonight and tomorrow. I won't be able to hop on today however I will be on tomorrow, so if you are up for it how 'bout tomorrow?

[2018-12-26 17:44] JWWeatherman commented on #441
Tomorrow is great. Send me the meeting invite for just tomorrow if you can.

On Wed, Dec 26, 2018 at 10:01 AM, Richard Porter <notifications@github.com> wrote:

[2018-12-26 18:03] giftedprimate commented on #441
Here you go...

https://hangouts.google.com/hangouts/_/calendar/cmljaGFyZEBtYXRoYm90LmNvbQ.7d34gs1e2mga4ibgao53h9lq41?authuser=0

This is a permanent link that we use every time.

[2018-12-27 13:59] j-chimienti opened #680 "stats collection name can be confusing working w/in shell"
having collection named 'stats' can cause confusion when trying to reference within mongo shell

[code]

[2018-12-27 17:34] giftedprimate commented on #624
@willweatherman for this feature work off the 'scrub-through' branch.

[2018-12-27 20:14] j-chimienti commented on #680
decent, worked for me

[2018-12-27 20:19] giftedprimate commented on #619
@JWWeatherman this was only happening in the main function. The cause was due to over nesting in the html. The reason this was the case was because of past refactoring.

Deployed to pre-prod.

[2018-12-28 14:53] giftedprimate commented on #435
@JWWeatherman This bug has been inadvertently solved at some point, below is a video of the app working fine. This is deployed to pre-prod.

https://drive.google.com/file/d/1HouaCFhA0sjk4V92V7G2kNZdU1RGaJoh/view?usp=sharing

[2018-12-28 14:54] giftedprimate commented on #653
This bug has been solved in scrub-through and is deployed to pre-prod.

[2018-12-28 14:56] giftedprimate commented on #589
@JWWeatherman This is deployed to pre-prod.

'Advanced' mode is not complete yet however this piece of it is mvp

[2018-12-28 14:56] giftedprimate commented on #373
Closing this since it is finished and working in favor of more specific issues related to 'advanced' mode.

[2018-12-28 14:56] #373 closed

[2018-12-28 14:57] giftedprimate commented on #636
@JWWeatherman This is deployed to pre-prod.

[2018-12-28 15:11] giftedprimate commented on #41
Closing this for now since the overall design has diverged quite allot.

[2018-12-28 15:11] #41 closed

[2018-12-28 15:14] giftedprimate commented on #102
Closing for now.

[2018-12-28 15:14] #102 closed

[2018-12-28 15:17] giftedprimate commented on #562
There's no simple fix for this so I am closing it for now. The original issue has been solved now the problem is the way sortableJS is tracking the placeholder vs actual element. This bug has no effect on the way a function runs or is edited.

Closing for now.

[2018-12-28 15:17] #562 closed

[2018-12-28 15:33] giftedprimate commented on #537
@console-rastling closing this since it is being solved as part of #438.

[2018-12-28 15:33] #537 closed

[2018-12-28 15:34] giftedprimate commented on #111
Closing as this issue should be remedied already.

[2018-12-28 15:34] #111 closed

[2018-12-28 15:37] giftedprimate commented on #242
Closing this since this issue is being dealt with in other issues.

[2018-12-28 15:37] #242 closed

[2018-12-28 15:43] giftedprimate opened #687 "Empty functions are crashing the compiler"
@console-rastling here's a video of the issue...

https://drive.google.com/file/d/1_GFRuBW-uhYeLaZhdOdpNMNrWbfga06s/view?usp=sharing

I feel like we should just skip empty functions, e.g. the below should walk 2 steps if the first function is empty, do you think this should be the case as well?

![image](https://user-images.githubusercontent.com/33336425/50520269-60ab0d00-0a8d-11e9-9fd0-fd007786c8

[2018-12-28 20:39] clarkmoody commented on #109
@giftedprimate Thanks for following through. I'm using Pi-Hole, which blocks at the DNS lookup level, so the filenames are not the problem.

The site is working properly now, so maybe the CDN changed. Whatever the case, I can close this ticket.

[2018-12-28 20:39] #109 closed

[2018-12-28 20:46] giftedprimate commented on #109
@clarkmoody thanks!

[2018-12-28 21:50] giftedprimate commented on #1
@j-chimienti I merged your work in, looks great! There is just a couple minor things to brush up...

1) Let's remove the first number from the level and increment the remaining by 1 so that the level matches the name in /profile. Checkout `actors/messages/level/Path.scala` to see the way the path relates to each layer.
    -  ![level-names](https://user-images.githubusercontent.com/33336425/505289

[2018-12-28 22:03] giftedprimate commented on #1
@j-chimienti if you can knock these out sooner than next week I can do a minor release of this feature.

Thanks!

[2018-12-28 22:07] console-rastling commented on #687
Empty functions shouldnt crash.  At worst, they just have no effect.

[2018-12-28 22:56] giftedprimate commented on #687
Cool, I think we should wait to fix this until scrub-through is finished unless it's easy  to fix as part of the process.

[2018-12-29 01:48] giftedprimate opened #688 "Need more animations from compiler"
@console-rastling currently the compiler only has a bumped animation. Currently the FE defaults to walk if the field is left empty. We also could use the following animations...

- turn
- pickup
- putdown

If you can point me in the right direction I may be able to handle this myself if you don't want to work on it.

Thanks!

[2018-12-29 02:07] console-rastling commented on #687
I have to debug why it's happening. It must be something simple from trying to expand an empty list into the stream. Probably a missing case in a match statement.

[2018-12-29 02:10] console-rastling commented on #688
It would be ready easy to add more animations to the frame.  I would do it after scrub through because the processor code has changed a lot.

[2018-12-29 15:35] j-chimienti commented on #1
Awesome thx. Yep forgot to handle errors.

I have PR #689 to address the 3 above issues and made maxLevel graph more readable and notify user on ws error / close

[2018-12-29 15:54] JWWeatherman commented on #1
You rock Joe. We are about to go into some significant marketing spend and this data is critical!

On Sat, Dec 29, 2018 at 9:35 AM, Joe Chimienti <notifications@github.com> wrote:

[2018-12-29 16:40] giftedprimate commented on #1
@j-chimienti Looks great! Can you move the tile to the code complete column when you get a chance. I'll push this to pre-prod after you do so that JW can check it out.

Thanks!

[2018-12-29 16:51] giftedprimate opened #690 "Implement Sounds"
### Robot animation sounds
- [x] Wall Bump Sound
- [x] Walk Sound
- [ ] Turn Sound
- [ ] Pickup Sound
- [ ] Drop Sound

### Star-system background sounds
- [x] Same Sound For All
- [ ] Get Different Sound For Each

[2018-12-29 16:52] giftedprimate commented on #210
Closing this in favor of #690

[2018-12-29 16:52] #210 closed

[2018-12-29 16:57] giftedprimate commented on #690
@JWWeatherman I need console to add a few more animations to the frames from the compiler in order to do pickup, drop and turn sounds. This is going to be really easy to implement because we knew we were going to need to do this at some point. I also am consulting with console about getting free (and good) sounds because he is an MC.

Here's what I have so far (the code is written to easily implem

[2018-12-29 18:12] giftedprimate opened #691 "Create 'Planets' component that can be used for smaller rep of solar system"

[2018-12-29 18:14] giftedprimate commented on #691
Purpose of this is to be able to use the planets as buttons that represent the star-system

[2018-12-29 18:19] giftedprimate commented on #691
Planets component exists already.

- [ ] Make component easily resizable

[2018-12-29 18:53] JWWeatherman commented on #690
Awesome! So great (and unusual) that we laid the proper foundation to do everything we want.

On Sat, Dec 29, 2018 at 10:57 AM, Richard Porter <notifications@github.com> wrote:

[2018-12-29 23:36] #691 closed

[2018-12-29 23:39] giftedprimate opened #692 "Move star system buttons"
Move star system buttons to left side of screen.

- [x] Make `Planets.vue` reusable by making planets sizes respond to overall size change
- [x] Use `Planets.vue` as a button to represent star systems on left side of screen
- [x] Make buttons disabled if star system is not active

[2018-12-29 23:49] giftedprimate commented on #692
@JWWeatherman Progress so far...

### New User
- ![image](https://user-images.githubusercontent.com/33336425/50543051-3181c200-0b99-11e9-8a21-a015e62f0d75.png)

### Other Images
- ![image](https://user-images.githubusercontent.com/33336425/50543075-2e3b0600-0b9a-11e9-962a-65ddccf4b973.png)

- ![image](https://user-images.githubusercontent.com/33336425/50543078-44e15d00-0b9a-11e9-9ef2-578ee2dc039b.

[2018-12-30 14:42] giftedprimate commented on #1
@j-chimienti For some reason I'm not getting any data on the levels view. It just says 'loading...'. Console is clear, server is running fine.

![image](https://user-images.githubusercontent.com/33336425/50548203-b3fc9700-0c16-11e9-9fb0-14d56fe93b16.png)

My user_stats table only has 4 users one of which is admin...

![image](https://user-images.githubusercontent.com/33336425/50548223-e7d7bc80-0c1

[2018-12-30 15:34] j-chimienti commented on #1
does the maxLevel graph above level stats table load @giftedprimate ?

[2018-12-30 16:01] giftedprimate commented on #1
No, that screen shot is all that ever loads.

[2018-12-30 16:03] giftedprimate commented on #1
Here's what my document looks like...

![image](https://user-images.githubusercontent.com/33336425/50548914-7d2c7e00-0c22-11e9-8867-c8024c3acd95.png)

[2018-12-30 16:09] j-chimienti commented on #1
the maxLevel isn't being saved. I've been inserting users into db w/ field populated
<img width="402" alt="screen shot 2018-12-30 at 11 08 02 am" src="https://user-images.githubusercontent.com/16620120/50548965-355a2680-0c23-11e9-955d-0361dfad554d.png">

[2018-12-30 16:12] giftedprimate commented on #1
Ah, I see, I need to start updating that field. I'll do that today. Thanks!

[2018-12-30 16:36] j-chimienti commented on #1
Shouldn't be an issue. I can perform lookup user_stats.tokenId -> playeraccount.tokenId  (and filter admin users).  Lookup is fast as there is an index on tokenId in playeraccount collection.

https://github.com/JWWeatherman/math_bot/blob/master/app/daos/StatsDAO.scala#L204

There was issue w/ lookup playeraccount.sub -> session.token.sub  maybe due to lack of index and why active user count still

[2018-12-30 17:48] giftedprimate commented on #1
@j-chimienti I have added 'maxContinent' into the 'user_stats' table. It will update itself as soon as the user signs in.

![image](https://user-images.githubusercontent.com/33336425/50549792-2aa68e00-0c31-11e9-865e-08658757ec84.png)

Thanks!

[2018-12-31 15:05] giftedprimate commented on #1
@j-chimienti I am working on improving my algorithm for finding the furthest continent now. The only problem is that it is always going to be one continent behind where the user actually is. This shouldn't have any issues with your implementation.

[2018-12-31 16:39] giftedprimate commented on #1
@j-chimienti new algorithm is checked in, now it will always be the actual last continent.

[2018-12-31 18:49] giftedprimate commented on #1
@j-chimienti I am still not able to get a response when looking at the levels view.

Are you able to match all the fields in list ok even if the key is less than 5 chars?

[2018-12-31 18:51] giftedprimate commented on #1
also just FYI, you can get all the continents in order now, just use `stats.continentsInOrder`. I implemented that this morning and thought it may be helpful for you.

[2018-12-31 18:58] giftedprimate commented on #1
@j-chimienti I emailed you a copy of my user_stats so that you can check to make sure our data looks the same.

[2018-12-31 19:22] giftedprimate commented on #1
and I'm free to hangout this afternoon in case that might help.

[2018-12-31 19:55] giftedprimate commented on #692
Deployed to pre-prod

[2018-12-31 20:08] j-chimienti commented on #1
I downloaded and imported the user_stats, and was able to get the data to load after editing tokenId field to match a tokenId in my playeraccount collection

<img width="950" alt="screen shot 2018-12-31 at 3 04 47 pm" src="https://user-images.githubusercontent.com/16620120/50566981-a4ac4500-0d0d-11e9-8401-b2e4925ccb96.png">

I can hop on hangout link at 330

[2018-12-31 20:14] j-chimienti commented on #1
I can run the aggregate in BE, but FE only calls for continent stats

[code]

[2018-12-31 20:17] giftedprimate commented on #1
Ah, I think I know what's going on. There is cases where there will be documents in playeraccount that are not in user_stats. Let me try making them the same and see if I can get the data. If this is the case we will definitely want to make sure we can handle this case.

[2018-12-31 23:59] giftedprimate commented on #690
@JWWeatherman this is partially implemented and deployed to pre-prod.

After you take a look please don't close this one.

[2019-01-01 15:01] giftedprimate commented on #624
Deployed to pre prod

[2019-01-01 23:40] giftedprimate commented on #441
As per the meeting with JW tonight we will make a robot starting position that is 'unknown' to the user.

### Level Gen
    - Will create a gird map key of (RR) that will be compiled into a flag that indicates the robot location is unknow.

### UI
    - Will display this feature is by having the robot move approx. every 1 sec.

### Compiler
    - To ensure the user doesn't know the robots starting

[2019-01-01 23:46] giftedprimate opened #704 "Speed up profile page load speed and give it a splash screen"
- Use local storage or a database table to store the users 'GalaxyData' onbeforeunload so that the compiler doesn't need to recompile this data each time.

- Implement a splash screen so that if the user has a slow load time they aren't left wondering whats going on.

[2019-01-01 23:49] giftedprimate opened #705 "Make a flag that indicates the robot start position is 'Unkown'"
As per the meeting with JW tonight we will make a robot starting position that is 'unknown' to the user. Decision on #441

### Level Gen
- Will create a grid map key of (RR) that will be compiled into a flag that indicates the robot location is unknown.
### UI
- Will display this feature by having the robot move positions at approx. every 1 sec.
### Compiler
- To ensure the user doesn't know the r

[2019-01-02 00:20] giftedprimate commented on #441
Closing in favor of #705

[2019-01-02 00:20] #441 closed

[2019-01-02 08:11] jaimefm commented on #135
@giftedprimate . i am not sure specifically what you had in mind for this particular animation.. the robot walking....

i am starting by creating an svg animation of the feet moving, before creating the sprite. i am attaching 3 different ideas. a simple movement back and forth, a circular type motion, and legs just swinging back and forth. I am using the css perpective function to rotate the robot

[2019-01-02 13:50] giftedprimate commented on #135
@jaimefm I like the first one the best I think, possibly for all four directions.

Since we last chatted I have created a component located at `ui/src/components/Grid_robot.vue` in the 'scrub-through' branch. The reason for this is that in the next version we are changing the robot's color depending on his state and it also gives us more freedom to animate him.

If you don't mind pulling down the

[2019-01-05 17:55] giftedprimate commented on #704
@JWWeatherman this is deployed to pre-prod. Not much to inspect since pre-prods db is tiny compared to prod. Need to deploy this to prod to see if it solves some of the slow load times.

[2019-01-05 17:56] giftedprimate commented on #680
@willweatherman did you get this?

[2019-01-05 17:57] willweatherman commented on #680
Yes.

[2019-01-05 17:58] giftedprimate commented on #680
Did you leave a comment here letting me know you completed the task?

[2019-01-05 18:00] willweatherman commented on #680
No I have never been in this issue.

[2019-01-05 18:03] giftedprimate commented on #680
K, this one is important because I changed a db table name.

[2019-01-05 18:05] willweatherman commented on #680
Is this an issue I need to get done?

[2019-01-05 18:06] giftedprimate commented on #680
Read them...

[2019-01-05 18:08] willweatherman commented on #680
oh ok. No I did not get the previous @willweatherman. And yes I started the app can you tell me how to drop the user-stats?

[2019-01-05 18:11] giftedprimate commented on #704
@JWWeatherman disregard

[2019-01-05 18:17] giftedprimate commented on #680
db.user_stats.dropDatabase();

[2019-01-05 18:18] willweatherman commented on #680
oh never mind I got it.

[2019-01-05 18:18] willweatherman commented on #680
oh thanks.

[2019-01-05 19:51] giftedprimate commented on #1
@j-chimienti Happy new year!

Just wanted to give you heads up that I am caching the profile state on the client if the session id matches the last cache session id. This is making it so unlocking levels doesn't work because if you have a profile cache it will grab the state from there instead of the server.

This afternoon I plan to write the code needed to handle this case so that the levels are

[2019-01-05 21:32] j-chimienti commented on #1
Ok, one of my todos was to handle level stats after levels unlock (stats
came in response just need to save) and to unlock it required a page
reload. I'll try and get time to look at code changes for hangout

On Sat, Jan 5, 2019 at 2:51 PM Richard Porter <notifications@github.com>
wrote:

[2019-01-05 21:43] giftedprimate commented on #1
Btw, all the tables are indexed now in both master and scrub-through.

[2019-01-05 22:30] giftedprimate commented on #1
It is implemented in both master and scrub-through.

I just figured I'd take case of it since I broke it.

Thanks!

[2019-01-06 00:03] giftedprimate commented on #704
@JWWeatherman deployed to pre-prod

The profile data is now cached in local storage and all the db tables are indexed on the 'tokenId' field. There is also a splash screen in /profile so that the user has something to look at while it is loading. The cache system is built so that the client knows if you are on the same account but you changes machines.

[2019-01-06 14:57] giftedprimate commented on #675
@willweatherman give this one a shot. You will need to draw it with photo shop first. After you have the SVG drawn contact me so that we can work together integrating it into the code.

Thanks!

[2019-01-06 14:57] willweatherman commented on #589
@giftedprimate I am able to test if I am at the beginning of the stream so it will highlight stuff at the beginning of the line.

[2019-01-06 14:59] giftedprimate commented on #589
@willweatherman this isn't the correct issue, please move the comment to #476

[2019-01-06 14:59] willweatherman commented on #675
ok.

[2019-01-06 16:53] jaimefm commented on #135
@giftedprimate . how do i bypass the login screen when running the code base on my machine? i tried logging in with my mathbot username and github account with no luck. i also tried setting the environmental variable as suggested in the readme file.

[2019-01-07 14:20] giftedprimate commented on #135
@jaimefm there is no way to bypass login anymore, we have since updated our auth to be more secure. Here's the steps that should help you get everything up and running.

1) Pull down the 'scrub-through' branch and work off of it until we get it merged into master (you can also merge your master with the upstream master while you're at it)
2) Makes sure you have all the env variables from the readm

[2019-01-08 07:36] jaimefm commented on #135
@giftedprimate. i had misunderstood what the environmental variables were. i just setup a sendgrid account, but for the google api account, seems like they are asking for a website with an authorized domain, and that they need to verify your website before they authorize the account. since this is for a local project, how do i get a key? same for the github key, they seem to want a valid website.

[2019-01-08 15:37] giftedprimate commented on #135
Hi @jaimefm the callback url just needs to match the callback url we send when we do auth. Below are what my google and github forms look like...

- Google
![image](https://user-images.githubusercontent.com/33336425/50840651-f9b11200-1330-11e9-8bea-a43f136a38c4.png)

- Github
![image](https://user-images.githubusercontent.com/33336425/50840687-164d4a00-1331-11e9-9337-c2aaaea2b0f4.png)

This stuff

[2019-01-09 01:32] giftedprimate commented on #1
@j-chimienti I personally prefer dark theme, so that would be great.

[2019-01-09 16:15] willweatherman opened #724 "commands can be dropped in staged functions"
<img width="1678" alt="screen shot 2019-01-09 at 11 13 47 am" src="https://user-images.githubusercontent.com/44322947/50912292-d2754600-13ff-11e9-8653-c061288a0963.png">

[2019-01-09 17:33] j-chimienti opened #725 "unable to drag and drop a function from a user defined function"
When trying to drop a function from a user defined function, sometimes the function isn't removed, but is appended to end

https://drive.google.com/file/d/1d7X0VJAH_Fj6Ws-UmbCXjcdkIm0HbLyI/view

https://drive.google.com/file/d/1T5-LdwEsFH_8JJ0vFF-7W9VwyjvRJYkf/view

[2019-01-09 19:53] giftedprimate commented on #725
My theory as to what is happening is that the activate function component is activating along with the trash component. This is next on my que.

[2019-01-09 23:51] giftedprimate commented on #725
The problem is actually coming from the cursor still bring inside the draggable but the droppable is outside the list. This causes the droppable to go the the end of the list.

I will explore the idea of putting the ghost back in so that there is a visible indicator of where the droppable is located.

[2019-01-10 17:25] PedroXimenez opened #730 "Anders Compensation Request Through 12/15"
Anders, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 17:42] PedroXimenez opened #731 "Console Compensation Request Through 12/15"
Console, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 17:46] PedroXimenez opened #732 "Daniel Compensation Request Through 12/15"
Daniel, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 17:50] PedroXimenez opened #733 "Richard Compensation Request Through 12/15"
Richard, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 17:55] PedroXimenez opened #734 "Joe Compensation Request Through 12/15"
Joe, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 17:59] PedroXimenez opened #735 "Jaimefm Compensation Request Through 12/15"
Jaimefm, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 18:03] PedroXimenez opened #736 "Jordan Compensation Request Through 12/15"
Jordan, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 18:08] PedroXimenez opened #737 "Shane Compensation Request Through 12/15"
Shane, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 18:10] PedroXimenez opened #738 "Nate Compensation Request Through 12/15"
Nate, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 18:14] PedroXimenez opened #739 "Will Compensation Request Through 12/15"
Will, we would like to keep up with this on a monthly basis, but for this request, please post your reward request and a brief explanation of the tasks completed for the following time periods:

8/16 - 9/15
9/16 - 10/15
10/16 - 11/15
11/16 - 12/15

When finished, please paste in your Indie Square wallet address that you want your tokens sent to and assign this issue to JW.

[2019-01-10 18:32] jaimefm commented on #135
@giftedprimate. I was able to get to the gameplay. Two immediate issues are 1) the leg moving animation is constant, we'd need to stop the animation when it's not actually moving. 2) current movement jumps from block to block. In order for it to look a bit better it should maybe slide across.

Is this something I can look at and update? Where to start looking for this?

I'm still not done with all

[2019-01-10 20:14] JWWeatherman opened #740 "Can't approve the admin page due to localhost in link"
The approval email has this link:

http://localhost:9000/api/admin/approved?authenticationId=FrRWL2EOuT0%3D

When I click "approve"

[2019-01-10 20:42] giftedprimate commented on #740
Deployed to prod

[2019-01-10 23:14] JWWeatherman commented on #740
Working great!

[2019-01-10 23:14] #740 closed

[2019-01-11 00:39] giftedprimate opened #743 "Need to include non migrated users from auth0legacy collection in user count"
We need to include non-migrated user from 'auth0legacy' collection in the total user count.

This is easy for the local auth clients since they will have a field called 'migrated' set to true.

The social users however will not have this field so they will need to be compared to the 'playeraccount' users and if they exist there not be included in the final count. Luckily the 'tokenId' field is goi

[2019-01-11 01:00] JWWeatherman opened #744 "Idea for displaying amounts earned and page for sponsorship"
Instead of labeling these amounts let's try displaying them like this:

$4.08 | $0.00

Where the first number is the amount earned and the second is the amount available to download. If the user clicks on these amounts it should take us to a page that will have the following:

Excellent work. You have earned $4.08 by mastering difficult software development and math skills.

Share this link with y

[2019-01-11 01:20] JWWeatherman opened #745 "Bug when loading admin page"
@NateAgapi typed the magic word on the admin page and this is what it displayed (blank page with stars)

![oft8rqdb](https://user-images.githubusercontent.com/32912678/51007321-20c83900-1515-11e9-96c9-8f283c4faf16.jpg)

[2019-01-11 02:08] console-rastling commented on #438
@giftedprimate

This is the implementation of FrameController that supports random access, bi-directional, arbitrary steps of the Processor frames.  The "steps" field has been replaced with a "frames" field and so it looks like this now:
[code]
The output that comes back is a little bit different. Of course, every frame has an index field, but frames will omit empty fields now too.  For example, i

[2019-01-11 08:57] jaimefm commented on #135
@giftedprimate. just wanted to send a couple videos of the robot animations. the 2 issues described above are present. the videos show the robot walking up.

i had a question about this line in Grid_robot.vue
  <div class="grid-robot" :class="'grid-robot-' + direction">

does this mean that each direction has a separate class name? in addition to "grid-robot" for all directions?

I ask because in

[2019-01-11 14:30] giftedprimate commented on #135
@jaimefm I think you may still be on the master branch. The `Grid_robot.vue` component is currently only on the `scrub-through` branch.

`Grid_robot.vue` has all 4 directions laid out and is using props to control each direction with v-if statements to control which direction is rendered. Below is what the component template looks like.

[code]

[2019-01-11 16:08] giftedprimate commented on #135
@jaimefm About your first comment.

1) the leg moving animation is constant, we'd need to stop the animation when it's not actually moving.

    - This is a good point and one I hadn't thought of. I think the best approach will be to use a vue binded class (e.g. :class="") that watches for the robot state. The way to get the robot state would be to add a computed property called `levelControl` (ch

[2019-01-11 16:13] giftedprimate opened #748 "Remove active users form admin page"
JW would like to remove this because he doesn't feel that it is a very accurate way to know who is actually playing at any given time.

![image](https://user-images.githubusercontent.com/33336425/51045415-822ded80-1591-11e9-97e5-32b2f945821f.png)

Admin looks great btw!

[2019-01-11 16:14] giftedprimate opened #749 "Need to add events to new player account gragh"

[2019-01-11 16:20] giftedprimate commented on #745
@NateAgapi Can you try to delete your site data and try again...

1) Right click the browser window
2) Select inspect element
3) Click application (sometimes you will need to click the little '>>>' to get to it)
4) Click storage

You will need to re-authenticate. If the problem persists can you send me a screen shot of your console...

1) Right click the browser window
2) Select inspect element
3)

[2019-01-11 16:43] giftedprimate commented on #733
510 hrs from 9/16 - 12/31 @ $60 hr = $30,600.00

All my work is recorded in issues and pull requests.

Thanks!

[2019-01-11 18:11] PedroXimenez commented on #731
@console-rastling
Please confirm if the calculation below looks accurate for your hours for the time period 8/16 - 12/15:
17 wks * 6 hrs/wk * $150/hr  = $15,300
Thanks.

[2019-01-11 19:17] PedroXimenez commented on #739
@willweatherman
Please confirm if the calculation below looks accurate for your hours for the time period 8/16 - 12/15:
3 wks * 15 hrs/wk * $18/hr = $810
Thanks.

[2019-01-11 19:18] willweatherman commented on #739
Yes, that looks correct. Thanks.

[2019-01-11 19:42] console-rastling commented on #731
Summary of contributions:

- Move authentication in house. #73  ~43 hours (8/20 and 10/29)
- Compiler stops responding on long recursive functions.#504 ~9 hrs (8/21-8/28)
- Build a Lisp interpreter server side #373 ~22 hrs (9/11-11/20)
- Highlight the command the robot is currently executing (feature idea) #442 ~6 hrs (11/26-11/27)
- Need a "holding anything" conditional #437 ~3 hrs (12/3)
- MBL:

[2019-01-11 19:56] willweatherman commented on #739
Hi, @PedroXimenez  here is my receive address for Indie Square. 1MRhtSmLhG2MLNvEuJfDHfGhe9iRTaWfVc

[2019-01-12 14:44] j-chimienti commented on #749
I'm displaying the events as Gridlines (working in pre prod for me as well)

<img width="1176" alt="screen shot 2019-01-12 at 9 05 50 am" src="https://user-images.githubusercontent.com/16620120/51074127-46eef580-1649-11e9-9529-99bf46e6b24d.png">

### Filter by event date

You can change also change min / max date on signups per day graph by selecting event

<img width="1167" alt="screen shot 2019-

[2019-01-14 17:58] PedroXimenez commented on #731
@console-rastling
Console, that's awesome! Thank you for the detailed update.

[2019-01-14 20:16] PedroXimenez commented on #731
@console-rastling
Would you also please verify that 1Gk3Vew7HeGu16xYaLpE1Xpw4tZrvYf5YA is still a good address for you?

[2019-01-14 20:19] console-rastling commented on #731
Yes. Still good.

[2019-01-14 20:37] PedroXimenez commented on #731
Excellent, thanks!

[2019-01-14 20:38] PedroXimenez commented on #733
Excellent, thank you!

[2019-01-14 20:39] PedroXimenez commented on #734
Excellent Joe, thank you!

[2019-01-15 14:50] giftedprimate commented on #733
@PedroXimenez I received the PU's, Thanks!

[2019-01-15 14:50] #733 closed

[2019-01-15 15:33] j-chimienti commented on #734
Thanks I received the PUs

On Mon, Jan 14, 2019 at 3:39 PM Pedro Ximenez <notifications@github.com>
wrote:

[2019-01-15 16:30] PedroXimenez opened #752 "Pedro Compensation Request Through 1/15/19"
6 hrs * $65/hr = $390

Indie Square wallet address is 1HBhfioXSBVpgYmvAYnDF992bjWMzSmTGC.

Thanks!

[2019-01-15 16:31] JWWeatherman commented on #752
approved.

[2019-01-15 17:40] #734 closed

[2019-01-15 18:10] PedroXimenez commented on #752
Got them, thanks!

[2019-01-15 18:11] #752 closed

[2019-01-15 18:16] PedroXimenez commented on #731
@console-rastling
Console, just wanted to verify that you received the tokens?

[2019-01-15 18:58] PedroXimenez commented on #673
Please confirm if the calculation below looks accurate for your hours for the time period 8/16 - 12/15:
17 wks * 30 hrs/wk * $100/hr = $51,000
Thanks.

[2019-01-15 18:58] console-rastling commented on #731
Yes. Looks like I got them.

[2019-01-15 20:23] PedroXimenez commented on #731
Great, thank you!

[2019-01-15 20:24] #731 closed

[2019-01-15 20:32] PedroXimenez commented on #356
Closing this issue as this reward request was accounted for under issue #731.

[2019-01-16 15:02] giftedprimate commented on #749
@j-chimienti I do have the line, I just didn't have the dates set properly. I think it may be a good idea to simplify the date selection to just be between 2 dates. What do you think @JWWeatherman ?

[2019-01-16 15:14] giftedprimate commented on #438
Starting FE now.

[2019-01-16 16:53] JWWeatherman opened #756 "add the timezone to the times on the admin page"
Nate and I are trying to figure out the effectiveness of some tweets and knowing the timezone of the signup dates would be helpful.

[2019-01-16 23:02] giftedprimate opened #757 "Commands don't stay where the client placed them after refresh"
- [x] Fix `PreparedFunctions.vue` so that the functions stay in order on initial load.

[2019-01-17 01:01] #743 closed

[2019-01-17 13:48] j-chimienti commented on #756
Signups data:

1. grouped by day in database call
1. do not include the non-migrated auth0legacy users in the data.

I think it would be better to project created field from db call, and have the FE handle reducing the data

[2019-01-17 14:01] j-chimienti commented on #756
I'd be fun to make a tweet helper. We could:

1. create event details and insert into db  with  tweet link
1.  init collection w/ tweets

[2019-01-17 15:40] JWWeatherman commented on #756
That’s ok. We are only going to add tweets that have a really high click though rate and seem to create a spike and your event adding front end is super easy. Really good job on all that man.

On Thu, Jan 17, 2019 at 9:01 AM, Joe Chimienti <notifications@github.com> wrote:

[2019-01-17 16:40] j-chimienti commented on #756
Ok yep not worth effort

I was able to project the created field for both playeraccount and auth0Legacy (unmigrated social & local users).

assuming auth0legacy created_at field is in the following format:

        "yyyy-MM-dd'T'HH:mm:ss"

This returns

<img width="640" alt="screen shot 2019-01-17 at 11 36 35 am" src="https://user-images.githubusercontent.com/16620120/51333627-25787a00-1a4c-11e9-9

[2019-01-17 19:13] #356 closed

[2019-01-17 19:18] PedroXimenez commented on #730
@AndersBTC
Anders, do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 19:19] PedroXimenez commented on #732
@damujen Hi Daniel, do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 19:21] PedroXimenez commented on #735
@jaimefm, Do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 19:21] PedroXimenez commented on #736
@jordanBTCplz Jordan, do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 19:22] PedroXimenez commented on #737
@LUA2018 Shane, do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 19:23] PedroXimenez commented on #738
@NateAgapi Nate, do you have any updates regarding the request above?
Thanks, Pedro.

[2019-01-17 20:20] JWWeatherman commented on #749
I'm cool with either way. Whatever is easiest for you guys.

[2019-01-17 21:10] j-chimienti commented on #749
I agree w/ @giftedprimate, I'll simplify the to just 'between'. dates 'on' and 'before' could be troublesome down the road

[2019-01-18 06:37] jaimefm commented on #135
@giftedprimate. i'm not sure i understand the output of  "console.log(this.robot)" that you suggested above. i'm using firefox, and i see for example the "robotFacing" variable. see attached screenshot. i can't seem to find the value. i can just keep recursing deeper into the function calls.  how do i see the actual value of the variable?

![console](https://user-images.githubusercontent.com/40052

[2019-01-18 15:38] giftedprimate commented on #135
@jaimefm I am using Chrome and my output looks like...

![image](https://user-images.githubusercontent.com/33336425/51395567-20c6cb00-1b0b-11e9-9d80-79d9a1b46999.png)

I ran it in Firefox and got the same thing as your screen shot. I did a little research and found out that this is a bug in Firefox where it shows the getters and setters instead of the value. The work around is to do `
console.log(

[2019-01-18 21:16] giftedprimate commented on #438
@console-rastling there is a bug with the robot animation. The robot holding field is being replaced by the animation string. I have written a function to handle this temporarily until you are able to work on it again.

![image](https://user-images.githubusercontent.com/33336425/51413192-107b1400-1b3c-11e9-9e0e-db75e7d7a65d.png)

Temporary function is located in `ui/src/services/GridAnimator.js`

[2019-01-18 21:30] giftedprimate commented on #438
@console-rastling grid changes are being placed in holding as well.

![image](https://user-images.githubusercontent.com/33336425/51413751-f0e4eb00-1b3d-11e9-8f72-b12f4ca0e4ac.png)

[2019-01-18 23:11] #680 closed

[2019-01-18 23:12] #724 closed

[2019-01-18 23:15] giftedprimate commented on #3
Closing this issue since we have gone to the avatar.

[2019-01-18 23:15] #3 closed

[2019-01-21 19:18] NateAgapi commented on #738
I'm pretty sure JW has already paid out tokens for one or two of those periods. I just DM'd him on Twitter about this and he'd really appreciate it if you could double-check to see which months we've already covered.

On my time sheet I have a sum after 9-15, so I know JW has paid out that session. I don't have any more sums, but I think he may have done sep-oct too. But I can't remember for sure.

[2019-01-21 19:50] NateAgapi commented on #745
This bug just went away. I noticed it went away before I even saw this. I didn't do anything for it to go away.

[2019-01-21 21:01] giftedprimate commented on #745
@NateAgapi I love self destructive bugs! Thanks Nate.

[2019-01-21 21:01] #745 closed

[2019-01-22 19:54] jaimefm commented on #135
@giftedprimate.

i'm still working first on starting and stopping the animation...

when i select the play function and i only move 1 step, i see the following sequence from GridAnimator.js

initializeAnimation  state: "running"   IsLastorFirstFrame = True
_moveRobot
_animate   state: "running"      walk
_updateGrid   state: "running"
_removeAnimations  state: "running",   robot-shake
_updateGrid

[2019-01-22 20:03] jaimefm commented on #735
@PedroXimenez .. i haven't really considered taking tokens for the svg worked i've helped with. You can close out this issue. if i were to contribute substantially in the future i would consider submitting for a compensation request, for any new work. thank you though

[2019-01-23 18:36] giftedprimate commented on #725
@j-chimienti can you confirm that your cursor was outside the draggable zone?

[2019-01-23 18:56] giftedprimate opened #776 "Implement sound controls"
@JWWeatherman What do you think of these icons?

- [ ] All on
  - ![](https://res.cloudinary.com/doohickey/image/upload/c_scale,w_100/v1548269327/noun_Sound_1011313_1a1a1a_yczzuw.png)

- [ ] All off
  - ![](https://res.cloudinary.com/doohickey/image/upload/c_scale,w_100/v1548269336/noun_Sound_920377_1a1a1a_x4mqnm.png)

- [ ] No music
  -  ![](https://res.cloudinary.com/doohickey/image/upload/c_sca

[2019-01-23 22:00] giftedprimate commented on #757
I decided to remove the client side caching for now since this was causing massive issues with ordering.

[2019-01-23 22:01] #757 closed

[2019-01-24 16:05] JWWeatherman commented on #776
I like the first two. For the third one I think we should just show the robot feet (the third one would make me think it is also mute).

[2019-01-24 16:05] JWWeatherman opened #779 "When you click next level from level 3, level 4 doesn't automatically play the hint video"
Screen recording attached. (https://drive.google.com/file/d/1ln_APAjenRyXRiuP9bmqjY0Yc-EFqr0E/view?usp=sharing)

Repo steps:

1. From the profile click Coding Level 4.
2. Notice the free hint pops up.
3. Click Level 3 and pass and click next level.
4. Notice the free hint does not pop up.

[2019-01-24 16:07] JWWeatherman opened #780 "On Coding level 4 let's make the command bar empty at start"
Let's try making the command bar empty on this level since it is a UX hurdle of a level and this might help a bit.

https://drive.google.com/file/d/1ln_APAjenRyXRiuP9bmqjY0Yc-EFqr0E/view?usp=sharing

[2019-01-24 16:08] JWWeatherman opened #781 "When you start the game, start inside level 1, not on the profile page"
I think we did this intentionally to try to get people to understand the game layout, but we are seeing a lot of signups that don't play through the first level so maybe this will help to build momentum before they leave.

https://drive.google.com/file/d/1ln_APAjenRyXRiuP9bmqjY0Yc-EFqr0E/view?usp=sharing

[2019-01-24 17:36] willweatherman opened #782 "Add tmp payments bar to grid"

[2019-01-24 19:53] j-chimienti commented on #725
My cursor was outside the draggable zone.

I revisited today, and was unable to recreate error. The functions are dropped when more than half of icon is outside zone, and not seeing any bugs

https://drive.google.com/file/d/1o193-4ELqbWgn_x9CWx1j_foWOQM68c0/view?usp=sharing

[2019-01-24 22:36] PedroXimenez commented on #738
@NateAgapi Thanks Nate. Yeh, it looks like there were some tokens issued the end of September and again mid October. If that sounds right to you and if there's no additional requests, I will close this out.

[2019-01-24 22:39] PedroXimenez commented on #735
@jaimefm Thank you!

[2019-01-24 22:39] #735 closed

[2019-01-24 22:45] PedroXimenez commented on #730
I understand there hasn't been any recent activity so I will close this out. Thank you.

[2019-01-24 22:45] #730 closed

[2019-01-24 23:31] giftedprimate commented on #780
@JWWeatherman I think it would be a good idea to do this on any level where main has a size limit, do you agree? Mainly so that it is obvious there is a limit in main.

[2019-01-24 23:33] giftedprimate commented on #781
@JWWeatherman is it Ok if I make it so anytime a user signs in they immediately go to `/robot`? This would simplify our code a bit and I think it would have the same effect with our existing user as well.

[2019-01-25 00:55] JWWeatherman commented on #781
Sure, that makes sense.

On Thu, Jan 24, 2019 at 6:33 PM, Richard Porter <notifications@github.com> wrote:

[2019-01-25 00:56] JWWeatherman commented on #780
Yea, let’s try that.

On Thu, Jan 24, 2019 at 6:31 PM, Richard Porter <notifications@github.com> wrote:

[2019-01-25 01:52] giftedprimate commented on #725
Awesome, my favorite kind of bug! Thanks man.

[2019-01-25 01:52] #725 closed

[2019-01-25 13:36] NateAgapi commented on #738
I'll need to get you the token count I'm requesting for the remainder. I'll do that later today. But make sure you alert everyone else to this error, otherwise they will double-bill JW.

[2019-01-26 14:50] giftedprimate commented on #782
@willweatherman, @JWWeatherman has decided he would like to only show the amount earned above the grid. e.g.

instead of
[code]

do
[code]

[2019-01-26 14:51] willweatherman commented on #782
Roger.

[2019-01-26 15:11] JWWeatherman opened #789 "Footer on the 10hours site"
Let's throw on a footer with two links:

Feedback (linked here: https://twitter.com/JWWeatherman_)

Donations (linked here:  https://tippin.me/@JWWeatherman_)

[2019-01-26 15:13] giftedprimate commented on #789
@JWWeatherman there is a repo for this project in case you want to put this issue there.

[2019-01-26 15:16] JWWeatherman commented on #789
Good call. Closing here.

[2019-01-26 15:16] #789 closed

[2019-01-26 15:17] giftedprimate commented on #789
Sweet, thanks!

[2019-01-26 15:22] JWWeatherman opened #790 "UI Nitpicks :] The heading is a few pixels to tall"
The image on the left is the template site and on the right is our site:

<img width="408" alt="screen shot 2019-01-26 at 10 20 37 am" src="https://user-images.githubusercontent.com/32912678/51789185-357f1080-2154-11e9-93c4-0cb2e7100240.png">

[2019-01-26 15:24] JWWeatherman opened #791 "UI Nickpick :] The link needs a little more space and to be grey"
Let's add a little more padding between the Read link and the bottom of the listen button and also change the color to light grey:

<img width="415" alt="screen shot 2019-01-26 at 10 23 02 am" src="https://user-images.githubusercontent.com/32912678/51789219-8bec4f00-2154-11e9-97c0-fa8be88f68b3.png">

[2019-01-26 15:31] giftedprimate commented on #790
Dev nitpick :] wrong repo ;)

[2019-01-26 15:32] giftedprimate commented on #791
Dev nitpick :] wrong repo ;{)

[2019-01-26 15:32] JWWeatherman commented on #790
Dang it!

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday, January 26, 2019 10:31 AM, Richard Porter <notifications@github.com> wrote:

[2019-01-26 15:38] JWWeatherman commented on #790
I'm going to close this anyway. It looks perfect on other devices and it looks so good in this case that it's not worth changing.

[2019-01-26 15:38] #790 closed

[2019-01-26 15:41] JWWeatherman commented on #791
:]

[2019-01-26 15:41] #791 closed

[2019-01-26 15:44] giftedprimate commented on #776
@JWWeatherman

Feet...

![](https://res.cloudinary.com/doohickey/image/upload/v1548517093/robot-feet_pberjh.svg)

I also changed the sound off icon so it better matches sound on...
![](https://res.cloudinary.com/doohickey/image/upload/c_scale,w_100/v1548515396/noun_no_sound_789768_1a1a1a_iwsb6n.png)

I'll make the feet bigger, I just need to tweak the svg a little bit to do so.

[2019-01-26 15:45] JWWeatherman commented on #776
Perfect! Very cute.

[2019-01-26 16:30] giftedprimate commented on #624
Moving this issue back to To Do as @willweatherman has some more work to do here.

[2019-01-26 16:31] JWWeatherman commented on #666
cool.

[2019-01-26 16:31] JWWeatherman commented on #653
Awesome.

[2019-01-26 16:31] #653 closed

[2019-01-26 16:36] #644 closed

[2019-01-26 16:36] JWWeatherman commented on #643
Looks good.

[2019-01-26 16:36] #643 closed

[2019-01-26 16:37] JWWeatherman commented on #642
Ok, will keep an eye out for a repro, but I bet it was related to an old account.

[2019-01-26 16:37] #642 closed

[2019-01-26 16:38] JWWeatherman commented on #636
Looks awesome. Nice job doing that tedious work @willweatherman

[2019-01-26 16:38] #636 closed

[2019-01-26 16:46] NateAgapi commented on #738
10/16 - 11/15. Tasks: copy research, writing copy, Youtube scheduling and coordination, forum administration, coordinating with contributors. 18.75 hours * 150 tokens per hour = 2812 tokens requested for time period.

11/16 - 12/15. Tasks: YouTube scheduling and live stream coordination. 5 hours * 150 = 750 tokens requested for time period.

Total: 3562 tokens requested.

[2019-01-26 16:47] giftedprimate commented on #776
Placement...

![image](https://user-images.githubusercontent.com/33336425/51790221-2900b500-2160-11e9-9659-30476dfb4acd.png)

[2019-01-26 16:48] JWWeatherman commented on #635
This is really looking awesome. Fun to see this go from a scratch on paper to a great feature so quickly.

[2019-01-26 16:49] JWWeatherman commented on #627
Loving it.

[2019-01-26 16:49] #627 closed

[2019-01-26 16:51] JWWeatherman opened #792 "Scroll bars are too short"
I never noticed this because I use two finger touch to scroll left and right on a touch pad, but if you are trying to grab these bars with an old school mouse and pointer it is really hard.

Even though it will make it uglier we should increase the height by 300% if possible.

<img width="392" alt="screen shot 2019-01-26 at 11 49 48 am" src="https://user-images.githubusercontent.com/32912678/51790

[2019-01-26 17:09] JWWeatherman commented on #619
Looks good.

[2019-01-26 17:09] #619 closed

[2019-01-26 17:09] JWWeatherman commented on #596
Looks great.

[2019-01-26 17:09] #596 closed

[2019-01-26 17:13] JWWeatherman commented on #589
Very cool!

[2019-01-26 17:13] #589 closed

[2019-01-26 17:13] JWWeatherman commented on #435
Awesome.

[2019-01-26 17:13] #435 closed

[2019-01-26 17:14] JWWeatherman commented on #434
Is this just a duplicate bug? If so please close it.

[2019-01-26 17:14] JWWeatherman commented on #433
Duplicate?

[2019-01-26 17:14] JWWeatherman commented on #353
Duplicate?

[2019-01-26 17:15] JWWeatherman commented on #220
Closing for now.

[2019-01-26 17:15] #220 closed

[2019-01-26 17:16] giftedprimate commented on #776
Functionality (it may be covered by the play button at first)...

https://drive.google.com/file/d/1kD9IgSdVOejD1L3shYFzyeDpW8l6aQB2/view?usp=sharing

[2019-01-26 21:33] giftedprimate commented on #792
This is sized with view port sizing (vmin) so 50% bigger is about right...

![image](https://user-images.githubusercontent.com/33336425/51792991-b3a8da80-2187-11e9-8787-6761e67d9436.png)

[2019-01-26 21:42] JWWeatherman commented on #792
Perfect. Only visible when needed?

On Sat, Jan 26, 2019 at 4:33 PM, Richard Porter <notifications@github.com> wrote:

[2019-01-26 21:44] giftedprimate commented on #792
Yes, only when the div is overflowed. Main is visible when 50% of it is filled, this is because the last dropped is always centered if possible.

[2019-01-26 21:46] JWWeatherman commented on #792
Awesome.

On Sat, Jan 26, 2019 at 4:44 PM, Richard Porter <notifications@github.com> wrote:

[2019-01-27 01:03] giftedprimate commented on #705
@console-rastling The level gen and FE are built for this feature. If either x or y (or both) are -1 the robot's start location is unknown. If the start position is unknown the compiler can pick a random position within the grid to start the robot.

[2019-01-28 16:31] j-chimienti commented on #744
Cool, so link to sponsorship page link needs to be human readable and provide way to BE to grab data on HTTP request.

### Plan

* Create user_sponsorship collection to hold donations

[code]

* User Sponsorship page:
 Map email to playeraccount tokenId and lookup user_stats and user_sponsorship data

* Pages

page | secure
--- | ---
/amountEarned | true
/sponsorship/:email | false
/sponsorship/:e

[2019-01-28 18:01] PedroXimenez commented on #738
Thanks Nate! Is 1ARKvywA1hwcLiBbKxg2Bybw8ypBKbczii still a good address to send the tokens?

[2019-01-28 18:51] giftedprimate commented on #705
Random location demo on FE...

https://drive.google.com/file/d/1x9g9GYTtT5HcLwIidrpQnROtfeA6_xxE/view?usp=sharing

[2019-01-28 21:10] NateAgapi commented on #738
Yes.

[2019-01-29 17:18] PedroXimenez commented on #353
Yes. Closing this issue since it was covered under issue #673.

[2019-01-29 17:18] #353 closed

[2019-01-30 00:34] JWWeatherman opened #804 "Gammer wallet page mockup"
Here is a mockup of the students wallet.

Because they can earn, spend and get funds sponsored and all of this changes their available balance I went with a date, description of the transaction and an available balance to try to keep it simple.

The green area in the chart should look like green grass and the grey area should look like stone. The idea is that the height of the hill shows how much

[2019-01-30 16:42] PedroXimenez commented on #738
Tokens have been sent. Please confirm once tokens have been received.
Thanks!

[2019-01-30 17:52] JWWeatherman opened #806 "Need an exported list of all mathbot signups"
Don't attach the list to this issue as it has sensitive info, but you could throw it in google drive and share it with:

mathbotcopy@gmail.com
jw@jwweatherman.com

We need the email addresses of everyone that has signed up to date so we can hit them with the email sequence. It's not urgent, but it would be good to get a few more daily active users testing for us.

Assign this to @NateAgapi  when d

[2019-01-30 19:14] NateAgapi commented on #804
So on a first read through, my question is: "What is needs sponsor?" This is a seriously large spike on the copy slide. I still don't know what you mean by "And the stone area shows the amount they could spend (dig into) if they get sponsored."

Whatever that means, it must be effortlessly communicated, or you'll lose people really fast. First off, I need to understand it. Then I can work on creat

[2019-01-30 22:12] giftedprimate opened #808 "Promo Codes"
- Plan
  1) User signs up
  2) We give user a promo code that they can then give to other users
  3) People use there promo code to receive a reward of some sort when they sign up
  4) We then pay users Powerups when people use there promo code

- Benefits
  1) Encourages users to tell other people about Mathbot
  2) Creates power users since they will be part of the organization and have skin in

[2019-01-31 15:34] NateAgapi commented on #804
Is that something that will be explained before they get to this screen?

[2019-02-02 20:11] giftedprimate opened #811 "!!!IMPORTANT!!! Need to re-fork this project"
Hey Guys,

We recently marked Mathbot private. GitHub by design moves all the forks to another repo (it ended up being mine) when this happens on an existing repo. We have since made the repo public. We will all need to delete our current forked repos the re-fork JW's.

1) Make sure your local machine is up to date with your repo
2) Delete your copy of the repo
3) Go to https://github.com/jwweathe

[2019-02-02 21:46] giftedprimate opened #816 "scrub-through is merged into master"